{% load json %}
<ul class="check-options {% block checkbox-select-class %}{% endblock checkbox-select-class %}">
  {% for group_name, choices in optgroups %}{% for choice in choices %}
  <li>
    <input {% if choice.0 in value %}checked="checked" {% endif %}class="value{% if choice.0 in initial %} initial{% endif %} {% block choice-extra-classes %}{% endblock %}" type="checkbox" id="{{ attrs.id }}_{{ forloop.counter }}" name="{{ name }}" value="{{ choice.0 }}"{% if choice.1.group_ids %} data-group-ids="{{ choice.1.group_ids|jsonify }}"{% endif %}>
    <label for="{{ attrs.id }}_{{ forloop.counter }}" class="type">
      {% with choice.1 as obj %}
      {% block label-text %}{{ obj }}{% endblock %}
      {% endwith %}
    </label>
  </li>
{% endfor %}{% endfor %}
</ul>
