// ---------------------------------------------------------------------------
// Imports

@import "base/settings";
@import "general/root";

@import "compass/layout";
@import "layout/helpers";
@import "layout/boilerplate";
@import "layout/banner";
@import "layout/main";
@import "layout/contentinfo";

@import "modules/user-login";
@import "modules/user-edit";
@import "modules/user-password";

// App
$original-cols: $total-columns;
$total-columns: $break-cols;

@import "modules/village";
@import "modules/village-forms";

$total-columns: $original-cols;

// @import "modules/feed-profile";
// @import "modules/feed-combined";
// @import "modules/feed-post";

@import "plugins/loading";
@import "plugins/messages";

@import "modules/village-landing";
