// ---------------------------------------------------------------------------
// Imports

@import "base/settings";
@import "general/root";
@import "layout/helpers";
@import "plugins/messages";
@import "plugins/loading";

// ---------------------------------------------------------------------------
// Settings

$total-columns: 6;
$break-cols: 12;
$break: 50em $break-cols lt-ie9;

// ---------------------------------------------------------------------------
// Footer

$boiler-link-color: $base3;

[role="contentinfo"] {
  @include container($total-columns, $break);
  @include pie-clearfix;
  @include rhythm(0,.5,.5,0);
  clear: both;
  a {
    #{$link} { color: $boiler-link-color; }
    #{$focus} { color: mix($boiler-link-color,$accent); }
  }
  .author {
    @include adjust-font-size-to($xxsmallpx);
    @include trailer(0);
    text-transform: uppercase;
  }
  strong { font-weight: bold; }
}

// ---------------------------------------------------------------------------
// Village Landing Page

.village-landing {
  @extend %type;
  @include padding-leader;
  color: $base;
  background: $base3;
}

// ---------------------------------------------------------------------------
// Intro

.intro {
  @include container($total-columns,$break);
  @include at-breakpoint($break) {
    .summary { @include span-columns(5 omega); }
    .screenshot {
      @include span-columns(7);
      position: relative;
      z-index: 20;
    }
    .membership {
      @include prefix(7);
      clear: right;
      > * { margin-left: gutter(5); }
     .overlay {
        @include background(linear-gradient(top,rgba($base03,.5),transparent));
        left: columns(7);
        margin-left: 0;
      }
   }
  }
}

[role="banner"] {
  @include adjust-font-size-to($largepx);
  @include trailer(1,$largepx);
  b { font-weight: normal; }
}

.offer { @include adjust-font-size-to($large-normpx); }

ul {
  @include no-style-list;
  @include trailer;
}

li {
  .summary &, .benefits & {
    @extend %icon;
    @extend %icon-checkmark;
    position: relative;
    padding-left: 1.5em;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .summary & {
    @include trailer(.5);
    &::before { color: $green; }
  }
}

.screenshot {
  @include trailer;
  figcaption { @include adjust-font-size-to($smallpx); }
}

.membership {
  @extend %bleed;
  @include leading-border(1px,1);
  @include padding-trailer;
  @include background(mix($alt,$base3,25%));
  @include background(linear-gradient(top, rgba($alt,.25), rgba($alt,0)));
  border-color: $base1;
  .errorlist {
    @include adjust-font-size-to($smallpx);
    margin: 0;
    padding: 0;
  }
  .offernote { font-style: italic; }
  .benefits { color: $base1; }
}

.formfield {
  @include clearfix;
  &::after { clear: none; }
  label { @extend %gone; }
  input { @include span-columns(3,5); margin-right: 0; }
  .action-betasignup {
    @extend %ellipsis;
    @include span-columns(2 omega,5);
  }
}

// ---------------------------------------------------------------------------
// Team

@mixin photo(
  $position : left,
  $from     : $xxxlargeem,
  $to       : $xxsmallem
) {
  @if $position == left {
    @include border-left-radius($from);
    @include border-right-radius($to);
  } @else {
    @include border-right-radius($from);
    @include border-left-radius($to);
  }
}

.team {
  @include padding-leader(2);
  @include background($base03);
  @include background-image(
    linear-gradient(top, $base03, rgba($base03,0), rgba($base03,0), $base03),
    linear-gradient(left, rgba($base01,.75), rgba($base03,.75), rgba($base03,.75), rgba($base01,.75)),
    image-url('landing/space.png')
  );
  @include background-size(cover);
  background-attachment: fixed;
  color: $base1;

  .container { @include container($total-columns,$break); }
  .fn {
    @include adjust-font-size-to($medpx);
    color: $base2;
    @include at-breakpoint($total-columns) {
      @include adjust-font-size-to($largepx);
    }
  }
}

.pyo {
  @include trailer(2);
  @include border-radius(rhythm(1));
  @include box-shadow($base03 0 0 rhythm(.5));
  clear: both;
  padding: rhythm(1);
  background: rgba($base01,.25);
  p { margin: 0; }
  @include at-breakpoint($break) {
    @include pad(3,3);
  }
}

.dev {
  @include pie-clearfix;
  @include trailer(1.5);

  .fn, .bio { @include span-columns(4 omega); }
  .photo {
    @include span-columns(2);
    @include photo(left);
    @include box-shadow($base 0 0 rhythm(.5));
    overflow: hidden;
  }

  &:nth-child(odd) {
    .fn, .bio {
      @include remove-omega;
      text-align: right;
    }
    .photo {
      @include photo(right);
      @include omega;
    }
  }

  $pre      : 1;
  $pics     : 2;

  $post     : $pre + $pics;
  $ctext    : $break-cols - $pre - $post;
  $bios     : $ctext - $pics;

  .no-nth-child & {
    @include pad($post,$post,$break-cols);
  }

  @include at-breakpoint($break) {
    &:nth-child(even) { @include pad($pre,$post); }
    &:nth-child(odd) {
      @include pad($post,$pre);
      .fn, .bio { margin-right: 0; }
    }

    .fn, .bio { width: columns($bios, $ctext); }
    .photo {
      width: columns($pics, $ctext);
      margin-right: 0;
     }
  }
}
