{# Content Template #}
{# STUDENT and GROUP references should always be linked. #}

{# 1. Requested Posts - parents then teachers, internally ordered by time #}

{# 1.1 Single Posts #}

# In { STUDENT }'s village:

{# context & new posts, standard post details #}
{ POSTS }

{# 1.2 Bulk Post #}
{# only treat as bulk if it went to more than one of my villages #}

# In { STUDENT }, { STUDENT }, { STUDENT }, and { NUMBER - 3 } more villages:

{# no context, standard post details #}
{ POST }

{# 2. Requested Activity #}

- { STUDENT }'s village was created by { PARENT } ({ ROLE }){# if group #} in the { GROUP } group{# endif #}.
- { TEACHER } added you to { STUDENT }'s village.
- { TEACHER } joined { STUDENT }'s village.

{# 3. Non-Requested Posts + Activity - ordered by time #}

- { STUDENT } has new posts from { TEACHER/PARENT }, { TEACHER/PARENT }, and { TEACHER/PARENT }.
- { STUDENT }, { STUDENT }, { STUDENT }, and { NUMBER - 3 } more have a bulk post from { TEACHER/PARENT }.
- { PARENT } ({ ROLE }) created a village for { STUDENT }{# if group #} in the { GROUP } group{# endif #}.
- { TEACHER } added you to { STUDENT }'s village.
- { TEACHER } joined { STUDENT }'s village.

{# 2 and 3 don't need headers in the html, but will be styled differently. #}
{# They should be distinct html blocks. #}
