<h1>Recent activity in Portfoliyo:</h1>

{# 1. Requested Posts - parents then teachers, internally ordered by time #}

{# 1.1 Single Posts #}

{% for village in villages %}
  {% include "activity/_village_posts.html" %}
{% endfor %}

{# 1.2 Bulk Post #}
{# only treat as bulk if it went to more than one of my villages #}

{% for combo_of_villages in combos_of_villages %}
  {% include "activity/_bulk_post.html" %}
{% endfor %}

{# 2. Requested Activity #}

<ul class="requested">
  {% for student in students %}
    {% include "activity/_new_student.html" %}
  {% endfor %}
  {% for village in villages %}
    {% include "activity/_added_to_village.html" %}
  {% endfor %}
  {% for teacher in teachers %}
    {% include "activity/_new_teacher.html" %}
  {% endfor %}
</ul>

{# 3. Non-Requested Posts + Activity - ordered by time #}

<ul class="nonrequested">
  {% for village in villages %}
    {% include "activity/_village_posts_nonrequested.html" %}
  {% endfor %}
  {# this should loop over each combination of villages for EACH posting teacher #}
  {% for combo_of_villages_per_teacher in combos_of_villages_per_teacher %}
    {% include "activity/_bulk_post_nonrequested.html" %}
  {% endfor %}
  {% for student in students %}
    {% include "activity/_new_student.html" %}
  {% endfor %}
  {% for village in villages %}
    {% include "activity/_added_to_village.html" %}
  {% endfor %}
  {% for teacher in teachers %}
    {% include "activity/_new_teacher.html" %}
  {% endfor %}
</ul>

<p>
--<br />
Don't want email notifications? <a href="{{ profile_url }}">Edit your profile</a>.
</p>
