{% load url from future %}
<h1>Recent activity in Portfoliyo:</h1>

{% include "notifications/activity/_village_posts.html" %}

{% for combo_of_villages in combos_of_villages %}
  {% include "notifications/activity/_bulk_post.html" %}
{% endfor %}

<ul class="requested">
  {% if recipient.notify_new_parent %}
    {% include "notifications/activity/_new_parents.html" %}
  {% endif %}
  {% if recipient.notify_added_to_village %}
    {% include "notifications/activity/_added_to_villages.html" %}
  {% endif %}
  {% if recipient.notify_joined_my_village %}
    {% include "notifications/activity/_new_teachers.html" %}
  {% endif %}
</ul>

<ul class="nonrequested">
  {% include "notifications/activity/_village_posts_nonrequested.html" %}
  {# this should loop over each combination of villages for EACH posting teacher #}
  {% for combo_of_villages_per_teacher in combos_of_villages_per_teacher %}
    {% include "notifications/activity/_bulk_post_nonrequested.html" %}
  {% endfor %}
  {% if not recipient.notify_new_parent %}
    {% include "notifications/activity/_new_parents.html" %}
  {% endif %}
  {% if not recipient.notify_added_to_village %}
    {% include "notifications/activity/_added_to_villages_nonrequested.html" %}
  {% endif %}
  {% if not recipient.notify_joined_my_village %}
    {% include "notifications/activity/_new_teachers.html" %}
  {% endif %}
</ul>

<p>
--<br />
Don't want email notifications? <a href="{{ BASE_URL }}{% url 'edit_profile' %}">Edit your profile</a>.
</p>
