// ---------------------------------------------------------------------------
// Settings

$banner-rhythm: .5;

%banner-item {
  @include padding-leader($banner-rhythm);
  @include padding-trailer($banner-rhythm);
}

// ---------------------------------------------------------------------------
// Banner

[role="banner"] {
  @extend %boilerplate;
  a {
    @extend %banner-item;
    display: block;
  }
}

// ---------------------------------------------------------------------------
// Brand

.brand {
  @include span-columns(2);
  font-weight: bold;
  [rel="home"] {
    @extend %icon;
    @extend %icon-home;
  }
}

// ---------------------------------------------------------------------------
// Navigation

[role="navigation"] {
  @include span-columns(7);
  ul { @include inline-block-list; }
  li {
    margin-right: gutter(7);
    min-width: columns(1,7);
    &:last-child { margin-right: 0; }
  }
  .me { @extend %icon; @extend %icon-comments; }
  .net { @extend %icon; @extend %icon-users; }
}

// ---------------------------------------------------------------------------
// Meta

.meta {
  @extend %banner-item;
  @include span-columns(3 omega);
  position: relative;
  p {
    @extend %icon;
    @extend %icon-settings;
    text-align: right;
    margin: 0;
  }
}

.useractions {
  @include stretch-x;
  display: none;
  top: 100%;
  padding: rhythm(.5);
  background: $back;
  z-index: 900;
  .meta:hover & { display: block; }
}

