// ---------------------------------------------------------------------------
// Settings

$banner-rhythm: .5;

%banner-item {
  @include padding-leader($banner-rhythm);
  @include padding-trailer($banner-rhythm);
}

// ---------------------------------------------------------------------------
// Banner

[role="banner"] {
  @extend %boilerplate;
  a {
    @extend %banner-item;
    display: block;
  }
}

// ---------------------------------------------------------------------------
// Brand

.brand {
  font-weight: bold;
  [rel="home"] {
    @extend %icon;
    @extend %icon-home;
  }

  // large screen
  @include at-breakpoint($break) {
    @include span-columns($left);
  }
}

// ---------------------------------------------------------------------------
// Navigation

$nav-span: $center - 1;

[role="navigation"] {
  @include at-breakpoint($break) {
    @include span-columns($nav-span);
  }
  ul { @include no-style-list; }
  li {
    @include at-breakpoint($break) {
      float: left;
      width: auto;
      margin-right: gutter($nav-span);
      min-width: columns(1,$nav-span);
    }
  }
  .me { @extend %icon; @extend %icon-comments; }
  .net { @extend %icon; @extend %icon-users; }
  .myvillage { @extend %icon; @extend %icon-fire; }
}

// ---------------------------------------------------------------------------
// Meta

.meta {
  position: relative;

  a {
    @extend %icon;
    @extend %icon-settings;
  }
  b { font-weight: bold; }

  [href*="/edit/"] { @extend %icon-settings; }
  [href*="/password_change/"] { @extend %icon-key; }
  [href*="/signup/"] { @extend %icon-exit; }

  @include at-breakpoint($break) {
    @include span-columns($right + 1 omega);
    a { padding: rhythm($banner-rhythm); }
  }
}

.useractions {
  @extend %bleed;

  @include at-breakpoint($break) {
    @include stretch-x;
    top: 100%;
    margin: 0;
    padding: 0;
    background: $back;
    z-index: 900;
    display: none;
    .meta:hover & { display: block; }
  }
}

