// ---------------------------------------------------------------------------
// Settings

$banner-size      : $smallpx;
$banner-rhythm    : .25;

$brand-width      : $left;
$meta-width       : $right + 1;
$announce-width   : $break-cols - $brand-width - $meta-width;

// ---------------------------------------------------------------------------
// Guides

%banner-item { @include rhythm-padding($banner-rhythm); }

// ---------------------------------------------------------------------------
// Banner

[role="banner"] { @extend %boilerplate; }

// ---------------------------------------------------------------------------
// Modules

@import "banner/brand";
@import "banner/meta";
@import "banner/announcements";
