// ---------------------------------------------------------------------------
// Boilerplate

$boiler-link-color: $base3;

%boilerplate {
  @extend .container;
  @include pie-clearfix;
  clear: both;
  a {
    #{$link} { color: $boiler-link-color; }
    #{$focus} { color: mix($boiler-link-color,$accent); }
  }
  @include placeholder { color: rgba($base2,.75); }
}

.container {
  @include container;
  @include susy-grid-background;
}

.pagehead {
  @include adjust-font-size-to($largepx);
  @include trailer(1,$largepx);
}
