// ---------------------------------------------------------------------------
// Boilerplate

$boiler-link-color: $base3;

.container { @include container($total-columns,$break); }

%bleed {
  margin-left: - $grid-padding;
  margin-right: - $grid-padding;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

%boilerplate {
  @extend .container;
  @include pie-clearfix;
  clear: both;
  a {
    #{$link} { color: $boiler-link-color; }
    #{$focus} { color: mix($boiler-link-color,$accent); }
  }
}

img {
  @include box-shadow($back 0 0 .125em);
  max-width: 100%;
  border: 1px solid $back;
}
