// ---------------------------------------------------------------------------
// Bleed

%bleed { @include bleed; }

// ---------------------------------------------------------------------------
// Notes

%notice-base {
  @include pie-clearfix;
  background: $base2;
}

%notice {
  @extend %notice-base;
  @extend %bleed;
  @include rhythm(0,.5,.5,1);
}

// ---------------------------------------------------------------------------
// Simple Pages/Forms

$simple-side: $left + 1;
$simple-width: $break-cols - $simple-side;
$simple-center: $simple-width - $simple-side;

%simple-page {
  @extend %type;
  @include padding-leader(2);
  @include padding-trailer(2);
  form { @extend %formdefaults; }
  @include at-breakpoint($break) { @include pad($simple-side,$simple-side); }
}

%simple-inline-form {
  @include at-breakpoint($break) {
    @include inline-form($simple-side, $simple-center, $simple-center);
    .type { @include pull($simple-side, $simple-center); }
  }
}

%simple-form {
  @extend %simple-page;
  @extend %simple-inline-form;
}

.pagehead {
  @include adjust-font-size-to($largepx);
  @include trailer;
}
