// ---------------------------------------------------------------------------
// Bleed

@mixin bleed($padding: $grid-padding, $sides: left right) {
  @if $sides == 'all' {
    margin: - $padding;
    padding: $padding;
  } @else {
    @each $side in $sides {
      margin-#{$side}: - $padding;
      padding-#{$side}: $padding;
    }
  }
}

%bleed {
  @include bleed;
}

// ---------------------------------------------------------------------------
// Notes

%notice-base {
  @include pie-clearfix;
  background: $base2;
}

%notice {
  @extend %notice-base;
  @extend %bleed;
  @include rhythm(0,.5,.5,1);
}

// ---------------------------------------------------------------------------
// Simple Pages/Forms

%simple-page {
  @extend %type;
  @include pad($left,$right);
}

%simple-form {
  @include inline-form;
}
