// ---------------------------------------------------------------------------
// Main

[role="main"] {
  @include calc(min-height, "100% - #{rhythm(3.125)}");
  overflow: hidden;
  padding: 0 $box-padding;
  color: $base;
  background: $base3;
  .container { @extend %container; }
}
