// ---------------------------------------------------------------------------
// Main

[role="main"] {
  color: $base;
  background: $base3;
  padding: 0 $box-padding;
  .container { @extend %container; }
}
