{% extends "village/_base.html" %}
{% load widget_tweaks %}

{% block village-header %}
  {% block form-header %}{% endblock %}
{% endblock %}

{% block village-content %}
<form method="POST" action="{% block form-action %}{% endblock %}" class="{% block form-class %}{% endblock %}" id="{% block form-id %}{% endblock %}">
  {% csrf_token %}

  {% block form-steps %}{% endblock form-steps %}

  {{ form.non_field_errors }}

  {% include "forms/_field.html" with field=form.name|attr:"placeholder: e.g. 1st Period Math" label="Group Name" %}

  <div class="fieldset relation-fieldset">
    <p class="summary type">
      Highlight existing students & teachers to add them to {% if group %}{{ group }}{% else %}this group{% endif %}.
    </p>
    <div class="details-body">
      {% include "forms/_field.html" with field=form.students %}
      {% include "forms/_field.html" with field=form.elders label="Teachers" %}
    </div>
  </div>

  <div class="form-actions">
    {% block more-actions %}{% endblock %}
    <button type="submit" class="action-post">{% block form-button-text %}{% endblock %}</button>
  </div>

</form>
{% endblock village-content %}
