{% extends "village/_base.html" %}
{% load widget_tweaks %}

{% block village-title %}
  {% block form-header %}{% endblock %}
{% endblock village-title %}

{% block village-content %}
<form method="POST" action="{% block form-action %}{% endblock %}" class="{% block form-class %}{% endblock %}" id="{% block form-id %}{% endblock %}">
  {% csrf_token %}

  {% block form-steps %}{% endblock form-steps %}

  {{ form.non_field_errors }}

  {% include "forms/_field.html" with field=form.name|attr:"placeholder: e.g. 1st Period Math" label="Group Name" %}

  <div class="fieldset relation-fieldset details {% block groupdetailsopen %}{% endblock groupdetailsopen %}">
    <p class="fieldset-help summary">
      Optionally add existing students and teachers to the group. »
    </p>
    <div class="details-body">
      {% include "forms/_field.html" with field=form.students %}
      {% include "forms/_field.html" with field=form.elders label="Teachers" %}
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="action-post">{% block form-button-text %}{% endblock %}</button>
  </div>

</form>
{% endblock village-content %}
