{% extends "village/group_form/_base.html" %}
{% load url from future %}

{% block form-header %}
  <div class="page-actions">
    <a href="{% url 'group_dash' group_id=group.id %}" class="action-back ajax-link">Back to {{ group }}</a>
  </div>
  <h2 class="village-title">
    <span aria-hidden="true" class="icon-edit"></span>
    <b>Edit</b> {{ group }}
  </h2>
{% endblock %}

{% block form-action %}{% url 'edit_group' group_id=group.id %}{% endblock %}

{% block form-class %}group-edit-form{% endblock %}

{% block form-id %}edit-group-form{% endblock %}

{% block more-actions %}
  <p class="remove-item">
    <button class="action-remove secondary has-undo" type="submit" name="remove" value="1" data-type="group" data-id="{{ group.id }}" data-name="{{ group }}" data-url="{% url 'api_dispatch_detail' api_name='v1' resource_name='group' pk=group.id %}" data-redirect-url="{% url 'home' %}">
      Delete {{ group }}
    </button>
  </p>
  <p><a href="{% url 'group_dash' group_id=group.id %}" class="cancel ajax-link">Cancel</a> or</p>
{% endblock %}
{% block form-button-text %}save{% endblock %}
