{% extends "village/group_form/_base.html" %}
{% load url from future %}

{% block form-header %}
  <h2 class="village-title">
    <span aria-hidden="true" class="icon-edit"></span>
    <b>Edit</b> {{ group }}
  </h2>
  <div class="page-actions">
    <a href="{% url 'group' group_id=group.id %}" class="action-back ajax-link">Back to {{ group }}</a>
  </div>
{% endblock %}

{% block form-action %}{% url 'edit_group' group_id=group.id %}{% endblock %}

{% block form-class %}group-edit-form{% endblock %}

{% block form-id %}edit-group-form{% endblock %}

{% block groupdetailsopen %}open{% endblock groupdetailsopen %}

{% block more-actions %}
  <p class="remove-item">
    <button class="action-remove secondary" type="submit" name="remove" value="1">
      Delete {{ group }}
    </button>
  </p>
  <p><a href="{% url 'group' group_id=group.id %}" class="cancel ajax-link">Cancel</a> or</p>
{% endblock %}
{% block form-button-text %}save{% endblock %}
