<form method="POST" class="post-add-form" action="{% url json_posts student_id=student.id %}" data-char-limit="{{ post_char_limit }}">
  {% csrf_token %}

  <div class="formfield post-textfield">
    <textarea id="post-text" name="text" placeholder="Text mobile users with @role (no spaces, e.g. @mathteacher)."></textarea>
    <span class="charcount">{{ post_char_limit }} characters remaining...</span>
  </div>

  <div class="formfield sms-targeting">
    <label for="sms-target">Send text message to</label>
    <select id="sms-target" name="sms-target" multiple="multiple">
      <option value="1">@@@ Elder 1</option>
      <option value="2">@@@ Elder 2</option>
      <option value="3">@@@ Elder 3</option>
      <option value="4">@@@ Elder 4</option>
      <option value="5">@@@ Elder 5</option>
    </select>
  </div>

  <div class="form-actions">
    <button type="submit" class="action-post">send</button>
  </div>

</form>
