<article class="post">
  {# <a href="{% url post %}">permalink</a> #}

  <header class="byline vcard">
    <img src="http://placekitten.com/75/75/" class="photo">
    <h3 class="fn"><a href="{% url profile %}" class="url">{{ user }}</a></h3>
    <time pubdate>{{ timestamp }}</time>
  </header>

  <div class="body">
    {% if image %}
    <figure class="post-media">
      <img src="http://placekitten.com/150/150/">
    </figure>
    {% endif %}

    {% if text %}
    <p class="post-text">{{ text }}</p>
    {% endif %}
  </div>

  {# <p>{{ highfive }} high fives</p> #}
  {# <a href="#">high five!</a> #}

  {% if comment %}
  <section class="post-comments">
    <article class="comment">
      <header class="byline vcard">
        <img src="http://placekitten.com/25/25/" class="photo">
        <h4 class="fn"><a href="{# @@@ #}" class="url">{{ comment_author }}</a></h4>
        <time pubdate>{{ comment_timestamp }}</time>
      </header>

      <div class="body">{{ comment }}</div>

      {# <button class="remove-comment">remove</button> #}
    </article>
  </section>
  {% endif %}

  <form method="POST" class="comment-add-form">
    {# csrf_token #}

    {# form.non_field_errors #}

    <div class="formfield comment">
      {# form.comment.errors #}
      <textarea id="comment">Add a comment</textarea>
    </div>

    <div class="form-actions">
      <button type="submit">submit</button>
    </div>
  </form>

  {# <button class="remove-post">remove</button> #}
</article>
