// ---------------------------------------------------------------------------
// Icomoon

@include font-face (
  'pyo',
  font-files('pyo.woff', woff),
  false,
  normal,
  normal
);

// ---------------------------------------------------------------------------
// Icons

$icon-radio-unchecked: "\e000";
$icon-radio-checked: "\e001";
$icon-checkbox-unchecked: "\e002";
$icon-checkbox-checked: "\e003";
$icon-checkbox-partial: "\e004";
$icon-checkmark: "\e005";
$icon-close: "\e006";
$icon-plus: "\e007";
$icon-cancel-circle: "\e008";
$icon-arrow-up: "\e00a";
$icon-arrow-right: "\e00b";
$icon-arrow-down: "\e00c";
$icon-arrow-left: "\e00d";
$icon-info: "\e00e";
$icon-warning: "\e00f";
$icon-cog: "\e010";
$icon-pencil: "\f071";
$icon-remove: "\e011";
$icon-lock: "\e013";
$icon-key: "\e014";
$icon-enter: "\e015";
$icon-exit: "\e016";
$icon-download: "\e009";
$icon-link: "\e017";
$icon-bubble: "\e01a";
$icon-user: "\f111";
$icon-home: "\e020";
$icon-question-sign: "\f059";
$icon-loop: "\e01f";
$icon-undo: "\f0e2";
$icon-reorder: "\e012";
$icon-undo-2: "\e01e";
$icon-users-list: "\e021";
$icon-users-plus: "\e01d";
$icon-users: "\e01b";
$icon-user-plus: "\e01c";
$icon-bubble-dots: "\e022";
$icon-bubble-forward: "\e018";
$icon-bubble-reply: "\e019";
$icon-attachment: "\e023";
$icon-phone: "\e024";
$icon-bubbles: "\e025";
$icon-envelope: "\e026";
$icon-pushpin: "\f08d";
$icon-globe: "\e027";

$icons:   'radio-unchecked'         $icon-radio-unchecked,
          'radio-checked'           $icon-radio-checked,
          'checkbox-unchecked'      $icon-checkbox-unchecked,
          'checkbox-checked'        $icon-checkbox-checked,
          'checkbox-partial'        $icon-checkbox-partial,
          'checkmark'               $icon-checkmark,
          'close'                   $icon-close,
          'plus'                    $icon-plus,
          'cancel-circle'           $icon-cancel-circle,
          'arrow-up'                $icon-arrow-up,
          'arrow-right'             $icon-arrow-right,
          'arrow-down'              $icon-arrow-down,
          'arrow-left'              $icon-arrow-left,
          'info'                    $icon-info,
          'warning'                 $icon-warning,
          'cog'                     $icon-cog,
          'pencil'                  $icon-pencil,
          'remove'                  $icon-remove,
          'lock'                    $icon-lock,
          'key'                     $icon-key,
          'enter'                   $icon-enter,
          'exit'                    $icon-exit,
          'download'                $icon-download,
          'link'                    $icon-link,
          'bubble'                  $icon-bubble,
          'user'                    $icon-user,
          'home'                    $icon-home,
          'question-sign'           $icon-question-sign,
          'loop'                    $icon-loop,
          'undo'                    $icon-undo,
          'reorder'                 $icon-reorder,
          'undo-2'                  $icon-undo-2,
          'users-list'              $icon-users-list,
          'users-plus'              $icon-users-plus,
          'users'                   $icon-users,
          'user-plus'               $icon-user-plus,
          'bubble-dots'             $icon-bubble-dots,
          'bubble-forward'          $icon-bubble-forward,
          'bubble-reply'            $icon-bubble-reply,
          'attachment'              $icon-attachment,
          'phone'                   $icon-phone,
          'bubbles'                 $icon-bubbles,
          'envelope'                $icon-envelope,
          'pushpin'                 $icon-pushpin,
          'globe'                   $icon-globe;

