// ---------------------------------------------------------------------------
// Type Settings

$base-font-size             : $normpx;
$base-line-height           : $medpx;

$round-to-nearest-half-line : true;
