// ---------------------------------------------------------------------------
// Imports

@import "fonts";

// ---------------------------------------------------------------------------
// Root

@include establish-baseline;

body {
  @extend %type;
  @include sans;
  @include text-shadow(rgba($alt,.125) 0 1px 0);
  background: $base00 image-url('landing/noise.png') repeat fixed center;
  color: $base;
}

$link   : '&:link, &:visited';
$focus  : '&:hover, &:active, &:focus';

a {
  #{$link} { color: $alt; }
  #{$focus} { color: $accent; }
}

// ---------------------------------------------------------------------------
// More Imports

@import "type";
