// ---------------------------------------------------------------------------
// Imports

@import "fonts";

// ---------------------------------------------------------------------------
// Root

$default-text-shadow: rgba($alt,.125) 0 1px 0;

@include establish-baseline;

body {
  @extend %type;
  @include sans;
  @include text-shadow($default-text-shadow);
  background: $base00 image-url('landing/noise.png') repeat fixed center;
  color: $base;
}

$link   : '&:link, &:visited';
$focus  : '&:hover, &:active, &:focus';

a {
  #{$link} { color: $alt; }
  #{$focus} { color: $accent; }
}

/* -------------------------------------------------------------------------*/
/* Form Helpers */

.errorlist {
  @include adjust-font-size-to($smallpx);
  @include no-style-list;
  color: $red;
  text-align: left;
  ~ input { color: $red !important; }
}

// ---------------------------------------------------------------------------
// More Imports

@import "type";
@import "icons";
