// ---------------------------------------------------------------------------
// Typography

%type {
  h1, h2, h3, h4, h5, h6 {
    @include serif;
    font-weight: bold;
  }

  p, ul, ol {
    @include adjust-font-size-to($smallpx);
    @include trailer(1,$smallpx);
    @include at-breakpoint($break) {
      @include adjust-font-size-to($normpx);
      @include trailer(1);
    }
  }

  em { font-style: italic; }
  strong { font-weight: bold; }
}