{% extends "village/post_list/_base.html" %}
{% load url from future %}

{% block village-title %}
  <span aria-hidden="true" class="icon-group"></span>
  {{ group.name }}
{% endblock %}

{% block page-actions %}
{% if not group.is_all %}{{ block.super }}{% endif %}
{% endblock %}

{% block edit-url %}{% url 'edit_group' group_id=group.id %}{% endblock %}

{% block village-feed-attrs %}{% if group.is_all %} data-post-url="{% url 'create_post' %}"{% else %} data-post-url="{% url 'create_post' group_id=group.id %}"{% endif %}{% endblock %}
{% block empty-feed %}There are no posts in this group.{% endblock %}
{% block addpost-classes %}group-posts{% endblock %}
{% block howto-target %}{% endblock %}
{% block sms-target %}
  <p class="group-targeting">
    Group messages will be sent to all family members in the group.
  </p>
  {% endblock %}
{% block form-action %}{% if group.is_all %}{% url 'create_post' %}{% else %}{% url 'create_post' group_id=group.id %}{% endif %}{% endblock %}

{% block info-bar %}
  {% include "village/post_list/_group_info.html" %}
{% endblock %}
