{% extends "village/post_list/_base.html" %}
{% load url from future %}

{% block village-title %}
  <span aria-hidden="true" class="icon-group"></span>
  {{ group.name }}
{% endblock %}

{% block village-feed-attrs %}{% if group.is_all %} data-backlog-url="{% url 'json_posts' %}" data-post-url="{% url 'json_posts' %}"{% else %} data-backlog-url="{% url 'json_posts' group_id=group.id %}" data-post-url="{% url 'json_posts' group_id=group.id %}"{% endif %}{% endblock %}

{% block getting-started-header %}
  Send messages to all parents & teachers{% if group.is_all %}.{% else %} in {{ group.name }}.{% endif %}
{% endblock %}

{% block addpost-classes %}group-posts{% endblock %}
{% block form-action %}{% if group.is_all %}{% url 'json_posts' %}{% else %}{% url 'json_posts' group_id=group.id %}{% endif %}{% endblock %}

{% block info-bar %}
  {% include "village/post_list/_group_info.html" %}
{% endblock %}
