{% extends "village/post_list/_base.html" %}
{% load url from future %}

{% block village-feed-attrs %}data-backlog-url="{% url 'json_posts' student_id=student.id %}" data-post-url="{% url 'json_posts' student_id=student.id %}"{% endblock %}

{% block getting-started-header %}Welcome to {{ student.name }}'s Village!{% endblock %}
{% block getting-started-body %}Post messages for {{ student.name }}'s family members and teachers, and see their replies below.{% endblock %}

{% block addpost-classes %}village-posts{% endblock %}
{% block form-action %}{% url 'json_posts' student_id=student.id %}{% endblock %}

{% block info-bar %}
{% include "village/post_list/_village_info.html" %}
{% endblock %}
