// ---------------------------------------------------------------------------
// Font Stacks

$sans-stack   : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack  : Cambria, Georgia, serif;
$mono-stack   : "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;

// ---------------------------------------------------------------------------
// Apply Fonts

@mixin sans { font-family: $sans-stack; }
@mixin serif { font-family: $serif-stack; }
@mixin mono { font-family: $mono-stack; }
