@include font-face (
  'pyo',
  font-files(
    'pyo.svg#pyo', svg,
    'pyo.woff', woff,
    'pyo.ttf', truetype
  ),
  'pyo.eot',
  normal,
  normal
);

/* Use the following CSS code if you want to have a class per icon */
%icon-content {
  font-family: 'pyo';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

%icon::before {
  @extend %icon-content;
  margin-right: .4em;
}

%icon-replace {
  @extend %icon;
  display: inline-block;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
  text-align: left;
  .lt-ie9 & { text-indent: 0; }
  &:focus {
    outline: 0;
    &::before { outline: 1px dotted; }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
    margin-right: 0;
  }
}

%icon-expand {
  @include transition(max-width 400ms);
  display: inline-block;
  max-width: 1em;
  height: rhythm(1);
  overflow: hidden;
  #{$focus} { max-width: 100%; }
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  @extend %icon-content;
  content: attr(data-icon);
}

%icon-partial:before { content: "\e000"; .lt-ie9 & { content: ""; } }
%icon-unchecked:before { content: "\e001"; .lt-ie9 & { content: ""; } }
%icon-checked:before { content: "\e002"; .lt-ie9 & { content: ""; } }
%icon-radio-checked:before { content: "\e003"; .lt-ie9 & { content: ""; } }
%icon-radio-unchecked:before { content: "\e004"; .lt-ie9 & { content: ""; } }
%icon-user:before { content: "\e005"; .lt-ie9 & { content: ""; } }
%icon-users:before { content: "\e006"; .lt-ie9 & { content: ""; } }
%icon-settings:before { content: "\e007"; .lt-ie9 & { content: ""; } }
%icon-comments:before { content: "\e008"; .lt-ie9 & { content: ""; } }
%icon-exit:before { content: "\e009"; .lt-ie9 & { content: ""; } }
%icon-key:before { content: "\e00a"; .lt-ie9 & { content: ""; } }
%icon-pencil:before { content: "\e00c"; .lt-ie9 & { content: ""; } }
%icon-fire:before { content: "\e00d"; .lt-ie9 & { content: ""; } }
%icon-checkmark:before { content: "\e00e"; .lt-ie9 & { content: ""; } }
%icon-x:before { content: "\e00f"; .lt-ie9 & { content: ""; } }
%icon-x-altx-alt:before { content: "\e010"; .lt-ie9 & { content: ""; } }
%icon-info-circle:before { content: "\e011"; .lt-ie9 & { content: ""; } }
%icon-warning:before { content: "\e012"; .lt-ie9 & { content: ""; } }
%icon-home:before { content: "\e00b"; .lt-ie9 & { content: ""; } }
%icon-help:before { content: "\e013"; .lt-ie9 & { content: ""; } }
%icon-plus:before { content: "\e014"; .lt-ie9 & { content: ""; } }
%icon-plus-alt:before { content: "\e015"; .lt-ie9 & { content: ""; } }
%icon-mobile:before { content: "\e016"; .lt-ie9 & { content: ""; } }
%icon-circle:before { content: "\e017"; .lt-ie9 & { content: ""; } }
