// ---------------------------------------------------------------------------
// Icon Setup

/* Use the following CSS code if you want to have a class per icon */
%icon-content {
  font-family: 'pyo';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

%icon:before {
  @extend %icon-content;
  margin-right: .2em;
}

%icon-replace {
  @extend %icon;
  display: inline-block;
  position: relative;
  width: 1em;
  text-indent: -9999px;
  text-align: left;
  &:focus {
    outline: 0;
    &:before { outline: 1px dotted; }
  }
  &:before {
    @include stretch;
    text-indent: 0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  @extend %icon-content;
  content: attr(data-icon);
}

[class^="icon-"] { @extend %icon; }

// ---------------------------------------------------------------------------
// Icons

.icon-edit { @extend %icon-pencil; }
.icon-invite { @extend %icon-user-plus; }

.icon-student { @extend %icon-user; }
.icon-add-student { @extend %icon-user-plus; }

.icon-group { @extend %icon-users; }
.icon-add-group { @extend %icon-users-plus; }

