// ---------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "fonts";
@import "icons";

/* -------------------------------------------------------------------------*/
/* Root */

@include establish-baseline;

html { -webkit-font-smoothing: antialiased; }

body{
  @include baseline-grid-background;
  @include serif;
  color: $base;
  background: $base3;
}

[role="main"] {
  @extend %type;
  @include container;
}

%bleed {
  margin-left: - $grid-padding;
  margin-right: - $grid-padding;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

/* -------------------------------------------------------------------------*/
/* Selected Text */

@mixin selected-text {
  ::-webkit-selection { @content; }
  ::-moz-selection { @content; }
  ::selection { @content; }
}

@include selected-text {
  color: contrast-color($alt);
  background: $alt;
  text-shadow: none;
}

// ---------------------------------------------------------------------------
// Imports

@import "type";
@import "forms";
