// ---------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "fonts";
@import "icons";

/* -------------------------------------------------------------------------*/
/* Root */

@include establish-baseline;
@include border-box-sizing;

body{
  @include baseline-grid-background;
  @include sans;
  background: $back;
  color: $base2;
}

/* -------------------------------------------------------------------------*/
/* Selected Text */

@mixin selected-text {
  ::-webkit-selection { @content; }
  ::-moz-selection { @content; }
  ::selection { @content; }
}

@include selected-text {
  color: contrast-color($alt);
  background: $alt;
  text-shadow: none;
}

// ---------------------------------------------------------------------------
// Imports

@import "type";
@import "forms";
