// ---------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "fonts";

/* -------------------------------------------------------------------------*/
/* Root */

@include establish-baseline;

html { -webkit-font-smoothing: antialiased; }

body{
  @include baseline-grid-background;
  @include serif;
  color: $base;
}

/* -------------------------------------------------------------------------*/
/* Selected Text */

@mixin selected-text {
  ::-webkit-selection { @content; }
  ::-moz-selection { @content; }
  ::selection { @content; }
}

@include selected-text {
  color: contrast-color($alt);
  background: $alt;
  text-shadow: none;
}

// ---------------------------------------------------------------------------
// Imports

// @import type
@import "forms";
