// ---------------------------------------------------------------------------
// Links

a {
  &:hover, &:active {
    outline: none;
  }
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} {
    color: $accent;
  }
}

@mixin camolink {
  #{$link} { color: inherit; }
  #{$focus} { color: $accent; }
}

@mixin gone {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
}

@mixin here {
  position: static;
  clip: auto;
  overflow: visible;
  height: auto;
  margin: 0;
  width: auto;
}

%camolink { @include camolink; }
%ellipsis { @include ellipsis; }
%gone { @include gone; }

// ---------------------------------------------------------------------------
// Typography

%type {

  h1, h2, h3, h4, h5, h6 {
    @include serif;
    font-weight: bold;
  }

  p, ul, ol {
    @include trailer(1);
  }

  ul {
    list-style: disc;
    padding-left: 1.5em;
  }

  em { font-style: italic; }
  strong { font-weight: 500; }
}
