// ---------------------------------------------------------------------------
// Links

$boiler-link-color: $base3;

a {
  &:hover, &:active {
    outline: none;
  }
  #{$link} {
    color: $boiler-link-color;
    text-decoration: none;
  }
  #{$focus} {
    color: mix($boiler-link-color,$accent);
  }
}

// ---------------------------------------------------------------------------
// Typography

%type {
  a {
    #{$link} { color: $alt; }
    #{$focus} { color: $accent; }
  }

  h1, h2, h3, h4, h5, h6 {
    @include serif;
    font-weight: bold;
  }

  p, ul, ol {
    @include trailer(1);
  }

  ul {
    list-style: disc;
    padding-left: 1.5em;
  }

  li {
    @include trailer(.5);
  }

  em { font-style: italic; }
  strong { font-weight: 500; }
}
