// ---------------------------------------------------------------------------
// Edit Profile

.edit-profile { @extend %simple-form; }

.upgrade-notice {
  @include bleed(rhythm(1));
  @include rhythm-borders(1px, 1);
  @include trailer;
  border-color: $yellow;
  background: $base2;
}

.upgrade-title {
  @extend %icon;
  @extend %icon-warning;
  @include trailer(.5);
  font-weight: bold;
}

.upgrade-body {
  @include adjust-font-size-to($smallpx);
  p {
    @include trailer(.5);
    &:last-child { @include trailer(0); }
  }
  strong { font-weight: bold; }
}

.fieldset.notifications {
  @extend %radio-check-defaults;
  @include inline-radio-checkbox;
  @include rhythm-margins;
  .fieldset-header { @include trailer(.5); }
}

.changepassword-link {
  @extend %icon;
  @extend %icon-lock;
}
