// ---------------------------------------------------------------------------
// Village Elders

.village-elders {
  @extend %village-lists;
  @include padding-leader(.5);
  float: right;
  width: space($right);
  padding-left: gutter();
  height: 100%;
  border-left: 1px solid $village-border-color;
  h2 { @extend %gone; }
  li {
    @extend %icon;
    @extend %icon-circle;
    &::before {
      float: left;
      margin: 0;
      color: $green;
    }
    &.offline { &::before { color: $yellow; } }
    &.inactive {
      @extend %icon-warning;
      &::before { color: $base1; }
    }
    &.mobile {
      @extend %icon-mobile;
      &::before { color: $base; }
    }
  }
  b, span {
    @include ellipsis;
    display: block;
    margin-left: 1.125em;
  }
  b { font-weight: bold; }
  span { color: $base1; }
}

.addelder-link {
  @extend %village-addlink;
  @include leader(.5,$village-list-size);
  @include rhythm-borders(1px,.25,$village-list-size);
  display: block;
  border-color: $village-border-color;
  padding-left: rhythm(.5,$village-list-size);
}
