// ---------------------------------------------------------------------------
// Village Elders

%elder-listitem {
  @include bleed($village-bleed);
  @include padding-leader(.25,$village-list-size);
  @include trailing-border(1px,.25,$village-list-size);
  position: relative;
  display: block;
  border-color: $base2;
}

.elders-title {
  @extend %elder-listitem;
  font-weight: bold;
  color: $base3;
  background: mix($blue,$base);
  border-color: $village-border-color;
  + .addelder-link { border-top: 0; }
}

.elder {
  position: relative;
  .listitem-actions { right: - $village-bleed; }
  #{$focus} {
    .listitem-actions {
      @include opacity(1);
    }
  }

  .title, .type { font-weight: bold; }
  .fn, .value { color: $base1; }

  .vcard {
    @extend %icon;
    @extend %icon-record;
    @extend %elder-listitem;
    @extend %village-activenav;
    padding-left: $village-bleed + 1rem;
    &:before {
      position: relative;
      margin-left: -1rem;
      margin-right: 0;
      color: $green;
      z-index: 2;
    }
    &.offline { &:before { color: $yellow; } }
    &.inactive {
      @extend %icon-warning;
      background: lighten($yellow,50);
      &:before { color: $base1; }
    }
    &.mobile {
      @extend %icon-phone;
      &:before { color: $base; }
    }
    &.declined {
      @extend %icon-x;
      background: rgba($red,.125);
      &:before { color: $red; }
    }
    &.active {
      background: $base01;
      color: $base3;
      &:before, .fn, .value { color: $base2; }
    }
  }
}

.action-sms { @extend %icon-phone; }

.addelder-link {

}
