// ---------------------------------------------------------------------------
// Settings

$post-byline-cols : 2;
$post-size        : $smallpx;
$post-time-size   : $xsmallpx;
$post-v-padding   : .25;
$post-h-padding   : gutter($center);

$background       : $base2;

// ---------------------------------------------------------------------------
// Village Feed

.village-feed {
  @extend %overflow-y;
  padding: rhythm(.5) rhythm(1);
  background: $base2;
}

// ---------------------------------------------------------------------------
// Getting Started

.feedhead {
  @include serif;
  @include adjust-font-size-to($medpx);
  @include trailer(.5);
}

// ---------------------------------------------------------------------------
// Posts

.post {
  @include pie-clearfix;
  @include adjust-font-size-to($post-size);
  @include trailer(.5);
  @include post(1,$center);

  &.mine { @include squish(1,0,$center); }

  .timeout {
    @extend %error;
    @include bleed($post-h-padding);
  }
}

.post-meta {
  @include pie-clearfix;
  position: relative;

  .byline { @include pad(0,4,$center - 1); }
  .pubdate {
    @include adjust-font-size-to($xsmallpx);
    @include cond;
    position: absolute;
    bottom: 0;
    right: 0;
    color: $base1;
    &:first-letter { text-transform: uppercase; }
  }

  .mine & {
    .byline {
      @include pad(4,0,$center - 1);
      text-align: right;
    }
    .pubdate {
      right: auto;
      left: 0;
    }
  }

  .title, .fn { display: inline-block; }
  .title { font-weight: bold; }
}

.post-body {
  @include leader(.25);
  @include arrow(top rhythm(.25) $base rhythm(.375));
  @include border-radius(rhythm(.25));
  border: 2px solid $base;
  background: $base;
  .mine &:before {
    left: auto;
    right: rhythm(.25);
  }
}

.sms-info {
  @extend %icon;
  @include adjust-font-size-to($xsmallpx);
  @include border-top-radius(rhythm(.25));
  background: $base1;
  color: $base3;
  border-bottom: 2px solid $base;

  .info-text {
    @include ellipsis;
    padding: $box-padding;
  }

  .sms & {
    @extend %icon-bubble-check;
    &:before { background: color($blue darker,.5); }
  }
  .no-sms & {
    @extend %icon-bubble-notification;
    &:before { background: color($yellow darker,.5); }
  }

  &:before {
    @include adjust-font-size-to($normpx);
    @include border-top-left-radius(rhythm(.25));
    @include inset;
    float: left;
    padding: rhythm(.25) rhythm(.5);
    margin-right: rhythm(.25);
    background: $base;
  }
}

.post-text {
  @include clearfix;
  @include border-bottom-radius(rhythm(.25));
  padding: rhythm(.5);
  background: $base3;
  .old & { background: color($base3 lighter); }
  .mine & { background: color($blue lightest); }
  .not-posted & { background: color($red lightest); }
}

// ---------------------------------------------------------------------------
// Post Add Form

$addnote-fontsize: $input-font-size;
$postaction-size: $smallpx;

%post-targeting {
  @include adjust-font-size-to($postaction-size);
  @include trailer(.5);
  text-align: left;
}

.post-add-form {
  @extend %formdefaults;
  @include pie-clearfix;
  @include rhythm-margins(1,1);
  @include rhythm-borders(1px,1);
  @include inset;
  background: $base3;
  text-align: right;
  &.group-posts { background: mix($blue,$base2,25%); }

  .form-actions {
    clear: none;
    margin: 0;
    .action-post.action-post {
      @include border-left-radius(0);
      float: right;
      width: space(2, $center);
      height: rhythm(2.5);
    }
  }

  .sms-targeting {
    @extend %post-targeting;
    > .type {
      display: inline;
      font-weight: bold;
      cursor: default;
    }
    .multiselect-dropdown { min-width: columns(2, $center); }
    .ui-multiselect { width: 100%; }
  }
  .group-targeting {
    @extend %post-targeting;
    @extend %icon;
    @extend %icon-warning;
    font-weight: bold;
  }
}

.post-textfield {
  @include span-columns($center - 2, $center);
  margin: 0;
  .value {
    @include trailer(.125);
    height: rhythm(2.5);
    margin: 0;
    background: rgba(white,.75);
    padding-left: rhythm(.5);
    resize: none;
  }
  .charcount {
    @include adjust-font-size-to($xsmallpx);
    position: absolute;
    right: .25em;
    bottom: 0;
    color: $base1;
    &.overlimit { color: $red; }
  }
}

// ---------------------------------------------------------------------------
// Errors

.feed-error {
  @extend %error;
  padding: rhythm(1);
}
