// ---------------------------------------------------------------------------
// Village Feed

.village-feed {
  position: relative;
  height: 100%;
  background: color($base3 lightest);
}

.feed-posts {
  @extend %overflow-y;
  @include calc(height, '100% - #{rhythm(5.125)}');
  .empty {
    display: none;
    @include adjust-font-size-to($largepx);
    @include serif;
    padding: rhythm(2);
    color: color($base, .5);
    text-align: center;
    &:last-child { display: block; }
  }
}

// ---------------------------------------------------------------------------
// Getting Started

.feedhead {
  @include serif;
  @include adjust-font-size-to($medpx);
  @include trailer(.5);
  padding: 0 rhythm(.5);
}

// ---------------------------------------------------------------------------
// Posts

.post {
  @include pie-clearfix;
  @include adjust-font-size-to($smallpx);
  padding: rhythm(.5);
  border-bottom: 1px solid color($base2,.5);
  margin-bottom: -1px;

  &:last-child {
    @include trailer(0);
    border: 0;

    .has-instructions & { @include trailer(4); }
  }

  &.mine {
    background: color($blue lightest, .5);
  }
  .timeout {
    @extend %error;
    @extend %icon;
    @extend %icon-warning;
    @include trailer(.5);
    @include border-radius($box-padding);
    @include inset;
    clear: both;
    padding: $box-padding rhythm(1);
    &:before { @include adjust-font-size-to($normpx); }
  }
}

$post-icon-width: rhythm(2.5);

.post-header, .post-body {
  padding-left: $post-icon-width;
}

.post-header {
  @extend %icon;
  @extend %icon-bubble;
  &:before {
    @include adjust-font-size-to($medpx);
    @include border-radius($box-padding);
    @include inset;
    float: left;
    margin-left: - $post-icon-width;
    padding: rhythm(.25) rhythm(.5);
    background: $base;
    color: $base3;
    text-align: center;
  }

  .pending & { @extend %icon-bubble-dots; }

  .sms & { @extend %icon-bubble-forward; }
  .mine.sms &:before { background: color($green dark); }
  .from-sms & { @extend %icon-bubble-reply; }

  .no-sms & {
    @extend %icon-bubble;
    &:before { background: color($orange dark); }
  }
}

.byline {
  @extend %ellipsis;
  @include adjust-font-size-to($normpx);
  @include serif;
  font-weight: bold;
  .old & { font-weight: normal; }
}

.pubdate {
  @include cond;
  float: right;
  padding-left: rhythm(1);
  color: $base1;
  font-weight: bold;
  .old & { font-weight: normal; }
}

.recipients {
  @include adjust-font-size-to($xsmallpx);
  @extend %ellipsis;
  padding-right: 50%;
  color: $base1;
}

// ---------------------------------------------------------------------------
// Errors

.feed-error {
  @extend %error;
  padding: rhythm(1);
}
