// ---------------------------------------------------------------------------
// Settings

$post-byline-cols : 2;
$post-size        : $smallpx;
$post-time-size   : $xsmallpx;
$post-v-padding   : .25;
$post-h-padding   : gutter($center);

// ---------------------------------------------------------------------------
// Village Feed

.village-feed {
  @extend %overflow-y;
  left: 0;
  right: 0;
  bottom: rhythm(4.75);
  background: lighten($base3,3);
}

// ---------------------------------------------------------------------------
// Getting Started

.getting-started {
  padding: rhythm(1) $post-h-padding;
  background: $base3;
  .starthead {
    @include adjust-font-size-to($xlargepx);
    @include serif;
    margin-bottom: -1px;
  }
  &:last-child {
    background: none;
    .howto { display: block; }
  }
  + .post { border-top: 1px solid; }
}

.howto {
  display: none;
  counter-reset: howto;
}
[class^="howto-"] {
  @extend %icon;
  @extend %icon-arrow-down;
  @include rhythm-borders(1px,.75);
  @include border-radius(.25em);
  @include box-shadow($back 0 0 .25em);
  position: absolute;
  bottom: rhythm(1);
  width: columns(5,$center);
  background: $base3;
  color: $orange;
  border-color: $back;
  font-style: italic;
  counter-increment: howto;
  &:before {
    @include adjust-font-size-to($largepx,1);
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -.175em;
    margin-left: -.5em;
    color: $back;
  }
  &:after {
    @include border-radius(8em);
    content: counter(howto,decimal) ".";
    position: absolute;
    top: rhythm(-.75);
    left: rhythm(-.5);
    padding: rhythm(.25) rhythm(.375);
    background: $orange;
    color: $base3;
    font-style: normal;
    font-weight: bold;
  }
}
.howto-post {
  left: $post-h-padding;
}
.howto-sms {
  right: $post-h-padding;
}

// ---------------------------------------------------------------------------
// Posts

.post {
  @include pie-clearfix;
  @include adjust-font-size-to($post-size);
  @include trailing-border(1px, $post-v-padding, $post-size);
  padding-left: $post-h-padding;
  padding-right: $post-h-padding;
  border-color: $base1;
  background: $base3;

  &.mine { background: lighten($blue,45); }
  &.not-posted { background: lighten($red,45); }
  &.old {
    color: $base1;
    background: none;
    .title, .summary { color: $base1; }
  }

  .timeout {
    @extend %error;
    @include bleed($post-h-padding);
  }
}

.post-meta {
  @include pie-clearfix;
  position: relative;
  color: $base1;

  .byline, .pubdate {
    @include ellipsis;
    max-width: 45%;
  }
  .byline { float: left; }
  .title {
    color: $base;
    font-weight: bold;
  }
  .pubdate {
    @include adjust-font-size-to($post-time-size, 1, $post-size);
    @include cond;
    float: right;
    text-align: right;
  }
}

.sms-info {
  .summary {
    @extend %icon-replace;
    float: left;
    margin-right: .2em;
    .sms & { @extend %icon-phone; }
    .no-sms & { @extend %icon-no-phone; }
  }

  .details-body {
    @include bleed($post-h-padding);
    @include trailer($post-v-padding);
    @include css-arrow(bottom, .375em, $base1);
    display: none;
    background: $base1;
    color: $base3;
    &:after { left: $post-h-padding; margin-left: 0; }
  }
}

.post-text { @include clearfix; }

.nametag {
  @include border-radius(4px);
  @include rgba-background(rgba($base1,.25));
  display: inline-block;
  padding: 0 .4em;
  border: 1px solid $base01;
  &.me {
    background: $blue;
    color: $base3;
  }
}

// ---------------------------------------------------------------------------
// Post Add Form

$addnote-fontsize: $input-font-size;
$postaction-size: $smallpx;

.post-add-form {
  @extend %formdefaults;
  @include stretch-x;
  bottom: 0;
  padding: rhythm(.5) gutter();
  border-top: 1px solid $base;
  background: $base2;
  text-align: right;
  &.group-posts { background: mix($blue,$base2,25%); }

  .formfield { margin: 0; }

  .form-actions {
    clear: none;
    display: inline-block;
    margin: 0;
    .action-post {
      @extend %button;
      @include small-button($addnote-fontsize);
      text-transform: uppercase;
    }
  }
}

.post-textfield {
  text-align: left;
  .value {
    @include trailer(.125, $addnote-fontsize);
    height: rhythm(2.5, $addnote-fontsize);
    min-height: rhythm(2.5, $addnote-fontsize);
    background: rgba(white,.75);
    padding-left: rhythm(.5, $addnote-fontsize);
    resize: none;
    .lt-ie9 & { min-height: rhythm(2.5 - $input-rhythm*2, $addnote-fontsize); }
  }
  .charcount {
    @include adjust-font-size-to($xsmallpx);
    position: absolute;
    right: .25em;
    bottom: 0;
    color: $base1;
    &.overlimit { color: $red; }
  }
}

.sms-targeting {
  @include adjust-font-size-to($postaction-size);
  display: inline-block;
  > .type {
    display: inline;
    font-style: italic;
    cursor: default;
  }
}

// ---------------------------------------------------------------------------
// Errors

%error {
  background: $red;
  color: $base3;
  a {
    #{$link} { color: mix($base3, $alt, 65%); }
    #{$focus} { color: mix($base3, $accent, 65%); }
  }
}

.feed-error {
  @extend %error;
  padding: rhythm(1);
}
