// ---------------------------------------------------------------------------
// Add/Edit forms

.students-field, .elders-field, .groups-field {
  .check-options {
    @extend %check-options;
    height: rhythm(8,$input-font-size);
  }
  @include span-columns($center/2, $center);
  @include nth-omega(last);
}

$label-colors: $yellow $orange $magenta $violet $cyan $green;
$adjusted-colors: compact();
@each $color in $label-colors { $adjusted-colors: join($adjusted-colors, adjust-color($color, $lightness: 15%)); }
$label-colors: $adjusted-colors;
@each $color in $label-colors {
  $new-colors: adjust-color($color, $saturation: -15%, $lightness: 15%);
  $label-colors: join($label-colors, $new-colors);
}

.select-groups {
  [class*="label-color-"] {
    &:before {
      @include border-radius(3px);
      @include box-shadow($back 0 0 2px inset);
      content: " ";
      display: inline-block;
      width: 1em;
      height: 1em;
    }
  }
  $i: 1;
  @each $color in $label-colors {
    .label-color-#{$i}:before { background: $color; }
    $i: $i + 1;
  }
}

.select-students, .select-elders {
  [class*="group-selected-"] {
    @extend %icon;
    @extend %icon-users;
    &:before { float: left; }
  }
  $i: 1;
  @each $color in $label-colors {
    .group-selected-#{$i}:before {
      @include text-shadow($back 0 1px 0);
      color: $color;
    }
    $i: $i + 1;
  }
}

// ---------------------------------------------------------------------------
// Add/Edit Village

.village-add-form, .village-edit-form { @extend %village-solo-page; }

.parent-instructions {
  h2 { @include trailer(.5, $largepx); }
  p {
    @include trailer;
    overflow: hidden;
  }
  .pdf-thumbnail {
    @extend %img;
    @include span-columns($left,$center);
    min-width: columns-width(3);
  }
  .pdf-downloads {
    @include inline-block-list;
    @include rhythm(0,.5,.5,1);
    @include bleed(rhythm(.5));
    background: $base2;
    text-align: right;
    overflow: visible;
    a {
      @extend %icon;
      @extend %icon-file-download;
      margin-right: 1em;
      &:after { content: " »"; }
    }
  }
}

.student-form-details {
  .summary {
    display: block;
    text-align: right;
    font-style: italic;
    &:after { content: " »"; }
  }
  &.open .summary {
    display: none;
  }
}

// ---------------------------------------------------------------------------
// Add/Edit Elder

.elder-add-form, .elder-edit-form { @extend %village-main-page; }

.school_staff-field {
  @extend %radio-check-defaults;
  @include leader;
}

