// ---------------------------------------------------------------------------
// Add/Edit forms

.students-field, .elders-field, .groups-field {
  .check-options {
    @extend %check-options;
    height: rhythm(8,$input-font-size);
  }
  @include span-columns($center/2, $center);
  @include nth-omega(last);
}

// ---------------------------------------------------------------------------
// Add Village

.village-add-form { @extend %village-solo-page; }

$village-center-bleed: gutter($center);

$instruction-size : $medpx;
$inst-icon-size   : $xxlargepx + $xlargepx;

.parent-instructions {
  @extend %icon;
  @extend %icon-document-alt-stroke;
  @include clearfix;
  @include adjust-font-size-to($instruction-size);
  @include rhythm-borders(1px, 1, $instruction-size);
  @include trailing-border(1px, .5, $instruction-size);
  @include bleed($village-center-bleed);
  @include rgba-background(rgba($alt,.25));
  @include background-image(linear-gradient(top, rgba($alt,0), rgba($alt,.25)));
  display: block;
  position: relative;
  top: rhythm(-1,$instruction-size);
  &:before {
    @include adjust-font-size-to($inst-icon-size,$from-size: $instruction-size);
    float: left;
    margin: 0 rhythm(1,$inst-icon-size) 0 rhythm(.5,$inst-icon-size);
  }
  p, ul { overflow: hidden; }
  p { @include trailer(1,$instruction-size); }
  ul {
    @include inline-block-list;
    text-align: right;
  }
  [class^="pdf-"] {
    @extend %icon;
    @extend %icon-document-alt-stroke;
    margin-right: 1em;
    &:after { content: " »"; }
  }
}

// ---------------------------------------------------------------------------
// Add Elder

.elder-add-form { @extend %village-main-page; }
.elder-edit-form { @extend %village-main-page; }

.school_staff-field {
  @extend %radio-check-defaults;
  @include leader;
}
