// ---------------------------------------------------------------------------
// Village Info

.village-info {
  @extend %village-lists;
  @extend %overflow-y;
  @include box-sizing(content-box);
  right: - $village-bleed;
  width: columns($right, $content-width);
  padding-right: $village-bleed;
  padding-left: gutter($content-width);
  height: 100%;
}