// ---------------------------------------------------------------------------
// Village Info

.village-info {
  @extend %village-lists;
  @extend %overflow-y;
  right: 0;
  width: space($right, $content-width);
  height: 100%;
}