// ---------------------------------------------------------------------------
// Landing Page

.lt-ie9 .village-landing .container { @include set-container-width; }

%landing-title {
  @include serif;
  @include adjust-font-size-to($medpx);
  color: $base02;
}

.main-image { img { max-width: 100%; } }
.intro {
  @include clearfix;
  @include trailer;
  text-align: center;
}

.intro-copy {
  text-align: left;
  p { @include trailer; }
}

.tagline {
  @extend %landing-title;
  @include adjust-font-size-to($largepx);
}

.description { font-style: italic; }

.main-register-link {
  @extend %button;
  @include serif;
  @include adjust-font-size-to($largepx);
  @include rhythm-borders(1px,.25,$largepx);
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

@include at-breakpoint(45em $break-cols) {
  .main-image { @include span-columns(11); }
  .intro-copy { @include span-columns(9 omega); }
  .tagline { @include padding-leader(4.5,$largepx); }
}

%landing-section {
  @include clearfix;
  @include leading-border(12px,1);
  @include border-image(image-url('landing/line.png') 100% 0 repeat);
  @include padding-trailer(1);
  clear: both;

  .no-borderimage & { @include leading-border(1px,1); }
  @include at-breakpoint($break) {
    @include leading-border(12px,3);
    @include padding-trailer(3);
    @include rem(min-height, rhythm(12));
  }
}

// ---------------------------------------------------------------------------
// Features

@mixin feature-background($img, $h: right, $v: null) {
  @include background(image-url($img) no-repeat scroll $h $v);
  @include background-clip(padding-box);
  @include background-size(columns(9) auto);
}

.feature {
  @extend %landing-section;
  @include at-breakpoint($break) {
    @include pad(2,9);
    &:nth-child(even) { @include pad(9,2); }
  }
}

.feature-title {
  @extend %landing-title;
  @include at-breakpoint($break) { @include adjust-font-size-to($largepx); }
}

@include at-breakpoint($break) {
  .two-way-feature { @include feature-background('landing/twoway.png', right, 85%); }
  .elders-feature { @include feature-background('landing/elders.png', left, 85%); }
  .signup-feature { @include feature-background('landing/signup.png', right); }
}

// ---------------------------------------------------------------------------
// Team

.team {
  @extend %landing-section;
  @include at-breakpoint($break) { @include padding-trailer(0); }
}

.dev {
  @include trailer(2);
  @include prefix(3);
  @include rem(min-height, rhythm(6));
  position: relative;
  .fn { @extend %landing-title; }
  .no-backgroundsize & { border: 1px solid $base2; }

  &:before {
    @include background(image-url('landing/harsh.png') no-repeat scroll center top);
    @include background-size(contain);
    @include stretch-y;
    display: block;
    width: columns(3);
    left: 0;
    content: " ";
    .no-backgroundsize & { background-position: center; }
  }

  @include breakpoint(max-width 25em) {
    padding-left: 0;
    .fn {
      @include trailing-border(1px,.25);
      @include trailer(.25);
      border-color: $base2;
      text-align: center;
    }
    &:before {
      @include rem(height, rhythm(6));
      position: static;
      width: 100%;
    }
  }

  @include at-breakpoint($break) {
    @include prefix(3);
    @include span-columns(10);
    &:nth-child(2), &:last-child { @include omega; }
    &:nth-child(3), &:nth-child(4) { clear: both; }
    &:nth-child(3) { @include pre(5); }
    &:before { width: columns(3,10); }
  }
}

$names: peter carl eric jonny;
@each $name in $names { ##{$name}:before { background-image: image-url('landing/#{$name}.png'); } }
