// ---------------------------------------------------------------------------
// Village Layout

.village-app {
  [role="main"] { padding: 0; }
  .container, [role="banner"], [role="contentinfo"] {
    @include container($total-columns);
    @include susy-grid-background;
    min-width: $break-width;
  }
}

.village {
  @include pie-clearfix;
  @include transition(height 150ms);
  position: relative;
  height: rhythm(24);
}

.village-content {
  position: relative;
  height: 100%;
  margin-left: columns($left);
}

$content-width: $center + $right;

.village-main {
  position: relative;
  float: left;
  width: columns($center, $content-width);
  height: 100%;
}
