// ---------------------------------------------------------------------------
// Village Layout

.village-app {
  [role="banner"], .container, [role="contentinfo"] {
    @include container($total-columns);
    @include susy-grid-background;
    min-width: $break-width;
    max-width: 100%;
  }
  [role="main"] { padding: 0; }
}

.village {
  @include pie-clearfix;
  @include transition(height 150ms);
  position: relative;
  height: rhythm(24);
}

.village-content {
  position: relative;
  height: 100%;
  margin-left: columns($left);
}

$village-border-color   : $base1;
$content-width          : $center + $right;

.village-main {
  position: relative;
  float: left;
  width: columns($center, $content-width);
  height: 100%;
  border-right: 1px solid $village-border-color;
}
