// ---------------------------------------------------------------------------
// Village Nav

$village-nav-bg   : $base2;

%village-nav-span {
  @include bleed($village-bleed, left);
  display: block;
  position: relative;
}

%village-nav-item {
  @extend %village-nav-span;
  @include trailing-border(1px,.25,$village-list-size);
  @include padding-leader(.25,$village-list-size);
  border-color: $village-border-color;
}

.village-nav {
  @extend %village-lists;
  @extend %overflow-y;
  @include box-sizing(content-box);
  left: - $village-bleed;
  width: columns($left);
  padding-left: $village-bleed;
  border: 1px solid $village-border-color;
  border-width: 0 1px;
}

.student { position: relative; }

.select-student {
  @extend %village-nav-item;
  #{$link} {
    @extend %village-activenav;
    @include rgba-background(rgba($village-nav-bg,.25));
    @include background(linear-gradient(bottom, rgba($village-nav-bg,.5), rgba($village-nav-bg,.125)));
  }
  #{$focus} {
    @include rgba-background(rgba($village-nav-bg,.5));
    @include background(linear-gradient(bottom, rgba($village-nav-bg,1), rgba($village-nav-bg,.25)));
  }
  .unread {
    display: none; // @@@ TEMPORARY DISABLING
    @include border-radius(30em);
    @include box-shadow($back 0 0 1px);
    position: absolute;
    right: $xxxsmallem;
    min-width: rhythm(1,$village-list-size);
    background: $accent;
    color: $base3;
    font-weight: bold;
    text-align: center;
    &.zero { display: none; }
  }
}

$student-action-color : $orange;

.student-actions {
  @include transition(all 400ms);
  @include css-arrow(top, rhythm(.25,$village-list-size), $student-action-color);
  @include box-shadow;
  @include stretch-x;
  top: 100%;
  margin-left: - $village-bleed;
  background: $student-action-color;
  color: $base03;
  text-transform: capitalize;

  @include opacity(0);
  max-height: 0;
  .active:hover + &, .active + &:hover {
    @include opacity(1);
    max-height: rhythm(2,$village-list-size);
    z-index: 100;
  }

  form { display: inline; }

  a, button {
    @extend %icon;
    display: inline-block;
    position: relative;
    width: 50%;
    margin-right: -.5em;
    padding: rhythm(.25,$village-list-size) $village-bleed;
    text-align: center;
    &, #{$link} { color: $base2; }
    #{$focus} {
      color: $base3;
      @include rgba-background(rgba($base03,.25));
    }
  }
  .edit-student { @extend %icon-pencil; }
  .save-student {
    @extend %icon-checkmark;
    display: none;
  }
  .remove-student {
    @extend %icon-trashcan;
    left: .25em;
  }
}

.addstudent-link {
  @extend %village-nav-item;
  @extend %village-addlink;
  @extend %icon;
  @extend %icon-plus;
  font-weight: bold;
}
