// ---------------------------------------------------------------------------
// Village Nav

$village-nav-title-bg : $blue;
$village-nav-rhythm   : .25;
$village-nav-action-color : $base03;

%village-nav-span {
  display: block;
  position: relative;
}

%village-nav-item {
  @extend %village-nav-span;
  @include trailing-border(1px,$village-nav-rhythm,$village-list-size);
  @include padding-leader($village-nav-rhythm,$village-list-size);
  border-color: $base2;
  padding-left: $box-padding;
}

.nav-error, .remove-error {
  @extend %error;
}

// ---------------------------------------------------------------------------
// Group Titles

%grouptitle-button {
  @extend %button-icon;
  position: absolute;
  top: $box-padding;
}

%navname {
  font-weight: bold;
  text-align: center;
}

.navtitle {
  @include box-shadow($inset-color 0 0 $inset-size);
  @include trailing-border(1px,.25);
  padding: {
    top: $box-padding;
    left: $box-padding;
    right: $box-padding;
  }
  background: $base2;
  border-color: $village-border-color;
}

.group-name {
  @extend %navname;
  padding: 0 rhythm(1.5);
}

.action-showgroups {
  @extend %grouptitle-button;
  @extend %icon-users-list;
  @include button-color($base3);
  left: $box-padding;
}

.group-feed {
  @extend %grouptitle-button;
  @extend %icon-bubble;
  right: $box-padding;
  &.active {
    @include inset;
    background-color: $blue;
  }
}

.groups-title { @extend %navname; }

// ---------------------------------------------------------------------------
// Lists

.village-nav {
  @extend %village-lists;
  @include span-columns($left);
  position: relative;
  height: 100%;
  margin: 0;
  border: 1px solid $village-border-color;
  border-width: 0 1px;
  z-index: 50;
  .itemlist { height: rhythm(12); }
  .students-list { @include calc(height, '100% - #{rhythm(4.25)}'); }
  .groups-list { @include calc(height, '100% - #{rhythm(6)}'); }
  .additems {
    @include leading-border(1px,.25);
    @include box-shadow($inset-color 0 0 $inset-size);
    border-color: $village-border-color;
  }
}

.listitem {
  position: relative;
  &.student, &.group { @include sans; }
}

.listitem-select {
  @extend %village-nav-item;
  @extend %village-activenav;
  #{$link} {
    .group & {
      @extend %icon;
      @extend %icon-users;
    }
  }
  #{$focus} { background: rgba($base2,.5); }

  .unread {
    @include adjust-font-size-to($smallpx,.75,$village-list-size);
    @include border-radius(.25em);
    @include box-shadow(rgba($back,.5) 0 0 3px inset);
    position: absolute;
    right: $xxxsmallpx;
    top: rhythm(.375,$smallpx);
    padding: 0 .25em;
    background: $accent;
    color: $base3;
    text-align: center;
    &.zero { display: none; }
  }
}

// ----------------------------------------------------------------------------
// Add Items

.additems {
  padding: $box-padding*2;

  [class*="additem-"] {
    @extend %button;
    @extend %icon;
    @extend %icon-user-plus;
    @extend %ellipsis;
    @include button-color(color($green lightest));
    margin: $box-padding 0;
    display: block;
    font-weight: bold;
    text-align: left;

    .additems & { margin: $box-padding*2 0; }

    &[class*="-group"] {
      @extend %icon-users-plus;
      @include button-color(color($blue lightest));
    }

    &.active {
      @include button-color(color($base));
      @include inset;
    }
  }
}
