// ---------------------------------------------------------------------------
// Village Pages

%overflow-y {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  &.loading { position: absolute; }
}

%village-page {
  @extend %formdefaults;
  @extend %overflow-y;
  padding: rhythm(.5);
  > :last-child { @include trailer(2); }
}
