// ---------------------------------------------------------------------------
// Village Pages

%overflow-y {
  @include stretch-y;
  overflow-y: scroll;
  &.loading { position: absolute; }
}

%village-page {
  @extend %formdefaults;
  height: 100%;
  padding: rhythm();
  overflow-y: scroll;
  > :last-child { @include trailer(2); }
  h2 {
    @include adjust-font-size-to($largepx);
    @include trailer(1,$largepx);
    @include serif;
    font-weight: bold;
  }
}

%village-solo-page {
  @extend %village-page;
  @include span-columns($center omega, $content-width);
  @include post($right, $content-width);
  margin-left: gutter($content-width);
}

%village-main-page {
  @extend %village-page;
  margin-left: gutter($center);
}

// ---------------------------------------------------------------------------
// Village Lists

$village-border-color   : $base1;

$village-list-size      : $smallpx;
$village-ratio          : $base-font-size / $village-list-size;
$village-bleed          : $grid-padding * $village-ratio;

%village-lists {
  @include cond;
  @include adjust-font-size-to($village-list-size);
  ul { @include no-style-list; }
}

%village-activenav {
  &.active {
    @include box-shadow(rgba($back,.5) 0 0 $xxxsmallpx inset);
    background: $base01;
    color: $base3;
  }
}

%village-addlink {
  #{$link} {
    @extend %icon;
    @extend %icon-plus;
    @extend %village-activenav;
    @include rgba-background(rgba($green,.375));
    @include background(linear-gradient(bottom, rgba($green,.5), rgba($green,.25)));
    color: $base;
    font-weight: bold;
  }
}
