// ---------------------------------------------------------------------------
// Village Header

.village-header {
  @include pie-clearfix;
  @include padding-leader(.25);
  @include trailing-border(1px,.25);
  @include box-shadow($inset-color 0 0 $inset-size);
  position: relative;
  padding-left: rhythm(.5);
  padding-right: $box-padding;
  background: color($base3 lighter);
  border-color: $village-border-color;
  z-index: 10;
}

.village-title {
  @include serif;
  @include adjust-font-size-to($largepx);
  overflow: hidden;
  font-weight: bold;
  [class^="icon-"] {
    color: color($base,.5);
    &:before { margin: 0; }
  }
  b { font-weight: normal; }
}

// ---------------------------------------------------------------------------
// Page Actions

.page-actions {
  @include adjust-font-size-to($smallpx);
  float: right;
  padding-top: $box-padding;
  text-align: right;

  [class*="action-"] {
    @extend %button;
    @extend %icon;
    @include button-color($base3);
  }

  .action-edit { @extend %icon-pencil; }
  .action-back { @extend %icon-undo-2; }
}
