/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 *
 */
@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round-webfont.eot');
  src: url('../fonts/cambridge_round-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round-webfont.woff') format('woff'), url('../fonts/cambridge_round-webfont.ttf') format('truetype'), url('../fonts/cambridge_round-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_semibold-webfont.eot');
  src: url('../fonts/cambridge_round_semibold-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_semibold-webfont.woff') format('woff'), url('../fonts/cambridge_round_semibold-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_semibold-webfont.svg#webfont') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_bold-webfont.eot');
  src: url('../fonts/cambridge_round_bold-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_bold-webfont.woff') format('woff'), url('../fonts/cambridge_round_bold-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_bold-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_it-webfont.eot');
  src: url('../fonts/cambridge_round_it-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_it-webfont.woff') format('woff'), url('../fonts/cambridge_round_it-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_it-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Book-webfont.eot');
  src: url('../fonts/SquareSerif-Book-webfont.eot?#iefix') format('eot'), url('../fonts/SquareSerif-Book-webfont.woff') format('woff'), url('../fonts/SquareSerif-Book-webfont.ttf') format('truetype'), url('../fonts/SquareSerif-Book-webfont.svg#SquareSerifBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Bold-webfont.eot');
  src: url('../fonts/SquareSerif-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/SquareSerif-Bold-webfont.woff') format('woff'), url('../fonts/SquareSerif-Bold-webfont.ttf') format('truetype'), url('../fonts/SquareSerif-Bold-webfont.svg#SquareSerifBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "pyo";
  src: url('../fonts/pyo.eot');
  src: url('../fonts/pyo.eot?#iefix') format('eot'), url('../fonts/pyo.svg#pyo') format('svg'), url('../fonts/pyo.woff') format('woff'), url('../fonts/pyo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
.main-login .reset-link::before, .add-row::before, .remove-row::before, #messages .close::before, [type="checkbox"] + label::before, [type="radio"] + label::before, .brand .wordmark::before, .meta a::before, .meta button::before, .reset-link::before, .summary li::before, .benefits li::before, .message::before, [data-icon]:before {
  font-family: 'pyo';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.main-login .reset-link::before, .add-row::before, .remove-row::before, #messages .close::before, [type="checkbox"] + label::before, [type="radio"] + label::before, .brand .wordmark::before, .meta a::before, .meta button::before, .reset-link::before, .summary li::before, .benefits li::before, .message::before {
  margin-right: .4em;
}

.main-login .reset-link, .add-row, .remove-row, #messages .close {
  display: inline-block;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
  text-align: left;
}
.main-login .reset-link:focus, .add-row:focus, .remove-row:focus, #messages .close:focus {
  outline: 0;
}
.main-login .reset-link:focus::before, .add-row:focus::before, .remove-row:focus::before, #messages .close:focus::before {
  outline: 1px dotted;
}
.main-login .reset-link::before, .add-row::before, .remove-row::before, #messages .close::before {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  margin-right: 0;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  content: attr(data-icon);
}

[type="checkbox"] + label:before {
  content: "\e001";
}

[type="checkbox"]:checked + label:before {
  content: "\e002";
}

[type="radio"]:checked + label:before {
  content: "\e003";
}

[type="radio"] + label:before {
  content: "\e004";
}

.meta a:before, .meta [href*="/edit/"]:before {
  content: "\e007";
}

.meta button:before {
  content: "\e009";
}

.meta [href*="/password_change/"]:before {
  content: "\e00a";
}

.brand .wordmark:before {
  content: "\e00d";
}

.summary li:before, .benefits li:before, .message.success:before {
  content: "\e00e";
}

.message.error:before {
  content: "\e00f";
}

.remove-row:before, #messages .close:before {
  content: "\e010";
}

.message.info:before {
  content: "\e011";
}

.message.warning:before {
  content: "\e012";
}

.reset-link:before {
  content: "\e013";
}

.add-row:before {
  content: "\e015";
}

/* -------------------------------------------------------------------------*/
/* Root */
html {
  font-size: 112.5%;
  line-height: 1.27778em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #073642;
  color: #eee8d5;
}

/* -------------------------------------------------------------------------*/
/* Selected Text */
::-webkit-selection {
  color: black;
  background: #268bd2;
  text-shadow: none;
}

::-moz-selection {
  color: black;
  background: #268bd2;
  text-shadow: none;
}

::selection {
  color: black;
  background: #268bd2;
  text-shadow: none;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #268bd2;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #d33682;
}

.meta a, .village-landing .formfield .action-betasignup {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.village-landing .formfield label {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
}

img {
  -webkit-box-shadow: #073642 0 0 0.125em;
  -moz-box-shadow: #073642 0 0 0.125em;
  box-shadow: #073642 0 0 0.125em;
  max-width: 100%;
  border: 1px solid #073642;
}

.activationfailed h1, .village-landing h1, .activationfailed h2, .village-landing h2, .activationfailed h3, .village-landing h3, .activationfailed h4, .village-landing h4, .activationfailed h5, .village-landing h5, .activationfailed h6, .village-landing h6 {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.activationfailed p, .village-landing p, .activationfailed ul, .village-landing ul, .activationfailed ol, .village-landing ol {
  margin-bottom: 1.27778em;
}
.activationfailed ul, .village-landing ul {
  list-style: disc;
  padding-left: 1.5em;
}
.activationfailed em, .village-landing em {
  font-style: italic;
}
.activationfailed strong, .village-landing strong {
  font-weight: 500;
}

input[type="button"], input[type="submit"], input[type="image"],
label, button {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: none;
}
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
  width: auto !important;
}
input::-webkit-search-decoration {
  display: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input[type="select"], select, textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

optgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

optgroup {
  color: #657b83;
  font-style: normal;
  font-weight: normal;
}

.iem7 legend {
  margin-left: -7px;
}

::-moz-focus-inner {
  border: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

.placeholder {
  font-style: italic;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"], textarea {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.77778em;
  line-height: 1.64286em;
  border-style: solid;
  border-width: 0.07143em;
  padding: 0.33929em;
  -webkit-box-shadow: inset rgba(38, 139, 210, 0.5) 0 0 0.512em;
  -moz-box-shadow: inset rgba(38, 139, 210, 0.5) 0 0 0.512em;
  box-shadow: inset rgba(38, 139, 210, 0.5) 0 0 0.512em;
  background: url('../images/rgbapng/ffffff40.png?1346789020');
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  color: inherit;
  border-color: inherit;
  vertical-align: top;
  outline: 0;
}
.lt-ie9 input[type="text"], .lt-ie9 input[type="password"], .lt-ie9 input[type="email"], .lt-ie9 input[type="url"], .lt-ie9 input[type="tel"], .lt-ie9 input[type="date"], .lt-ie9 input[type="datetime"], .lt-ie9 input[type="datetime-local"], .lt-ie9 input[type="month"], .lt-ie9 input[type="week"], .lt-ie9 input[type="time"], .lt-ie9 input[type="number"], .lt-ie9 input[type="search"], .lt-ie9 input[type="color"], .lt-ie9 textarea {
  padding: 0 .5em;
}

.linkaction, button {
  margin: 0;
  background-color: #859900;
  font-size: 18px;
  padding: 0.31944em 1.27778em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.27778em;
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -ms-border-radius: 0.125em;
  -o-border-radius: 0.125em;
  border-radius: 0.125em;
  background-color: #859900;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #859900), color-stop(100%, #596600));
  background: -webkit-linear-gradient(#859900, #596600);
  background: -moz-linear-gradient(#859900, #596600);
  background: -o-linear-gradient(#859900, #596600);
  background: -ms-linear-gradient(#859900, #596600);
  background: linear-gradient(#859900, #596600);
  -webkit-box-shadow: #c8e600 0 1px 0 inset;
  -moz-box-shadow: #c8e600 0 1px 0 inset;
  box-shadow: #c8e600 0 1px 0 inset;
  border: 1px solid #424d00;
  color: #fdf6e3;
  text-shadow: #121400 0 -1px 0;
}
.linkaction:hover, button:hover {
  text-decoration: none;
}
.linkaction:hover, button:hover {
  background-color: #424d00;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6f8000), color-stop(100%, #424d00));
  background: -webkit-linear-gradient(#6f8000, #424d00);
  background: -moz-linear-gradient(#6f8000, #424d00);
  background: -o-linear-gradient(#6f8000, #424d00);
  background: -ms-linear-gradient(#6f8000, #424d00);
  background: linear-gradient(#6f8000, #424d00);
}
.linkaction:active, button:active {
  -webkit-box-shadow: #353d00 0 1px 2px inset;
  -moz-box-shadow: #353d00 0 1px 2px inset;
  box-shadow: #353d00 0 1px 2px inset;
}
.disabled.linkaction, button.disabled, [disabled].linkaction, button[disabled] {
  opacity: 0.6;
  background: #596600;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.linkaction::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

.meta button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  background: inherit;
  color: inherit;
}

.errorlist {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  color: #dc322f;
}
.errorlist li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.formfield {
  margin-bottom: 0.63889em;
  position: relative;
}
.formfield:after {
  content: "";
  display: table;
  clear: both;
}

.formhelp {
  font-size: 0.77778em;
  line-height: 1.64286em;
  display: block;
  clear: both;
  margin: 0;
  color: #93a1a1;
  font-style: italic;
}

.form-actions {
  margin-top: 0.63889em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.63889em;
  position: relative;
  clear: both;
  text-align: right;
}
.form-actions p {
  font-size: 0.77778em;
  line-height: 1.64286em;
  display: inline-block;
  margin: 0 0.4em 0.82143em 0;
}

.iqtest {
  margin-bottom: 2.55556em;
}
.iqtest > p {
  margin-top: 1.27778em;
  border-top-style: solid;
  border-top-width: 0.11111em;
  padding-top: 1.16667em;
  font-style: italic;
}

[type="checkbox"], [type="radio"] {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
}
[type="checkbox"] + label::before, [type="radio"] + label::before {
  margin-left: .4em;
  color: #586e75;
}
[type="checkbox"]:checked + label::before, [type="radio"]:checked + label::before {
  color: #268bd2;
}
[type="checkbox"]:focus + label, [type="radio"]:focus + label {
  color: #002b36;
}

label {
  display: block;
  color: #586e75;
}
label:first-letter {
  text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"] {
  margin: 0;
  min-height: 2.46429em;
}

textarea {
  -webkit-transition: 200ms min-height;
  -moz-transition: 200ms min-height;
  -ms-transition: 200ms min-height;
  -o-transition: 200ms min-height;
  transition: 200ms min-height;
  min-height: 2.46429em;
}

.initial-password, .village-landing .membership {
  margin-left: -1em;
  padding-left: 1em;
  margin-right: -1em;
  padding-right: 1em;
}

.initial-password, .formset.elders {
  background: #eee8d5;
}
.initial-password:after, .formset.elders:after {
  content: "";
  display: table;
  clear: both;
}

.initial-password {
  margin-top: 0em;
  padding-top: 0.63889em;
  padding-bottom: 0.63889em;
  margin-bottom: 1.27778em;
}

.login h2, .register h2, .edit-profile h2, .reset-password h2, .change-password h2, .set-password h2, .activationfailed h2 {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
@media (min-width: 36em) {
  .login, .register, .edit-profile, .reset-password, .change-password, .set-password, .activationfailed {
    padding-left: 25.38462%;
    padding-right: 25.38462%;
  }
}

@media (min-width: 36em) {
  .login label, .register label, .edit-profile label, .reset-password label, .change-password label, .set-password label, .initial-password label {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 48.4375%;
    float: left;
    margin-right: 3.125%;
    padding: 0.31944em 0;
    text-align: right;
  }
  .login label + input, .register label + input, .edit-profile label + input, .reset-password label + input, .change-password label + input, .set-password label + input, .initial-password label + input, .login label + textarea, .register label + textarea, .edit-profile label + textarea, .reset-password label + textarea, .change-password label + textarea, .set-password label + textarea, .initial-password label + textarea {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  .login [type="checkbox"] + label, .register [type="checkbox"] + label, .edit-profile [type="checkbox"] + label, .reset-password [type="checkbox"] + label, .change-password [type="checkbox"] + label, .set-password [type="checkbox"] + label, .initial-password [type="checkbox"] + label, .login [type="radio"] + label, .register [type="radio"] + label, .edit-profile [type="radio"] + label, .reset-password [type="radio"] + label, .change-password [type="radio"] + label, .set-password [type="radio"] + label, .initial-password [type="radio"] + label {
    float: none;
    width: auto;
    margin-right: auto;
    margin-left: 51.5625%;
    display: inline-block;
    padding: 0;
    text-align: left;
  }
  .login .formhelp, .register .formhelp, .edit-profile .formhelp, .reset-password .formhelp, .change-password .formhelp, .set-password .formhelp, .initial-password .formhelp {
    margin-left: 51.5625%;
  }
  .login label, .register label, .edit-profile label, .reset-password label, .change-password label, .set-password label, .initial-password label {
    margin-left: -51.5625%;
  }
}

.login p, .register p, .edit-profile p, .reset-password p, .change-password p, .set-password p {
  margin-bottom: 1.27778em;
}

.pagehead {
  font-size: 1.94444em;
  line-height: 1.31429em;
  margin-bottom: 0.65714em;
}

[role="banner"], [role="contentinfo"], [role="main"] .container {
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
[role="banner"]:after, [role="contentinfo"]:after, [role="main"] .container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 36em) {
  [role="banner"], [role="contentinfo"], [role="main"] .container {
    max-width: 67em;
  }
}

[role="banner"], [role="contentinfo"] {
  clear: both;
}
[role="banner"] a:link, [role="contentinfo"] a:link, [role="banner"] a:visited, [role="contentinfo"] a:visited {
  color: #fdf6e3;
  text-decoration: none;
}
[role="banner"] a:focus, [role="contentinfo"] a:focus, [role="banner"] a:hover, [role="contentinfo"] a:hover, [role="banner"] a:active, [role="contentinfo"] a:active {
  color: #e896b2;
}
[role="banner"] ::-webkit-input-placeholder, [role="contentinfo"] ::-webkit-input-placeholder {
  color: rgba(238, 232, 213, 0.75);
}
[role="banner"] :-moz-placeholder, [role="contentinfo"] :-moz-placeholder {
  color: rgba(238, 232, 213, 0.75);
}
[role="banner"] .placeholder, [role="contentinfo"] .placeholder {
  color: rgba(238, 232, 213, 0.75);
}

.meta a, .meta button {
  padding-top: 0.63889em;
  padding-bottom: 0.63889em;
}

.brand {
  width: 48.4375%;
  float: left;
  margin-right: 3.125%;
}
@media (min-width: 36em) {
  .brand {
    width: 32.30769%;
    float: left;
    margin-right: 1.53846%;
  }
}
.brand .wordmark {
  line-height: 2.55556em;
  height: 2.55556em;
  display: block;
  overflow: hidden;
}
.brand .wordmark::before {
  margin: 0;
}
.brand b {
  font-weight: bold;
}

.meta {
  width: 48.4375%;
  float: right;
  margin-right: 0;
  position: relative;
  text-align: right;
}
@media (min-width: 36em) {
  .meta {
    width: 15.38462%;
    float: right;
    margin-right: 0;
  }
}
.meta a {
  display: block;
}
.meta button:link, .meta button:visited {
  color: #fdf6e3;
  text-decoration: none;
}
.meta button:focus, .meta button:hover, .meta button:active {
  color: #e896b2;
}

.useractions {
  font-size: 0.77778em;
  line-height: 1.64286em;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0 -0.82143em;
  background: #073642;
  text-align: left;
  z-index: 900;
  display: none;
}
.useractions a, .useractions button {
  padding: 0.82143em;
}
.meta:hover .useractions {
  display: block;
}

[role="main"] {
  margin-top: 0em;
  padding-top: 1.27778em;
  padding-bottom: 1.27778em;
  margin-bottom: 0em;
  color: #657b83;
  background: #fdf6e3;
}

[role="contentinfo"] {
  margin-top: 0em;
  padding-top: 0.63889em;
  padding-bottom: 0.63889em;
  margin-bottom: 0em;
}
[role="contentinfo"] .author {
  font-size: 0.66667em;
  line-height: 1.91667em;
  margin-bottom: 0em;
  text-transform: uppercase;
}
[role="contentinfo"] strong {
  font-weight: bold;
}

@media (min-width: 36em) {
  .initial-password {
    margin-left: -51.5625%;
    padding-left: 51.5625%;
    margin-right: -51.5625%;
    padding-right: 51.5625%;
    padding-top: 1.27778em;
  }
  .initial-password label {
    padding-left: 1.27778em;
  }
}

.main-login .login-form {
  display: none;
  position: relative;
}
.main-login label {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
}
.main-login .login-link {
  font-size: 14px;
  padding: 0.575em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.27778em;
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -ms-border-radius: 0.125em;
  -o-border-radius: 0.125em;
  border-radius: 0.125em;
  background-color: #657b83;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #657b83), color-stop(100%, #4f6066));
  background: -webkit-linear-gradient(#657b83, #4f6066);
  background: -moz-linear-gradient(#657b83, #4f6066);
  background: -o-linear-gradient(#657b83, #4f6066);
  background: -ms-linear-gradient(#657b83, #4f6066);
  background: linear-gradient(#657b83, #4f6066);
  -webkit-box-shadow: #8da0a7 0 1px 0 inset;
  -moz-box-shadow: #8da0a7 0 1px 0 inset;
  box-shadow: #8da0a7 0 1px 0 inset;
  border: 1px solid #445258;
  color: #eee8d5;
  text-shadow: #2b3538 0 -1px 0;
  margin-top: 0.41071em;
  float: right;
  max-width: 48.4375%;
}
.main-login .login-link:hover {
  text-decoration: none;
}
.main-login .login-link:hover {
  background-color: #445258;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a6d75), color-stop(100%, #445258));
  background: -webkit-linear-gradient(#5a6d75, #445258);
  background: -moz-linear-gradient(#5a6d75, #445258);
  background: -o-linear-gradient(#5a6d75, #445258);
  background: -ms-linear-gradient(#5a6d75, #445258);
  background: linear-gradient(#5a6d75, #445258);
}
.main-login .login-link:active {
  -webkit-box-shadow: #3d4a4f 0 1px 2px inset;
  -moz-box-shadow: #3d4a4f 0 1px 2px inset;
  box-shadow: #3d4a4f 0 1px 2px inset;
}
.main-login .login-link.disabled, .main-login .login-link[disabled] {
  opacity: 0.6;
  background: #4f6066;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main-login .reset-link {
  display: inline-block;
  width: 1em;
}
@media (min-width: 36em) {
  .main-login {
    width: 66.15385%;
    float: right;
    margin-right: 0;
  }
  .main-login .login-link {
    display: none;
  }
  .main-login .login-form {
    padding-top: 0.31944em;
    display: block;
  }
  .main-login .formfield {
    width: 36.04651%;
    float: left;
    margin-right: 2.32558%;
    margin-bottom: 0;
  }
  .main-login .form-actions {
    width: 23.25581%;
    float: right;
    margin-right: 0;
    clear: none;
    margin: 0;
  }
  .main-login .reset-link {
    margin-top: 0.31944em;
    text-shadow: #002b36 0 0 3px;
    position: absolute;
    top: 0;
    right: 112%;
  }
  .main-login button {
    font-size: 14px;
    padding: 0.575em;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.27778em;
    -webkit-border-radius: 0.125em;
    -moz-border-radius: 0.125em;
    -ms-border-radius: 0.125em;
    -o-border-radius: 0.125em;
    border-radius: 0.125em;
    background-color: #657b83;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #657b83), color-stop(100%, #4f6066));
    background: -webkit-linear-gradient(#657b83, #4f6066);
    background: -moz-linear-gradient(#657b83, #4f6066);
    background: -o-linear-gradient(#657b83, #4f6066);
    background: -ms-linear-gradient(#657b83, #4f6066);
    background: linear-gradient(#657b83, #4f6066);
    -webkit-box-shadow: #8da0a7 0 1px 0 inset;
    -moz-box-shadow: #8da0a7 0 1px 0 inset;
    box-shadow: #8da0a7 0 1px 0 inset;
    border: 1px solid #445258;
    color: #eee8d5;
    text-shadow: #2b3538 0 -1px 0;
    background-color: #268bd2;
    width: 100%;
  }
  .main-login button:hover {
    text-decoration: none;
  }
  .main-login button:hover {
    background-color: #445258;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a6d75), color-stop(100%, #445258));
    background: -webkit-linear-gradient(#5a6d75, #445258);
    background: -moz-linear-gradient(#5a6d75, #445258);
    background: -o-linear-gradient(#5a6d75, #445258);
    background: -ms-linear-gradient(#5a6d75, #445258);
    background: linear-gradient(#5a6d75, #445258);
  }
  .main-login button:active {
    -webkit-box-shadow: #3d4a4f 0 1px 2px inset;
    -moz-box-shadow: #3d4a4f 0 1px 2px inset;
    box-shadow: #3d4a4f 0 1px 2px inset;
  }
  .main-login button.disabled, .main-login button[disabled] {
    opacity: 0.6;
    background: #4f6066;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.village-landing {
  padding-top: 1.27778em;
  color: #657b83;
  background: #fdf6e3;
}
.village-landing ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  margin-bottom: 1.27778em;
}
.village-landing ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
.village-landing .tagline {
  font-size: 1.94444em;
  line-height: 1.31429em;
  margin-bottom: 0.65714em;
}
.village-landing .tagline b {
  font-weight: normal;
}
.village-landing .offer {
  font-size: 1.5em;
  line-height: 1.27778em;
}
.village-landing .screenshot {
  margin-bottom: 1.27778em;
}
.village-landing .screenshot figcaption {
  font-size: 0.77778em;
  line-height: 1.64286em;
}
.village-landing .membership {
  border-top-style: solid;
  border-top-width: 0.05556em;
  padding-top: 1.22222em;
  padding-bottom: 1.27778em;
  background: #c7dbde;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(38, 139, 210, 0.25)), color-stop(100%, rgba(38, 139, 210, 0)));
  background: -webkit-linear-gradient(top, rgba(38, 139, 210, 0.25), rgba(38, 139, 210, 0));
  background: -moz-linear-gradient(top, rgba(38, 139, 210, 0.25), rgba(38, 139, 210, 0));
  background: -o-linear-gradient(top, rgba(38, 139, 210, 0.25), rgba(38, 139, 210, 0));
  background: -ms-linear-gradient(top, rgba(38, 139, 210, 0.25), rgba(38, 139, 210, 0));
  background: linear-gradient(top, rgba(38, 139, 210, 0.25), rgba(38, 139, 210, 0));
  border-color: #93a1a1;
}
.village-landing .membership .errorlist {
  font-size: 0.77778em;
  line-height: 1.64286em;
  margin: 0;
  padding: 0;
}
.village-landing .membership .offernote {
  font-style: italic;
}
.village-landing .membership .benefits {
  color: #93a1a1;
}
.village-landing .formfield {
  overflow: hidden;
}
.village-landing .formfield::after {
  clear: none;
}
.village-landing .formfield input {
  width: 58.49057%;
  float: left;
  margin-right: 3.77358%;
  margin-right: 0;
}
.village-landing .formfield .action-betasignup {
  width: 37.73585%;
  float: right;
  margin-right: 0;
}

.intro {
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.intro:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 36em) {
  .intro {
    max-width: 67em;
  }
}
@media (min-width: 36em) {
  .intro .summary {
    width: 40.76923%;
    float: right;
    margin-right: 0;
  }
  .intro .screenshot {
    width: 57.69231%;
    float: left;
    margin-right: 1.53846%;
    position: relative;
    z-index: 20;
  }
  .intro .membership {
    padding-left: 59.23077%;
    clear: right;
  }
  .intro .membership > * {
    margin-left: 3.77358%;
  }
  .intro .membership .overlay {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 43, 54, 0.5)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
    background: -moz-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
    background: -o-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
    background: -ms-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
    background: linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
    left: 57.69231%;
    margin-left: 0;
  }
}

.summary li, .benefits li {
  position: relative;
  padding-left: 1.5em;
}
.lt-ie9 .summary li, .lt-ie9 .benefits li {
  padding-left: 0;
}
.summary li::before, .benefits li::before {
  position: absolute;
  left: 0;
  top: 0;
}
.summary li {
  margin-bottom: 0.63889em;
}
.summary li::before {
  color: #859900;
}

.team {
  padding-top: 2.55556em;
  background: #002b36 url('../images/landing/space.png?1342738619');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #002b36), color-stop(33.33333%, rgba(0, 43, 54, 0)), color-stop(66.66667%, rgba(0, 43, 54, 0)), color-stop(100%, #002b36)), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(88, 110, 117, 0.75)), color-stop(33.33333%, rgba(0, 43, 54, 0.75)), color-stop(66.66667%, rgba(0, 43, 54, 0.75)), color-stop(100%, rgba(88, 110, 117, 0.75))), url('../images/landing/space.png?1342738619');
  background-image: -webkit-linear-gradient(top, #002b36, rgba(0, 43, 54, 0), rgba(0, 43, 54, 0), #002b36), -webkit-linear-gradient(left, rgba(88, 110, 117, 0.75), rgba(0, 43, 54, 0.75), rgba(0, 43, 54, 0.75), rgba(88, 110, 117, 0.75)), url('../images/landing/space.png?1342738619');
  background-image: -moz-linear-gradient(top, #002b36, rgba(0, 43, 54, 0), rgba(0, 43, 54, 0), #002b36), -moz-linear-gradient(left, rgba(88, 110, 117, 0.75), rgba(0, 43, 54, 0.75), rgba(0, 43, 54, 0.75), rgba(88, 110, 117, 0.75)), url('../images/landing/space.png?1342738619');
  background-image: -o-linear-gradient(top, #002b36, rgba(0, 43, 54, 0), rgba(0, 43, 54, 0), #002b36), -o-linear-gradient(left, rgba(88, 110, 117, 0.75), rgba(0, 43, 54, 0.75), rgba(0, 43, 54, 0.75), rgba(88, 110, 117, 0.75)), url('../images/landing/space.png?1342738619');
  background-image: -ms-linear-gradient(top, #002b36, rgba(0, 43, 54, 0), rgba(0, 43, 54, 0), #002b36), -ms-linear-gradient(left, rgba(88, 110, 117, 0.75), rgba(0, 43, 54, 0.75), rgba(0, 43, 54, 0.75), rgba(88, 110, 117, 0.75)), url('../images/landing/space.png?1342738619');
  background-image: linear-gradient(top, #002b36, rgba(0, 43, 54, 0), rgba(0, 43, 54, 0), #002b36), linear-gradient(left, rgba(88, 110, 117, 0.75), rgba(0, 43, 54, 0.75), rgba(0, 43, 54, 0.75), rgba(88, 110, 117, 0.75)), url('../images/landing/space.png?1342738619');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  color: #93a1a1;
}
.team .container {
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.team .container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 36em) {
  .team .container {
    max-width: 67em;
  }
}
.team .fn {
  font-size: 1.27778em;
  line-height: 1.5em;
  color: #eee8d5;
}
@media (min-width: 38.25em) {
  .team .fn {
    font-size: 1.94444em;
    line-height: 1.31429em;
  }
}
.team .pyo {
  margin-bottom: 2.55556em;
  -webkit-border-radius: 1.27778em;
  -moz-border-radius: 1.27778em;
  -ms-border-radius: 1.27778em;
  -o-border-radius: 1.27778em;
  border-radius: 1.27778em;
  -webkit-box-shadow: #002b36 0 0 0.63889em;
  -moz-box-shadow: #002b36 0 0 0.63889em;
  box-shadow: #002b36 0 0 0.63889em;
  background: url('../images/rgbapng/586e7540.png?1346789020');
  background: rgba(88, 110, 117, 0.25);
  clear: both;
  padding: 1.27778em;
}
.team .pyo p {
  margin: 0;
}
@media (min-width: 36em) {
  .team .pyo {
    padding-left: 25.38462%;
    padding-right: 25.38462%;
  }
}
.team .dev {
  margin-bottom: 1.27778em;
}
.team .dev:after {
  content: "";
  display: table;
  clear: both;
}
.team .dev .fn, .team .dev .bio {
  width: 65.625%;
  float: right;
  margin-right: 0;
}
.team .dev .photo {
  width: 31.25%;
  float: left;
  margin-right: 3.125%;
  -webkit-box-shadow: #657b83 0 0 0.63889em;
  -moz-box-shadow: #657b83 0 0 0.63889em;
  box-shadow: #657b83 0 0 0.63889em;
  -moz-border-radius-topleft: 5.96046em;
  -webkit-border-top-left-radius: 5.96046em;
  border-top-left-radius: 5.96046em;
  -moz-border-radius-bottomleft: 5.96046em;
  -webkit-border-bottom-left-radius: 5.96046em;
  border-bottom-left-radius: 5.96046em;
  -moz-border-radius-topright: 0.64em;
  -webkit-border-top-right-radius: 0.64em;
  border-top-right-radius: 0.64em;
  -moz-border-radius-bottomright: 0.64em;
  -webkit-border-bottom-right-radius: 0.64em;
  border-bottom-right-radius: 0.64em;
  overflow: hidden;
}
.team .dev:nth-child(odd) .fn, .team .dev:nth-child(odd) .bio {
  float: left;
  text-align: right;
}
.team .dev:nth-child(odd) .photo {
  -moz-border-radius-topright: 5.96046em;
  -webkit-border-top-right-radius: 5.96046em;
  border-top-right-radius: 5.96046em;
  -moz-border-radius-bottomright: 5.96046em;
  -webkit-border-bottom-right-radius: 5.96046em;
  border-bottom-right-radius: 5.96046em;
  -moz-border-radius-topleft: 0.64em;
  -webkit-border-top-left-radius: 0.64em;
  border-top-left-radius: 0.64em;
  -moz-border-radius-bottomleft: 0.64em;
  -webkit-border-bottom-left-radius: 0.64em;
  border-bottom-left-radius: 0.64em;
  float: right;
  margin-right: 0;
}
@media (min-width: 36em) {
  .team .dev:nth-child(even) {
    padding-left: 8.46154%;
    padding-right: 25.38462%;
  }
  .team .dev:nth-child(odd) {
    padding-left: 25.38462%;
    padding-right: 8.46154%;
  }
  .team .dev .fn, .team .dev .bio, .team .dev .photo {
    margin-right: 0;
  }
  .team .dev .fn, .team .dev .bio {
    width: 74.4186%;
  }
  .team .dev .photo {
    width: 23.25581%;
  }
}

.village-app [role="main"] {
  padding: 0;
}
.village-app .container, .village-app [role="banner"], .village-app [role="contentinfo"] {
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}

.village {
  -webkit-transition: height 150ms;
  -moz-transition: height 150ms;
  -ms-transition: height 150ms;
  -o-transition: height 150ms;
  transition: height 150ms;
  position: relative;
  height: 30.66667em;
}
.village:after {
  content: "";
  display: table;
  clear: both;
}

.village-main {
  position: relative;
  float: left;
  width: 67.69231%;
  margin-left: 15.38462%;
  height: 100%;
}

.village-nav, .village-feed {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

.village-add-form, .dashboard, .elder-add-form {
  padding-top: 2.55556em;
  height: 100%;
  overflow-y: scroll;
}
.village-add-form > :last-child, .dashboard > :last-child, .elder-add-form > :last-child {
  margin-bottom: 2.55556em;
}
.village-add-form h2, .dashboard h2, .elder-add-form h2 {
  font-size: 1.94444em;
  line-height: 1.31429em;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-bottom: 0.65714em;
  font-weight: bold;
}

.village-add-form, .dashboard {
  width: 66.15385%;
  float: right;
  margin-right: 0;
  padding-left: 8.46154%;
  padding-right: 8.46154%;
  margin-right: 16.92308%;
  margin-left: 1.53846%;
}

.elder-add-form {
  padding-left: 12.7907%;
  padding-right: 12.7907%;
  margin-left: 2.32558%;
}

.village-nav, .village-elders {
  font-size: 0.77778em;
  line-height: 1.64286em;
}
.village-nav ul, .village-elders ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
.village-nav ul li, .village-elders ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.village-nav .active.addstudent-link:link, .active.addelder-link:link, .village-nav .active.addstudent-link:visited, .active.addelder-link:visited, .village-nav a.active:link, .village-nav a.active:visited {
  -webkit-box-shadow: rgba(7, 54, 66, 0.5) 0 0 9px inset;
  -moz-box-shadow: rgba(7, 54, 66, 0.5) 0 0 9px inset;
  box-shadow: rgba(7, 54, 66, 0.5) 0 0 9px inset;
  background: #93a1a1;
  color: #fdf6e3;
}

.village-nav .addstudent-link:link, .addelder-link:link, .village-nav .addstudent-link:visited, .addelder-link:visited {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(133, 153, 0, 0.5)), color-stop(100%, rgba(133, 153, 0, 0.25)));
  background: -webkit-linear-gradient(bottom, rgba(133, 153, 0, 0.5), rgba(133, 153, 0, 0.25));
  background: -moz-linear-gradient(bottom, rgba(133, 153, 0, 0.5), rgba(133, 153, 0, 0.25));
  background: -o-linear-gradient(bottom, rgba(133, 153, 0, 0.5), rgba(133, 153, 0, 0.25));
  background: -ms-linear-gradient(bottom, rgba(133, 153, 0, 0.5), rgba(133, 153, 0, 0.25));
  background: linear-gradient(bottom, rgba(133, 153, 0, 0.5), rgba(133, 153, 0, 0.25));
  color: #657b83;
}

.formset.elders {
  margin-left: -1em;
  padding-left: 1em;
  margin-right: -1em;
  padding-right: 1em;
  margin-top: 1.27778em;
  position: relative;
}
.formset.elders label {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 31.25%;
  float: left;
  margin-right: 3.125%;
  padding: 0.31944em 0;
  text-align: right;
}
.formset.elders label + input, .formset.elders label + textarea {
  width: 65.625%;
  float: right;
  margin-right: 0;
}
.formset.elders [type="checkbox"] + label, .formset.elders [type="radio"] + label {
  float: none;
  width: auto;
  margin-right: auto;
  margin-left: 34.375%;
  display: inline-block;
  padding: 0;
  text-align: left;
}
.formset.elders .formhelp {
  margin-left: 34.375%;
}
.formset.elders .formset-head {
  margin-left: -1em;
  padding-left: 1em;
  margin-right: -1em;
  padding-right: 1em;
  padding-top: 0.31944em;
  padding-bottom: 0.31944em;
  background: rgba(88, 110, 117, 0.5);
  color: #fdf6e3;
}
.formset.elders .fieldset {
  padding-top: 1.27778em;
  position: relative;
}
.formset.elders .fieldset:after {
  content: "";
  display: table;
  clear: both;
}
.formset.elders .fieldset + .fieldset {
  margin-top: 0.63889em;
  border-top-style: solid;
  border-top-width: 0.05556em;
  padding-top: 1.22222em;
  border-color: rgba(147, 161, 161, 0.5);
}
.formset.elders .school-staff-field {
  margin: 0;
}
.formset.elders .formhelp {
  display: none;
}

.add-row {
  position: absolute;
  bottom: 0.31944em;
  right: 1em;
}
.add-row:link, .add-row:visited {
  color: #657b83;
}
.add-row:focus, .add-row:hover, .add-row:active {
  color: #002b36;
}
.fieldset + .add-row {
  bottom: 0.63889em;
}

.remove-row {
  position: absolute;
  top: 0.63889em;
  left: 0;
}
.remove-row:link, .remove-row:visited {
  color: rgba(147, 161, 161, 0.5);
}
.remove-row:focus, .remove-row:hover, .remove-row:active {
  color: #dc322f;
}

.getstarted {
  margin-left: -17.1875%;
  padding-left: 17.1875%;
  padding-bottom: 5.11111em;
  background: url('../images/start-arrow.png?1347385779') no-repeat left bottom;
  font-weight: bold;
}

.village-nav {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  left: -1em;
  width: 15.38462%;
  padding-left: 1em;
  border: 1px solid #93a1a1;
  border-width: 0 1px;
}
.village-nav a:link, .village-nav a:visited {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-left: -1em;
  padding-left: 1em;
  border-bottom-style: solid;
  border-bottom-width: 0.07143em;
  padding-bottom: 0.33929em;
  padding-top: 0.41071em;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(238, 232, 213, 0.5)), color-stop(100%, rgba(238, 232, 213, 0.125)));
  background: -webkit-linear-gradient(bottom, rgba(238, 232, 213, 0.5), rgba(238, 232, 213, 0.125));
  background: -moz-linear-gradient(bottom, rgba(238, 232, 213, 0.5), rgba(238, 232, 213, 0.125));
  background: -o-linear-gradient(bottom, rgba(238, 232, 213, 0.5), rgba(238, 232, 213, 0.125));
  background: -ms-linear-gradient(bottom, rgba(238, 232, 213, 0.5), rgba(238, 232, 213, 0.125));
  background: linear-gradient(bottom, rgba(238, 232, 213, 0.5), rgba(238, 232, 213, 0.125));
  display: block;
  border-color: #93a1a1;
  padding-left: 1em;
}
.village-nav a:focus, .village-nav a:hover, .village-nav a:active {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #eee8d5), color-stop(100%, rgba(238, 232, 213, 0.25)));
  background: -webkit-linear-gradient(bottom, #eee8d5, rgba(238, 232, 213, 0.25));
  background: -moz-linear-gradient(bottom, #eee8d5, rgba(238, 232, 213, 0.25));
  background: -o-linear-gradient(bottom, #eee8d5, rgba(238, 232, 213, 0.25));
  background: -ms-linear-gradient(bottom, #eee8d5, rgba(238, 232, 213, 0.25));
  background: linear-gradient(bottom, #eee8d5, rgba(238, 232, 213, 0.25));
}

.village-feed {
  left: 0;
  right: 0;
  bottom: 4.47222em;
}

.post {
  border-bottom-style: solid;
  border-bottom-width: 0.05556em;
  padding-bottom: 0.26389em;
  padding-left: 2.32558%;
  padding-right: 2.32558%;
  border-color: #eee8d5;
}
.post:after {
  content: "";
  display: table;
  clear: both;
}
.post .byline {
  font-size: 0.66667em;
  line-height: 1.91667em;
  color: #93a1a1;
}
.post .byline h3 {
  display: inline;
}
.post .byline b {
  color: #657b83;
  font-weight: bold;
}
.post .byline time {
  float: right;
}
.post .body {
  overflow: hidden;
  font-size: 0.77778em;
  line-height: 1.64286em;
}

.post-add-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.63889em 1.53846%;
  border-top: 1px solid #657b83;
  background: #93a1a1;
}
.post-add-form .formfield {
  float: left;
  width: 87.2093%;
  margin: 0;
}
.post-add-form textarea {
  height: 4.10714em;
  min-height: 4.10714em;
  background: rgba(255, 255, 255, 0.75);
  padding-left: 0.82143em;
  resize: none;
}
.post-add-form .form-actions {
  clear: none;
  float: right;
  margin: 0;
  width: 12.7907%;
}
.post-add-form button {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  top: 1px;
  padding: 0;
  height: 3.19444em;
  width: 100%;
  text-transform: uppercase;
}

.village-elders {
  padding-top: 0.63889em;
  float: right;
  width: 16.92308%;
  padding-left: 1.53846%;
  height: 100%;
  border-left: 1px solid #93a1a1;
}
.village-elders h2 {
  margin-bottom: 1.27778em;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.village-elders li {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.village-elders b {
  font-weight: bold;
}
.village-elders span {
  color: #93a1a1;
}

.addelder-link {
  margin-top: 1.64286em;
  border-style: solid;
  border-width: 0.07143em;
  padding: 0.33929em;
  display: block;
  border-color: #93a1a1;
  padding-left: 0.82143em;
}

@-moz-keyframes loading {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loading {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes loading {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes loading {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

.loading {
  position: relative;
}
.loading .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: #002b36 0 0 3px;
  -webkit-animation: loading 1s linear alternate infinite both;
  -moz-animation: loading 1s linear alternate infinite both;
  -ms-animation: loading 1s linear alternate infinite both;
  -o-animation: loading 1s linear alternate infinite both;
  animation: loading 1s linear alternate infinite both;
  background: url('../images/rgbapng/002b3640.png?1346789020');
  background: rgba(0, 43, 54, 0.25);
  font-weight: bold;
  text-align: center;
  color: #fdf6e3;
  z-index: 100;
}

.message {
  padding-top: 0.63889em;
  border-bottom-style: solid;
  border-bottom-width: 0.05556em;
  padding-bottom: 0.58333em;
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
  border-color: #657b83;
}
.message::before {
  font-size: 1.27778em;
  line-height: 1em;
}
.message.info {
  background: url('../images/rgbapng/268bd2e5.png?1346789020');
  background: rgba(38, 139, 210, 0.9);
}
.message.success {
  background: url('../images/rgbapng/859900e5.png?1346789020');
  background: rgba(133, 153, 0, 0.9);
}
.message.warning {
  background: url('../images/rgbapng/b58900e5.png?1346789020');
  background: rgba(181, 137, 0, 0.9);
}
.message.error {
  background: url('../images/rgbapng/dc322fe5.png?1346789020');
  background: rgba(220, 50, 47, 0.9);
}
.message p {
  display: inline;
}

#messages {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  -webkit-box-shadow: #002b36 0 0 0.31944em, #002b36 0 0 0.63889em;
  -moz-box-shadow: #002b36 0 0 0.31944em, #002b36 0 0 0.63889em;
  box-shadow: #002b36 0 0 0.31944em, #002b36 0 0 0.63889em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 43, 54, 0.5);
  z-index: 999;
}
#messages li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
#messages .close {
  position: absolute;
  right: 0.63889em;
  top: 0.63889em;
  width: 1em;
}
#messages .close:link, #messages .close:visited {
  color: #586e75;
}
#messages .close:focus, #messages .close:hover, #messages .close:active {
  color: #002b36;
}
