html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 *
 */
@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round-webfont.eot');
  src: url('../fonts/cambridge_round-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round-webfont.woff') format('woff'), url('../fonts/cambridge_round-webfont.ttf') format('truetype'), url('../fonts/cambridge_round-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_semibold-webfont.eot');
  src: url('../fonts/cambridge_round_semibold-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_semibold-webfont.woff') format('woff'), url('../fonts/cambridge_round_semibold-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_semibold-webfont.svg#webfont') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_bold-webfont.eot');
  src: url('../fonts/cambridge_round_bold-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_bold-webfont.woff') format('woff'), url('../fonts/cambridge_round_bold-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_bold-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_it-webfont.eot');
  src: url('../fonts/cambridge_round_it-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_it-webfont.woff') format('woff'), url('../fonts/cambridge_round_it-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_it-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Book-webfont.eot');
  src: url('../fonts/SquareSerif-Book-webfont.eot?#iefix') format('eot'), url('../fonts/SquareSerif-Book-webfont.woff') format('woff'), url('../fonts/SquareSerif-Book-webfont.ttf') format('truetype'), url('../fonts/SquareSerif-Book-webfont.svg#SquareSerifBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Bold-webfont.eot');
  src: url('../fonts/SquareSerif-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/SquareSerif-Bold-webfont.woff') format('woff'), url('../fonts/SquareSerif-Bold-webfont.ttf') format('truetype'), url('../fonts/SquareSerif-Bold-webfont.svg#SquareSerifBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "pyo";
  src: url('../fonts/pyo.eot');
  src: url('../fonts/pyo.eot?#iefix') format('eot'), url('../fonts/pyo.svg#pyo') format('svg'), url('../fonts/pyo.woff') format('woff'), url('../fonts/pyo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
#messages .close:before, .message:before, .summary li:before, .benefits li:before, [data-icon]:before {
  font-family: 'pyo';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

#messages .close:before, .message:before, .summary li:before, .benefits li:before {
  margin-right: .4em;
}

#messages .close {
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
}
#messages .close:before {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  margin-right: 0;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  content: attr(data-icon);
}

.message.success:before, .summary li:before, .benefits li:before {
  content: "\e00d";
}

.message.error:before, #messages .close:before {
  content: "\e00e";
}

.message.info:before {
  content: "\e00f";
}

.message.warning:before {
  content: "\e010";
}

/* -------------------------------------------------------------------------*/
/* Root */
html {
  font-size: 112.5%;
  line-height: 1.27778em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #073642;
  color: #eee8d5;
}

/* -------------------------------------------------------------------------*/
/* Selected Text */
::-webkit-selection {
  color: black;
  background: #268bd2;
  text-shadow: none;
}

::-moz-selection {
  color: black;
  background: #268bd2;
  text-shadow: none;
}

::selection {
  color: black;
  background: #268bd2;
  text-shadow: none;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #268bd2;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #d33682;
}

.formfield .action-betasignup {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.formfield label {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
}

img {
  -webkit-box-shadow: #073642 0 0 0.125em;
  -moz-box-shadow: #073642 0 0 0.125em;
  box-shadow: #073642 0 0 0.125em;
  max-width: 100%;
  border: 1px solid #073642;
}

.village-landing h1, .village-landing h2, .village-landing h3, .village-landing h4, .village-landing h5, .village-landing h6 {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.village-landing p, .village-landing ul, .village-landing ol {
  margin-bottom: 1.27778em;
}
.village-landing ul {
  list-style: disc;
  padding-left: 1.5em;
}
.village-landing em {
  font-style: italic;
}
.village-landing strong {
  font-weight: 500;
}

input[type="button"], input[type="submit"], input[type="image"],
label, button {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: none;
}
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}
input::-webkit-search-decoration {
  display: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input[type="select"], select, textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

optgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

optgroup {
  color: #657b83;
  font-style: normal;
  font-weight: normal;
}

.iem7 legend {
  margin-left: -7px;
}

::-moz-focus-inner {
  border: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

.placeholder {
  font-style: italic;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"], textarea {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.77778em;
  line-height: 1.64286em;
  border-style: solid;
  border-width: 0.07143em;
  padding: 0.33929em;
  -webkit-box-shadow: inset rgba(38, 139, 210, 0.5) 0 0 0.512em;
  -moz-box-shadow: inset rgba(38, 139, 210, 0.5) 0 0 0.512em;
  box-shadow: inset rgba(38, 139, 210, 0.5) 0 0 0.512em;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  color: #657b83;
  border-color: #657b83;
  vertical-align: top;
  outline: 0;
}

.linkaction:link, .linkaction:visited, button {
  margin: 0;
  background-color: #859900;
  font-size: 18px;
  padding: 0.31944em 1.27778em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.27778em;
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -ms-border-radius: 0.125em;
  -o-border-radius: 0.125em;
  border-radius: 0.125em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF859900', endColorstr='#FF2C3300');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #859900), color-stop(100%, #596600));
  background: -webkit-linear-gradient(#859900, #596600);
  background: -moz-linear-gradient(#859900, #596600);
  background: -o-linear-gradient(#859900, #596600);
  background: -ms-linear-gradient(#859900, #596600);
  background: linear-gradient(#859900, #596600);
  -webkit-box-shadow: #c8e600 0 1px 0 inset;
  -moz-box-shadow: #c8e600 0 1px 0 inset;
  box-shadow: #c8e600 0 1px 0 inset;
  border: 1px solid #424d00;
  color: #fdf6e3;
  text-shadow: #121400 0 -1px 0;
}
.linkaction:hover:link, .linkaction:hover:visited, button:hover {
  text-decoration: none;
}
.linkaction:hover:link, .linkaction:hover:visited, button:hover {
  background-color: #424d00;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6f8000), color-stop(100%, #424d00));
  background: -webkit-linear-gradient(#6f8000, #424d00);
  background: -moz-linear-gradient(#6f8000, #424d00);
  background: -o-linear-gradient(#6f8000, #424d00);
  background: -ms-linear-gradient(#6f8000, #424d00);
  background: linear-gradient(#6f8000, #424d00);
}
.linkaction:active:link, .linkaction:active:visited, button:active {
  -webkit-box-shadow: #353d00 0 1px 2px inset;
  -moz-box-shadow: #353d00 0 1px 2px inset;
  box-shadow: #353d00 0 1px 2px inset;
}
.disabled.linkaction:link, .disabled.linkaction:visited, button.disabled, [disabled].linkaction:link, [disabled].linkaction:visited, button[disabled] {
  opacity: 0.6;
  background: #596600;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.linkaction:link::-moz-focus-inner, .linkaction:visited::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

.errorlist {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  color: #dc322f;
}
.errorlist li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.formfield {
  *zoom: 1;
  margin-bottom: 0.63889em;
  position: relative;
}
.formfield:after {
  content: "";
  display: table;
  clear: both;
}

.formhelp {
  font-size: 0.77778em;
  line-height: 1.64286em;
  clear: both;
  color: #93a1a1;
  text-align: right;
  font-style: italic;
}

.form-actions {
  margin-top: 0.63889em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.63889em;
  position: relative;
  clear: both;
  text-align: right;
}
.form-actions p {
  font-size: 0.77778em;
  line-height: 1.64286em;
  display: inline-block;
  margin: 0 0.4em 0.82143em 0;
}

label {
  text-transform: capitalize;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"] {
  margin: 0;
  min-height: 2.46429em;
}

textarea {
  -webkit-transition: 200ms min-height;
  -moz-transition: 200ms min-height;
  -ms-transition: 200ms min-height;
  -o-transition: 200ms min-height;
  transition: 200ms min-height;
  min-height: 2.46429em;
}

.membership {
  margin-left: -1em;
  padding-left: 1em;
  margin-right: -1em;
  padding-right: 1em;
}

.message {
  padding-top: 0.63889em;
  border-bottom-style: solid;
  border-bottom-width: 0.05556em;
  padding-bottom: 0.58333em;
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
  border-color: #657b83;
}
.message::before {
  font-size: 1.27778em;
  line-height: 1em;
}
.message.info {
  background: rgba(38, 139, 210, 0.9);
}
.message.success {
  background: rgba(133, 153, 0, 0.9);
}
.message.warning {
  background: rgba(181, 137, 0, 0.9);
}
.message.error {
  background: rgba(220, 50, 47, 0.9);
}
.message p {
  display: inline;
}

#messages {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  -webkit-box-shadow: #002b36 0 0 0.31944em, #002b36 0 0 0.63889em;
  -moz-box-shadow: #002b36 0 0 0.31944em, #002b36 0 0 0.63889em;
  box-shadow: #002b36 0 0 0.31944em, #002b36 0 0 0.63889em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 43, 54, 0.5);
  z-index: 999;
}
#messages li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
#messages .close {
  position: absolute;
  right: 0.63889em;
  top: 0.63889em;
  width: 1em;
}
#messages .close:link, #messages .close:visited {
  color: #586e75;
}
#messages .close:focus, #messages .close:hover, #messages .close:active {
  color: #002b36;
}

@-moz-keyframes loading {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loading {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes loading {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes loading {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

.loading {
  position: relative;
}
.loading .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: #002b36 0 0 3px;
  -webkit-animation: loading 1s linear alternate infinite both;
  -moz-animation: loading 1s linear alternate infinite both;
  -ms-animation: loading 1s linear alternate infinite both;
  -o-animation: loading 1s linear alternate infinite both;
  animation: loading 1s linear alternate infinite both;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 43, 54, 0.25);
  color: #fdf6e3;
  z-index: 100;
}

[role="contentinfo"] {
  *zoom: 1;
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  *zoom: 1;
  margin-top: 0em;
  padding-top: 0.63889em;
  padding-bottom: 0.63889em;
  margin-bottom: 0em;
  clear: both;
}
[role="contentinfo"]:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 56.25em) {
  [role="contentinfo"] {
    max-width: 67em;
  }
}
.lt-ie9 [role="contentinfo"] {
  max-width: 67em;
}
[role="contentinfo"]:after {
  content: "";
  display: table;
  clear: both;
}
[role="contentinfo"] a:link, [role="contentinfo"] a:visited {
  color: #fdf6e3;
}
[role="contentinfo"] a:focus, [role="contentinfo"] a:hover, [role="contentinfo"] a:active {
  color: #e896b2;
}
[role="contentinfo"] .author {
  font-size: 0.66667em;
  line-height: 1.91667em;
  margin-bottom: 0em;
  text-transform: uppercase;
}
[role="contentinfo"] strong {
  font-weight: bold;
}

.village-landing {
  padding-top: 1.27778em;
  color: #657b83;
  background: #fdf6e3;
}

.intro {
  *zoom: 1;
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.intro:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 56.25em) {
  .intro {
    max-width: 67em;
  }
}
.lt-ie9 .intro {
  max-width: 67em;
}
@media (min-width: 56.25em) {
  .intro .summary {
    width: 40.76923%;
    float: right;
    margin-right: 0;
  }
  .intro .screenshot {
    width: 57.69231%;
    float: left;
    margin-right: 1.53846%;
    position: relative;
    z-index: 20;
  }
  .intro .membership {
    padding-left: 59.23077%;
    clear: right;
  }
  .intro .membership > * {
    margin-left: 3.77358%;
  }
  .intro .membership .overlay {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 43, 54, 0.5)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
    background: -moz-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
    background: -o-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
    background: -ms-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
    background: linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
    left: 57.69231%;
    margin-left: 0;
  }
}
.lt-ie9 .intro .summary {
  width: 40.76923%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
.lt-ie9 .intro .screenshot {
  width: 57.69231%;
  float: left;
  margin-right: 1.53846%;
  position: relative;
  z-index: 20;
}
.lt-ie9 .intro .membership {
  padding-left: 59.23077%;
  clear: right;
}
.lt-ie9 .intro .membership > * {
  margin-left: 3.77358%;
}
.lt-ie9 .intro .membership .overlay {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 43, 54, 0.5)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
  background: -moz-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
  background: -o-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
  background: -ms-linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
  background: linear-gradient(top, rgba(0, 43, 54, 0.5), transparent);
  left: 57.69231%;
  margin-left: 0;
}

[role="banner"] {
  font-size: 1.94444em;
  line-height: 1.31429em;
  margin-bottom: 0.65714em;
}
[role="banner"] b {
  font-weight: normal;
}

.offer {
  font-size: 1.5em;
  line-height: 1.27778em;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  margin-bottom: 1.27778em;
}
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.summary li, .benefits li {
  position: relative;
  padding-left: 1.5em;
}
.summary li::before, .benefits li::before {
  position: absolute;
  left: 0;
  top: 0;
}
.summary li {
  margin-bottom: 0.63889em;
}
.summary li::before {
  color: #859900;
}

.screenshot {
  margin-bottom: 1.27778em;
}
.screenshot figcaption {
  font-size: 0.77778em;
  line-height: 1.64286em;
}

.membership {
  border-top-style: solid;
  border-top-width: 0.05556em;
  padding-top: 1.22222em;
  padding-bottom: 1.27778em;
  background: #c7dbde;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(38, 139, 210, 0.25)), color-stop(100%, rgba(38, 139, 210, 0)));
  background: -webkit-linear-gradient(top, rgba(38, 139, 210, 0.25), rgba(38, 139, 210, 0));
  background: -moz-linear-gradient(top, rgba(38, 139, 210, 0.25), rgba(38, 139, 210, 0));
  background: -o-linear-gradient(top, rgba(38, 139, 210, 0.25), rgba(38, 139, 210, 0));
  background: -ms-linear-gradient(top, rgba(38, 139, 210, 0.25), rgba(38, 139, 210, 0));
  background: linear-gradient(top, rgba(38, 139, 210, 0.25), rgba(38, 139, 210, 0));
  border-color: #93a1a1;
}
.membership .errorlist {
  font-size: 0.77778em;
  line-height: 1.64286em;
  margin: 0;
  padding: 0;
}
.membership .offernote {
  font-style: italic;
}
.membership .benefits {
  color: #93a1a1;
}

.formfield {
  overflow: hidden;
  *zoom: 1;
}
.formfield::after {
  clear: none;
}
.formfield input {
  width: 58.49057%;
  float: left;
  margin-right: 3.77358%;
  margin-right: 0;
}
.formfield .action-betasignup {
  width: 37.73585%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}

.team {
  padding-top: 2.55556em;
  background: #002b36;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #002b36), color-stop(33.33333%, rgba(0, 43, 54, 0)), color-stop(66.66667%, rgba(0, 43, 54, 0)), color-stop(100%, #002b36)), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #586e75), color-stop(33.33333%, #002b36), color-stop(66.66667%, #002b36), color-stop(100%, #586e75));
  background-image: -webkit-linear-gradient(top, #002b36, rgba(0, 43, 54, 0), rgba(0, 43, 54, 0), #002b36), -webkit-linear-gradient(left, #586e75, #002b36, #002b36, #586e75);
  background-image: -moz-linear-gradient(top, #002b36, rgba(0, 43, 54, 0), rgba(0, 43, 54, 0), #002b36), -moz-linear-gradient(left, #586e75, #002b36, #002b36, #586e75);
  background-image: -o-linear-gradient(top, #002b36, rgba(0, 43, 54, 0), rgba(0, 43, 54, 0), #002b36), -o-linear-gradient(left, #586e75, #002b36, #002b36, #586e75);
  background-image: -ms-linear-gradient(top, #002b36, rgba(0, 43, 54, 0), rgba(0, 43, 54, 0), #002b36), -ms-linear-gradient(left, #586e75, #002b36, #002b36, #586e75);
  background-image: linear-gradient(top, #002b36, rgba(0, 43, 54, 0), rgba(0, 43, 54, 0), #002b36), linear-gradient(left, #586e75, #002b36, #002b36, #586e75);
  color: #93a1a1;
}
.team .container {
  *zoom: 1;
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.team .container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 56.25em) {
  .team .container {
    max-width: 67em;
  }
}
.lt-ie9 .team .container {
  max-width: 67em;
}
.team .fn {
  font-size: 1.27778em;
  line-height: 1.5em;
  color: #eee8d5;
}
@media (min-width: 38.25em) {
  .team .fn {
    font-size: 1.94444em;
    line-height: 1.31429em;
  }
}

.pyo {
  margin-bottom: 2.55556em;
  -webkit-border-radius: 1.27778em;
  -moz-border-radius: 1.27778em;
  -ms-border-radius: 1.27778em;
  -o-border-radius: 1.27778em;
  border-radius: 1.27778em;
  -webkit-box-shadow: #002b36 0 0 0.63889em;
  -moz-box-shadow: #002b36 0 0 0.63889em;
  box-shadow: #002b36 0 0 0.63889em;
  clear: both;
  padding: 1.27778em;
  background: rgba(88, 110, 117, 0.25);
}
.pyo p {
  margin: 0;
}
@media (min-width: 56.25em) {
  .pyo {
    padding-left: 25.38462%;
    padding-right: 25.38462%;
  }
}
.lt-ie9 .pyo {
  padding-left: 25.38462%;
  padding-right: 25.38462%;
}

.dev .fn, .dev .bio {
  width: 65.625%;
  float: left;
  margin-right: 3.125%;
}
.dev .bio, .dev .photo {
  margin-bottom: 1.91667em;
}
.dev .photo {
  width: 31.25%;
  float: left;
  margin-right: 3.125%;
  -webkit-box-shadow: #657b83 0 0 0.63889em;
  -moz-box-shadow: #657b83 0 0 0.63889em;
  box-shadow: #657b83 0 0 0.63889em;
  overflow: hidden;
}
.dev:nth-child(even) .fn, .dev:nth-child(even) .bio {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
.dev:nth-child(even) .photo {
  -moz-border-radius-topleft: 5.96046em;
  -webkit-border-top-left-radius: 5.96046em;
  border-top-left-radius: 5.96046em;
  -moz-border-radius-bottomleft: 5.96046em;
  -webkit-border-bottom-left-radius: 5.96046em;
  border-bottom-left-radius: 5.96046em;
  -moz-border-radius-topright: 0.64em;
  -webkit-border-top-right-radius: 0.64em;
  border-top-right-radius: 0.64em;
  -moz-border-radius-bottomright: 0.64em;
  -webkit-border-bottom-right-radius: 0.64em;
  border-bottom-right-radius: 0.64em;
}
.dev:nth-child(odd) .fn, .dev:nth-child(odd) .bio {
  text-align: right;
}
.dev:nth-child(odd) .photo {
  -moz-border-radius-topright: 5.96046em;
  -webkit-border-top-right-radius: 5.96046em;
  border-top-right-radius: 5.96046em;
  -moz-border-radius-bottomright: 5.96046em;
  -webkit-border-bottom-right-radius: 5.96046em;
  border-bottom-right-radius: 5.96046em;
  -moz-border-radius-topleft: 0.64em;
  -webkit-border-top-left-radius: 0.64em;
  border-top-left-radius: 0.64em;
  -moz-border-radius-bottomleft: 0.64em;
  -webkit-border-bottom-left-radius: 0.64em;
  border-bottom-left-radius: 0.64em;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
@media (min-width: 56.25em) {
  .dev:nth-child(even) {
    padding-left: 8.46154%;
    padding-right: 25.38462%;
  }
  .dev:nth-child(odd) {
    padding-left: 25.38462%;
    padding-right: 8.46154%;
  }
  .dev .fn, .dev .bio, .dev .photo {
    margin-right: 0;
  }
  .dev .fn, .dev .bio {
    width: 74.4186%;
  }
  .dev .photo {
    width: 23.25581%;
  }
}
.lt-ie9 .dev:nth-child(even) {
  padding-left: 8.46154%;
  padding-right: 25.38462%;
}
.lt-ie9 .dev:nth-child(odd) {
  padding-left: 25.38462%;
  padding-right: 8.46154%;
}
.lt-ie9 .dev .fn, .lt-ie9 .dev .bio, .lt-ie9 .dev .photo {
  margin-right: 0;
}
.lt-ie9 .dev .fn, .lt-ie9 .dev .bio {
  width: 74.4186%;
}
.lt-ie9 .dev .photo {
  width: 23.25581%;
}
