{% load form_utils %}

<div class="formfield {{ field.html_name }}-field{% if field|optional %} optional{% endif %}{% if field.errors %} errors{% endif %}">

  {% if field|is_checkbox %}
    {% include "forms/field/_input.html" %}
    {% include "forms/field/_label.html" %}
  {% else %}
    {% include "forms/field/_label.html" %}
    {% include "forms/field/_input.html" %}
  {% endif %}

  {% if helptext or helpinclude %}
    <div class="formfield-help">
      {% if helptext %}{{ helptext }}{% endif %}
      {% if helpinclude %}{% include helpinclude %}{% endif %}
    </div>
  {% endif %}

  {{ field.errors }}

</div>
