<li class="message warning">
  <p class="body">
    This site requires Flash Player version 10.0.0 or higher to display live updates. Refresh your browser page to see new posts, or <a href="http://get.adobe.com/flashplayer/" target="_blank">download Flash Player</a>.
  </p>
  <a href="#" class="close">dismiss this message</a>
</li>
