<div class="navtitle">
  <h2 class="groups-title">Groups</h2>
</div>

<ul class="itemlist groups-list">
  {{> group_list_items}}
</ul>

{{#if staff}}
<div class="additems">
  <a href="{{add_group_url}}" class="additem-group ajax-link">Add Group</a>

  {{#if add_students_bulk_url}}<a href="{{add_students_bulk_url}}" class="action-addbulk ajax-link additem-village">Signup Parents</a>{{/if}}
  {{#if add_student_url}}or <a href="{{add_student_url}}" class="action-addsingle ajax-link">add a student by hand »</a>{{/if}}
</div>
{{/if}}
