<ul class="itemlist">
  {{> group_list_items}}
</ul>

{{#if staff}}
<div class="additems">
  <a href="{{add_group_url}}" class="additem-group ajax-link">Add Group</a>

  {{#if add_student_url}}<a href="{{add_student_url}}" class="action-addbulk ajax-link additem-village">Signup Parents</a>{{/if}}
</div>
{{/if}}
