<p class="timeout">This message was not sent. You may have lost your connection to the internet. {{#if attachments}}Please try again. (<a class="cancel" href="#">remove this post</a>){{else}}<a class="resend" href="#">Try again?</a> Or <a class="cancel" href="#">cancel this post</a>.{{/if}}</p>
