{% load elders handlebars formats %}

{% if not read_only %}
<div class="post-add-form {% block addpost-classes %}{% endblock %}">

  {% block post-add-tabs %}
  <input type="radio" id="message-form-toggle" name="add-post-types" class="radio-value" checked />
  <input type="radio" id="note-form-toggle" name="add-post-types" class="radio-value" />
  <input type="radio" id="conversation-form-toggle" name="add-post-types" class="radio-value" />

  <div class="post-type-tabs">
    <label for="message-form-toggle" class="radio-type" title="Send a Message">Send a Message</label>
    <label for="note-form-toggle" class="radio-type" title="Leave a Note">Leave a Note</label>
    <label for="conversation-form-toggle" class="radio-type" title="Log a Conversation">Log a Conversation</label>
  </div>
  {% endblock %}

  <form method="POST" class="message-form post-type" action="{% block form-action %}{% endblock %}" data-char-limit="{{ post_char_limit }}">
    {% csrf_token %}

    {% block to-field %}
    <div class="formfield to-field">
      <label class="tokens-type" for="to-input">To:</label>
      <div class="tokens-input">
        {% if elders|sms_eligible|length > 1 %}
          <div class="bulk-tokens">
            <a href="#" class="add-all">add all</a>
            <a href="#" class="remove-all">remove all</a>
          </div>
        {% endif %}
        <input type="hidden" id="to-input" name="sms-target" value="{% for elder in elders|sms_eligible %}{{ elder.id }}{% if not forloop.last %},{% endif %}{% endfor %}" data-placeholder="Add recipients..." class="token-value" />
      </div>
    </div>
    {% endblock %}

    <div class="formfield post-textfield">
      <textarea id="message-text" name="text" class="value"></textarea>
      <span class="charcount">{{ post_char_limit }} characters remaining...</span>
    </div>

    <div class="form-actions">
      <button type="submit" class="action-post">Send</button>
    </div>

  </form>

  {% block post-add-types %}
  <form method="POST" class="note-form post-type">
    <div class="formfield post-textfield">
      <textarea id="note-text" name="text" class="value"></textarea>
    </div>

    <div class="form-actions">
      <button type="submit" class="action-post">Post</button>
    </div>
  </form>

  <form method="POST" class="conversation-form post-type">
    <div class="formfield with-field">
      <label class="tokens-type" for="with-input">With:</label>
      <div class="tokens-input">
        {% if elders|length > 1 %}
          <div class="bulk-tokens">
            <a href="#" class="add-all">add all</a>
            <a href="#" class="remove-all">remove all</a>
          </div>
        {% endif %}
        <input type="hidden" id="with-input" name="with-target" value="" data-placeholder="Add participants..." class="token-value" />
      </div>
    </div>

    <div class="formfield post-textfield">
      <textarea id="conversation-text" name="text" class="value"></textarea>
    </div>

    <div class="form-actions">
      <button type="submit" class="action-post">Post</button>
    </div>
  </form>
  {% endblock %}

</div>
{% endif %}
