// Tooltips
// ========

$tooltip-background: $base;
$tooltip-color: contrast($base);
$tooltip-arrow-size: rhythm(.25);

%tooltip-base {
  @include adjust-font-size-to($xsmallpx);
  position: absolute;
  padding: rhythm(.125) rhythm(.5);
  color: $tooltip-color;
  background: $tooltip-background;
  border: 1px solid $tooltip-color;
  white-space: nowrap;
  z-index: 100;
  pointer-events: none;

  &[data-tooltip] { @include after(attr(data-tooltip)); }

  display: none;
}

// Positions
// ---------

%tooltip-top {
  bottom: 100%;
  margin-bottom: $tooltip-arrow-size;
}

%tooltip-top-left {
  @extend %tooltip-top;
  @include arrow(bottom (- $tooltip-arrow-size) $tooltip-background $tooltip-arrow-size, $positioning: null);
  right: 0;
}

%tooltip-top-right {
  @extend %tooltip-top;
  @include arrow(bottom $tooltip-arrow-size $tooltip-background $tooltip-arrow-size, $positioning: null);
  left: 0;
}

%tooltip-bottom {
  top: 100%;
  margin-top: $tooltip-arrow-size;
}

%tooltip-bottom-left {
  @extend %tooltip-bottom;
  @include arrow(top (- $tooltip-arrow-size) $tooltip-background $tooltip-arrow-size, $positioning: null);
  right: 0;
}

%tooltip-bottom-right {
  @extend %tooltip-bottom;
  @include arrow(top $tooltip-arrow-size $tooltip-background $tooltip-arrow-size, $positioning: null);
  left: 0;
}

%tooltip-right {
  left: 100%;
  top: 0;
  margin-left: $tooltip-arrow-size;
  @include arrow(left center $tooltip-background $tooltip-arrow-size, $positioning: null);
}

%tooltip-left {
  right: 100%;
  top: 0;
  margin-right: $tooltip-arrow-size;
  @include arrow(right center $tooltip-background $tooltip-arrow-size, $positioning: null);
}

// Defaults
// --------

.tooltip {
  @extend %tooltip-base;
}

@mixin active-tooltip {
  display: block;
  z-index: 900;
}

// Triggers
// --------

%has-tooltip {
  position: relative;
  &:hover .tooltip {
    @include active-tooltip;
  }
}

.help-tip { @extend %has-tooltip; }

// Mixin
// -----

$default-tooltip-x          : right           !default;
$default-tooltip-y          : top             !default;
$default-tooltip-selector   : '.tooltip'      !default;

@mixin tooltip(
  $pos: $default-tooltip-x $default-tooltip-y,
  $selector: $default-tooltip-selector
) {
  $x: null;
  $y: null;
  $s: '%tooltip';

  @if index($pos, left) {
    $x: left;
  } @else if index($pos, right) {
    $x: right;
  }

  @if index($pos, top) {
    $y: top;
  } @else if index($pos, bottom) {
    $y: bottom;
  }

  @if $y { $s: $s + '-#{$y}'; }
  @if $x { $s: $s + '-#{$x}'; }

  @extend %has-tooltip;
  #{$selector} {
    @extend #{$s};
    @content;
  }
}
