// ---------------------------------------------------------------------------
// Grid Backgrounds

$grid-background-baseline-height  : $base-line-height;
$grid-background-baseline-color   : rgba($base1,.25);
$grid-background-column-color     : rgba($base2,.25);

$show-column-grid-backgrounds     : true;
$show-baseline-grid-backgrounds   : true;
$show-grid-backgrounds            : false;

// ---------------------------------------------------------------------------
// Grids

$total-columns  : 8;
$column-width   : 3rem;
$gutter-width   : 1rem;
$grid-padding   : 0;

$half-small     : floor($total-columns/2);

$break-cols     : 20;
$break-width    : columns-width(10);
$break          : $break-width $break-cols;
$half-break     : floor($break-cols/2);

$left           : 4;
$right          : 4;
$center         : $break-cols - $left - $right;

// ---------------------------------------------------------------------------
// OOCSS lastUnit

@mixin lastUnit {
  display: table-cell;
  float: none;
  width: auto;

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *display: block;
    *zoom: 1;
    @if $legacy-support-for-ie6 {
      _position: relative;
      _left: -3px;
      _margin-right: -3px;
    }
  }

  &:after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    visibility: hidden;
    clear: both;
    height: 0 !important;
    display: block;
    line-height: 0;
  }
}