// ---------------------------------------------------------------------------
// Grid Backgrounds

$grid-background-baseline-height  : $base-line-height;
$grid-background-baseline-color   : rgba($base1,.25);
$grid-background-column-color     : rgba($base2,.25);

$show-column-grid-backgrounds     : true;
$show-baseline-grid-backgrounds   : true;
$show-grid-backgrounds            : false;

// ---------------------------------------------------------------------------
// Grids

$total-columns  : 8;
$column-width   : 3em;
$gutter-width   : 1em;
$grid-padding   : 1em;

$half-small     : floor($total-columns/2);

$break-cols     : 20;
$break-width    : columns-width(10);
$break          : $break-width $break-cols lt-ie9;
$half-break     : floor($break-cols/2);

$left           : 4;
$right          : 4;
$center         : $break-cols - $left - $right;
