// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "compass/layout";
@import "susy";
@import "modular-scale";
@import "breakpoint";
@import "compass-css-arrow";
@import "rgbapng";

// ---------------------------------------------------------------------------
// Modules

@import "sizes";
@import "colors";
@import "type";
@import "sassybuttons";

// ---------------------------------------------------------------------------
// Browsers

$legacy-support-for-ie6         : false;
$legacy-support-for-ie7         : false;
$legacy-support-for-ie8         : true;

// ---------------------------------------------------------------------------
// Grids

$total-columns  : 12;
$column-width   : 4.5em;
$gutter-width   : 1em;
$grid-padding   : 1em;

$left           : 2;
$right          : 2;
$center         : $total-columns - $left - $right;

$grid-background-baseline-height  : $base-line-height;
$grid-background-baseline-color   : rgba($base1,.25);
$grid-background-column-color     : rgba($base2,.25);

$show-column-grid-backgrounds     : true;
$show-baseline-grid-backgrounds   : true;
$show-grid-backgrounds            : false;
