// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "compass/layout";
@import "susy";
@import "modular-scale";
@import "breakpoint";
@import "compass-css-arrow";
@import "rgbapng";

// ---------------------------------------------------------------------------
// Modules

@import "sizes";
@import "colors";
@import "type";
@import "grids";
@import "utilities";

// ---------------------------------------------------------------------------
// Browsers

$legacy-support-for-ie6         : false;
$legacy-support-for-ie7         : false;
$legacy-support-for-ie8         : true;
