// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "compass/layout";
@import "susy";
@import "modular-scale";
@import "breakpoint";
@import "compass-css-arrow";

// ---------------------------------------------------------------------------
// Modules

@import "sizes";
@import "colors";
@import "type";
@import "sassybuttons";

// ---------------------------------------------------------------------------
// Browsers

$legacy-support-for-ie6         : false;
$legacy-support-for-ie7         : false !default;
$legacy-support-for-ie8         : false !default;

// ---------------------------------------------------------------------------
// Grids

$total-columns  : 6;
$column-width   : 4.5em;
$gutter-width   : 1em;
$grid-padding   : 1em;

$break-width    : 40em;
$break-cols     : 12;
$break          : $break-width $break-cols;

$left           : 2;
$right          : 2;
$center         : $break-cols - $left - $right;

$grid-background-baseline-height  : $base-line-height;
$grid-background-baseline-color   : rgba($base1,.25);
$grid-background-column-color     : rgba($base2,.25);

$show-column-grid-backgrounds     : true;
$show-baseline-grid-backgrounds   : true;
$show-grid-backgrounds            : false;
