// ---------------------------------------------------------------------------
// Utilities

@mixin gone {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
}

@mixin here {
  position: static;
  clip: auto;
  overflow: visible;
  height: auto;
  margin: 0;
  width: auto;
}

// ----------------------------------------------------------------------------
// images

@function image-rhythm($image, $font-size: $base-font-size) {
  @return rhythm(ceil(image-height($image) / $base-line-height), $font-size);
}

@mixin rhythm-image($image, $font-size) {
  background-image: image-url($image);
  height: image-rhythm($image, $font-size);
  width: image-width($image);
}
