// ---------------------------------------------------------------------------
// Groups

.group-add-form, .group-edit-form { @extend %village-page; }

// ---------------------------------------------------------------------------
// Parent Signup

.parent-signup, .village-add-form, .village-edit-form { @extend %village-page; }

.download-pdf {
  @extend %icon;
  @extend %icon-download;
  @include adjust-font-size-to($smallpx);
  display: block;
  padding: rhythm(.125);
}

// ---------------------------------------------------------------------------
// Manual Add/Edit

.student-form-details {
  .summary {
    display: block;
    text-align: right;
    font-style: italic;
    &:after { content: " »"; }
  }
  &.open .summary {
    display: none;
  }
}
