// ---------------------------------------------------------------------------
// Placeholders

@mixin placeholder {
  ::-webkit-input-placeholder { @content; }
  :-moz-placeholder { @content; }
  .placeholder { @content; }
}

@include placeholder {
  font-style: italic;
}

// ---------------------------------------------------------------------------
// Inputs

$input-font-size: $smallpx;
$input-rhythm: .25;

%input-type {
  @include sans;
  @include adjust-font-size-to($input-font-size);
  color: inherit;
}

%input {
  @extend %input-type;
  @include rhythm-borders(1px,$input-rhythm);
  background: rgba(white,.25);
  border-color: inherit;
  width: 100%;
  vertical-align: top;
  outline: 0;
}

.errorlist {
  @include no-style-list;
  color: $red;
}

.formfield {
  @include pie-clearfix;
  @include trailer(.5);
  position: relative;
}

// ---------------------------------------------------------------------------
// Select Dropdowns

$select-radius    : rhythm(.25);
$select-gradient  : linear-gradient(to bottom, color($base,0), color($base,.125));

.formselect {
  @extend %icon;
  @extend %icon-arrow-down;
  @extend %input;
  @include border-radius($select-radius);
  @include background-image($select-gradient);
  position: relative;
  overflow: hidden;

  &:before {
    @include stretch-y;
    @include border-right-radius($select-radius);
    @include background(color($base3 lighter) $select-gradient);
    right: rhythm(- $input-rhythm)/2;
    padding: rhythm($input-rhythm) rhythm($input-rhythm)*2;
    border-left: 1px solid $base;
    pointer-events:none;
  }

  select {
    @extend %input-type;
    @include appearance(none);
    width: 100%;
    margin: 0;
    border: 0;
    background: none;
    outline: 0;
  }
}


// ---------------------------------------------------------------------------
// Inline Forms

@mixin inline-form($label: $left, $input: $center - $label, $context: $center, $radio-check: false) {
  .type {
    @include ellipsis;
    @include span-columns($label,$context);
    @include rem(padding, rhythm($input-rhythm) 0);
    text-align: right;
    + .value { @include span-columns($input omega,$context); }
  }
  @if $radio-check { @include inline-radio-checkbox($label, $input, $context); }
  .formfield-help { @include pre($label, $context); }
}

@mixin inline-radio-checkbox($label: $left, $input: $center - $label, $context: $center) {
  [type="checkbox"], [type="radio"] {
    + [class*="type"] {
      display: inline-block;
      width: auto;
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }
}

// ---------------------------------------------------------------------------
// Defaults

.radio-options {
  @include no-style-list;
  padding: rhythm($input-rhythm) 0 0;
}

%radio-check-defaults {
  [type="checkbox"], [type="radio"] {
    display: none;
    + [class*="type"] {
      @extend %icon;
      display: block;
      &:before {
        @include adjust-font-size-to($smallpx);
        margin-left: .4em;
        color: $base01;
      }
    }
    &:checked + [class*="type"] {
      &:before { color: $blue; }
    }
    &:focus + [class*="type"] { color: $base03; }
  }

  [type="checkbox"] {
    + [class*="type"] { @extend %icon-checkbox-unchecked; }
    &:checked + [class*="type"] { @extend %icon-checkbox-checked; }
  }

  [type="radio"] {
    + [class*="type"] { @extend %icon-radio-unchecked; }
    &:checked + [class*="type"] { @extend %icon-radio-checked; }
  }
}

%formdefaults {
  .type {
    display: block;
    color: $base01;
  }

  input {
    &[type="text"], &[type="password"],
    &[type="email"], &[type="url"], &[type="tel"],
    &[type="date"], &[type="datetime"], &[type="datetime-local"],
    &[type="month"], &[type="week"], &[type="time"],
    &[type="number"], &[type="search"], &[type="color"] {
      @extend %input;
      @include rem(min-height, rhythm(1 + $input-rhythm*2));
      margin: 0;
    }
  }

  textarea {
    @extend %input;
    @include transition(200ms min-height);
    @include rem(min-height, rhythm(1 + $input-rhythm*2));
  }

  fieldset {
    @include box-shadow($back 0 0 .25em inset);
    @include leader;
    @include trailer;
    padding: rhythm(1);
    background: $base2;
  }

  .fieldset-header {
    @include trailer;
  }

  .fieldset-help {
    @include leader;
    @include trailer(.5);
    font-style: italic;
  }

  .formfield-help {
    @include adjust-font-size-to($smallpx);
    display: block;
    clear: both;
    margin: 0;
    color: $base1;
    font-style: italic;
    text-align: right;
  }

  .formfield-optional, .fieldset-optional {
    @include adjust-font-size-to($smallpx);
    color: $base1;
  }
  .optional-fieldset { .formfield-optional { @include gone; } }

  $form-action-note-size: $smallpx;

  .form-actions {
    @include rhythm(.5,0,0,.5);
    position: relative;
    clear: both;
    text-align: right;
    p {
      @include adjust-font-size-to($form-action-note-size);
      @include rem(margin, 0 .4em rhythm(.5) 0);
      display: inline-block;
    }
    button:not([class~="secondary"]) {
      @extend %button;
      text-transform: capitalize;
    }
  }
  [class~="secondary"] {
    @include link($non-links: true);
  }
}

button { @include reset-button; }

.linkaction { @extend %button; }

.remove-item {
  @include padding-leader($input-rhythm);
  float: left;
  .action-remove {
    @extend %icon;
    @extend %icon-remove;
    color: $red;
    #{$focus} { color: $accent; }
  }
}
