// ---------------------------------------------------------------------------
// ui multiselect

.multiselect-dropdown {
  position: relative;
  display: inline-block;
}

.ui-multiselect {
  @extend %icon;
  @extend %icon-arrow-down;
  @include border-radius(3px);
  position: relative;
  padding: 0 1.4em 0 .4em;
  min-width: columns-width(4);
  color: inherit;
  background: rgba(white,.5);
  border: 1px solid $base1;
  &:before {
    position: absolute;
    right: 0;
    margin: 0;
  }
  #{$focus} {
    background: rgba(white,.75);
  }
}

.ui-multiselect-menu {
  @include rhythm-borders(1px,.25);
  @include box-shadow;
  @include arrow(bottom .5em $base);
  position: absolute;
  right: 0;
  bottom: 100%;
  min-width: 100%;
  background: $base3;
  z-index: 900;
}

.ui-multiselect-checkboxes {
  @extend %radio-check-defaults;
  @include cond;
  @include padding-leader(.5);
  @include padding-trailer(.5);
  border-color: $base1;

  li { @extend %check-option; }
  input { @extend %check-value; }
  label {
    @extend %ellipsis;
    @extend %check-type;
  }
  b { font-weight: bold; }
}

.ui-multiselect-header {
  @include clearfix;
  position: relative;
  text-align: left;
  li {
    @include span-columns(2,4);
    &.ui-multiselect-close { display: none; }
    + li { @include omega; }
  }
}

.ui-multiselect-all, .ui-multiselect-none {
  @extend %icon;
  @extend %icon-checkmark;
  @extend %button;
  width: 100%;
  padding: 0 .5em;
  font-weight: bold;
  text-align: center;
}
.ui-multiselect-none {
  @extend %icon-x;
  @include button-color($red);
}
