// ---------------------------------------------------------------------------
// Brand

.brand {
  @include adjust-font-size-to($banner-size);
  @include span-columns(3);
  padding-left: $box-padding;
  color: $base3;
  .wordmark {
    @extend %icon;
    @extend %icon-home;
    @extend %banner-item;
    display: inline-block;
    font-weight: bold;
    &:before { line-height: 1; }
  }

  @include at-breakpoint($break) { @include span-columns($brand-width); }
  .village-app & { @include span-columns($brand-width, $break-cols); }
}
