// ---------------------------------------------------------------------------
// Meta

%metanav-base {
  @include adjust-font-size-to($banner-size);
  @include span-columns(5 omega);
  @include at-breakpoint($break) { @include span-columns($meta-width omega); }
  .village-app & { @include span-columns($meta-width omega, $break-cols); }
  position: relative;
  text-align: right;
}

%meta-button {
  @extend %banner-item;
  @include text-shadow(rgba(black,.75) 0 -1px 0);
  padding: {
    left: 1em;
    right: 1em;
  }
  border: 1px solid $base03;
  border-width: 0 2px;
  background: mix($base01,$base02);
  #{$link}, & { color: $base3; }
  #{$focus} {
    @include box-shadow($base3 0 0 1px inset);
    @include background-image(linear-gradient(to bottom, rgba(white,.25), rgba(white,0) 50%));
    color: $base3 !important;
  }
  &:active { @include box-shadow(rgba(black,.5) 0 0 1px inset); }

  .alt-text { @include at-breakpoint($break) { @include here; } }
}

// ---------------------------------------------------------------------------
// Help Link

.helplink {
  @extend %meta-button;
  float: right;
  #{$focus} { background-color: $orange; }
  .login-nav & { border-left-width: 0; }
}

// ---------------------------------------------------------------------------
// Login Meta

.login-nav {
  @extend %metanav-base;
  white-space: nowrap;

  ul { @include inline-list; }
  a { display: inline-block; }

  .register-link {
    @include gone;
    @include after(' or') { color: $base; }
    @include at-breakpoint($break) { @include here; }
  }

  .login-link {
    @extend %meta-button;
    margin-left: .25em;
    background: $blue;
  }
}

// ---------------------------------------------------------------------------
// Account Meta

.meta {
  @extend %metanav-base;

  a {
    @extend %icon;
    @extend %banner-item;
    display: block;
  }

  .settingslink {
    @extend %icon-cog;
    @extend %ellipsis;
    float: right;
    padding: {
      left: 1em;
      right: .5em;
    }
  }

  [href*="profile"] { @extend %icon-cog; }
  [href*="password"] { @extend %icon-key; }
  button {
    @extend %reset-button;
    @extend %icon;
    @extend %icon-exit;
    @extend %banner-item;
    @include link(light);
    width: 100%;
  }
}

// ---------------------------------------------------------------------------
// User Actions

$useraction-size          : $banner-size;
$useraction-border-size   : 2px;
$useraction-border-color  : $back;
$useraction-background    : $base01;

.useractions {
  @include arrow(top rhythm(.25) $useraction-background);
  @include box-shadow($useraction-border-color 0 0 $xxxsmallpx);
  position: absolute;
  top: 100%;
  right: 0%;
  margin-right: rhythm(.5);
  margin-top: - $useraction-border-size;
  width: columns($right + 1, $meta-width);
  border: $useraction-border-size solid $useraction-border-color;
  background: $useraction-background;
  text-align: left;
  z-index: 900;
  display: none;

  a, button {
    @extend %ellipsis;
    padding: rhythm(.5, $useraction-size);
  }
  .settingslink:hover ~ &, &:hover { display: block; }
}
