{% extends "village/_village_content_main.html" %}
{% load url from future %}

{% block village-content %}
<div class="add-student">

  {% if group_just_created %}
  <ol class="form-steps">
    <li>Give your group a name</li>
    <li class="active">Signup new parents in this group</li>
  </ol>
  {% endif %}

  {% if group.code or request.user.profile.code %}
  <div class="parent-instructions">
    <img src="{{ STATIC_URL }}images/pdf.png" class="pdf-thumbnail" alt="">
    <h2>Parent signup:</h2>
    <p>
      Send this PDF home with students
      to have their parents add themselves to
      {% if group %}the '<strong>{{ group.name }}</strong>' group{% else %}your account{% endif %}.
    </p>
    <ul class="pdf-downloads">
      <li><a href="{% if group %}{% url 'pdf_parent_instructions' lang='en' group_id=group.id %}{% else %}{% url 'pdf_parent_instructions' lang='en' %}{% endif %}" target="_new" class="pdf-en">English</a></li>
      <li><a href="{% if group %}{% url 'pdf_parent_instructions' lang='es' group_id=group.id %}{% else %}{% url 'pdf_parent_instructions' lang='es' %}{% endif %}" target="_new" class="pdf-es">Spanish</a></li>
    </ul>
  </div>
  {% else %}
  {# This should never happen, but better to have something here just in case. #}
  <p>
    Sorry, we messed up; for some reason your account is not able to sign up parents in bulk.
    Please use the Help! button in the upper right to let us know so we can fix it.
  </p>
  <p>
    In the meantime, you can <a href="{% if group %}{% url 'add_student' group_id=group.id %}{% else %}{% url 'add_student' %}{% endif %}">add students by hand</a>.
  </p>
  {% endif %}
</div>
{% endblock village-content %}
