{% extends "village/_village_content_main.html" %}
{% load widget_tweaks %}

{% block village-content %}
<form method="POST" action="{% url add_student %}" class="village-add-form" id="add-student-form">
  {% csrf_token %}

  <h2>Add a Group</h2>

  <p>[group name]</p>

  {% if request.user.profile.code %}
  <div class="parent-instructions">
    <p>
      Send this PDF home with students
      so parents can add themselves to your account.
      Or add students yourself using the form below.
    </p>
    <ul>
      <li><a href="{% url pdf_parent_instructions lang='en' %}" target="_new" class="pdf-en">English PDF</a></li>
      <li><a href="{% url pdf_parent_instructions lang='es' %}" target="_new" class="pdf-es">Spanish PDF</a></li>
    </ul>
  </div>
  {% endif %}

  <p>[students]</p>

  <p>[elders]</p>

  <div class="form-actions">
    <button type="submit" class="action-post">add</button>
  </div>

</form>
{% endblock village-content %}
