{% extends "village/_village_content_main.html" %}
{% load widget_tweaks %}

{% block village-content %}
<form method="POST" action="{% url add_group %}" class="village-add-form" id="add-group-form">
  {% csrf_token %}

  <h2>Add a Group</h2>

  {{ form.non_field_errors }}

  {% include "forms/_field.html" with field=form.name|attr:"placeholder: e.g. 1st Period Math" label="Group Name" %}

  <p>[students]</p>

  <p>[elders]</p>

  <div class="form-actions">
    <button type="submit" class="action-post">add</button>
  </div>

</form>
{% endblock village-content %}
