{% extends "village/_village_content_main.html" %}
{% load widget_tweaks %}

{% block village-content %}
<form method="POST" action="{% url add_student %}" class="village-add-form" id="add-student-form">
  {% csrf_token %}

  <h2>Add a Student</h2>

  {{ form.non_field_errors }}

  {% include "forms/_field.html" with field=form.name|attr:"placeholder: e.g. Jane Doe" label="Student Name" %}

  <p>[groups]</p>

  <p>[elders]</p>

  <div class="form-actions">
    <button type="submit" class="action-post">add</button>
  </div>

</form>
{% endblock village-content %}
