{% extends "village/_village_content_main.html" %}
{% load url from future %}

{% block village-content %}
<div class="add-student">

  {% if group_just_created %}
  <ol class="form-steps">
    <li>Give your group a name</li>
    <li class="active">Signup new parents in this group</li>
  </ol>
  {% endif %}

  {% if group.code or request.user.profile.code %}
  <div class="parent-instructions">
    <h2>Parent signup:</h2>
    <p>
      Download this PDF
      and send it home
      to have parents sign themselves up.
    </p>

    <section class="pdf-previews">
      <input type="radio" name="pdf-tabs" id="english-toggle" class="tab-toggle" checked>
      <label for="english-toggle" class="tab-title">English</label>

      <input type="radio" name="pdf-tabs" id="spanish-toggle" class="tab-toggle">
      <label for="spanish-toggle" class="tab-title">Spanish</label>

      <article class="tab-content english-content pdf-preview">
        <h3 class="vcard">Text <b class="fn">{% firstof user.profile.name user.email %}</b></h3>
        <p>
          Hello parents! We have a new system
          that allows you to text-message me
          using any cell phone.
          If you have a question about a deadline,
          clarification about an assignment,
          or want an update on how your child is doing in class,
          just text me.
        </p>
        <p>
          You'll also get reminders about conferences,
          deadlines,
          or anything else I feel you should know immediately.
          We won’t share your information,
          and we won’t text you unless we think it’s important.
        </p>
        <h4>Please sign up, to get started:</h4>
        <ol>
          <li>Text <strong>{@@@}</strong> to <strong>(415) 504-3200</strong>.</li>
          <li>Answer a few questions, and you’re done!</li>
        </ol>
      </article>

      <article class="tab-content spanish-content pdf-preview">
        <h3 class="vcard">Texto <b class="fn">{% firstof user.profile.name user.email %}</b></h3>
      </article>

      <ul class="pdf-downloads">
        <li><a href="{% if group %}{% url 'pdf_parent_instructions' lang='en' group_id=group.id %}{% else %}{% url 'pdf_parent_instructions' lang='en' %}{% endif %}" target="_new" class="download-pdf pdf-en">English</a></li>
        <li><a href="{% if group %}{% url 'pdf_parent_instructions' lang='es' group_id=group.id %}{% else %}{% url 'pdf_parent_instructions' lang='es' %}{% endif %}" target="_new" class="download-pdf pdf-es">Spanish</a></li>
      </ul>
    </section>
  </div>
  {% else %}
  {# This should never happen, but better to have something here just in case. #}
  <p>
    Sorry, we messed up; for some reason your account is not able to sign up parents in bulk.
    Please use the Help! button in the upper right to let us know so we can fix it.
  </p>
  <p>
    In the meantime, you can <a href="{% if group %}{% url 'add_student' group_id=group.id %}{% else %}{% url 'add_student' %}{% endif %}">add students by hand</a>.
  </p>
  {% endif %}
</div>
{% endblock village-content %}
