{% extends "village/_village_content_main.html" %}
{% load url from future %}

{% block village-content %}
<div class="add-student">

  {% if group_just_created %}
  <ol class="form-steps">
    <li>Give your group a name</li>
    <li class="active">Signup new parents in this group</li>
  </ol>
  {% endif %}

  {% if group.code or request.user.profile.code %}
  <div class="parent-instructions">
    <h2>Parent signup:</h2>
    <div class="pdf-instructions">
      <p class="one-line">
        Text <strong>{CODE}</strong> to <strong>(415)&nbsp;504-3200</strong>.
      </p>
      <p>
        With that single sms,
        parents can easily add themselves to
        {% if group %}the '<strong>{{ group.name }}</strong>' group{% else %}your account{% endif %}.
        <strong>Try it yourself!</strong>
        We've prepared a handout that you can send home with students
        to help their parents get started:
      </p>
    </div>

    <section class="pdf-previews">
      <input type="radio" name="pdf-tabs" id="english-toggle" class="tab-toggle" checked>
      <label for="english-toggle" class="tab-title">English</label>

      <input type="radio" name="pdf-tabs" id="spanish-toggle" class="tab-toggle">
      <label for="spanish-toggle" class="tab-title">Spanish</label>

      <article class="tab-content english-content pdf-preview">
        <a href="{% if group %}{% url 'pdf_parent_instructions' lang='en' group_id=group.id %}{% else %}{% url 'pdf_parent_instructions' lang='en' %}{% endif %}" target="_new" class="download-pdf pdf-en">
          Download English
        </a>
        <h3 class="vcard">Text <b class="fn">{% firstof user.profile.name user.email %}</b></h3>
        <div class="inst">
          <p class="number" data-content="415-504-3200">
            Send a text to: <strong>(415)&nbsp;504-3200</strong>
          </p>
          <p class="code" data-content="{CODE}">
            With the message: <strong>{CODE}</strong>
          </p>
        </div>
        <p class="personal-note">
          If you have a question about a deadline,
          need clarification about an assignment,
          or want an update on how your child is doing in class,
          just text me.
          I'll send you reminders about conferences, deadlines,
          or anything else I feel you should know immediately.
        </p>
        <footer>
          <p>
            Standard rates apply.
            Text "stop" to unsubscribe.
          </p>
        </footer>
      </article>

      <article class="tab-content spanish-content pdf-preview">
        <a href="{% if group %}{% url 'pdf_parent_instructions' lang='es' group_id=group.id %}{% else %}{% url 'pdf_parent_instructions' lang='es' %}{% endif %}" target="_new" class="download-pdf pdf-es">
          Download Spanish
        </a>
        <h3 class="vcard">Texto <b class="fn">{% firstof user.profile.name user.email %}</b></h3>
        <div class="inst">
          <p class="number" data-content="415-504-3200">
            Envía un SMS al: <strong>(415)&nbsp;504-3200</strong>
          </p>
          <p class="code" data-content="{CODE}">
            Con este mensaje: <strong>{CODE}</strong>
          </p>
        </div>
        <p class="personal-note">
          Si usted tiene una pregunta acerca de una fecha límite,
          necesita alguna aclaración sobre la tarea,
          o si desea una actualización sobre cómo va su hijo en clase,
          sólo manda me un texto.
          Te voy a enviar recordatorios sobre conferencias, plazos,
          o cualquier otra cosa que siento que usted debe saber de inmediato.
        </p>
        <footer>
          <p>
            Standard rates apply.
            Text "stop" to unsubscribe.
          </p>
        </footer>
      </article>
    </section>
  </div>
  {% else %}
  {# This should never happen, but better to have something here just in case. #}
  <p>
    Sorry, we messed up; for some reason your account is not able to sign up parents in bulk.
    Please use the Help! button in the upper right to let us know so we can fix it.
  </p>
  <p>
    In the meantime, you can <a href="{% if group %}{% url 'add_student' group_id=group.id %}{% else %}{% url 'add_student' %}{% endif %}">add students by hand</a>.
  </p>
  {% endif %}
</div>
{% endblock village-content %}
