{% extends "village/_base.html" %}
{% load url from future %}

{% block village-title %}
  <span aria-hidden="true" class="icon-group"></span>
  {{ group.name }}
{% endblock %}

{% block village-content %}
<div class="dashboard village-main">

<ul class="stats">
  <li class="users students">
    <p class="summary"><b>{{ student_count }}</b> Student{{ student_count|pluralize }}</p>
  </li>
  <li class="users family">
    <p class="summary"><b>{{ family_count }}</b> Family Member{{ family_count|pluralize }}</p>
  </li>
  <li class="users teachers">
    <p class="summary"><b>{{ teacher_count }}</b> Teacher{{ teacher_count|pluralize }}</p>
  </li>
</ul>

<div class="posting">
  <p>
    <span class="select-village">Select a student village</span>
    <a href="{% if group.is_all %}{% url 'all_students' %}{% else %}{% url 'group' group_id=group.id %}{% endif %}" class="group-post-link">Or send a group message</a>
  </p>
</div>

{% comment %}
<div class="activity">
  <h3 class="activity-title">Recent activity for {{ group.name }}</h3>
  <ol class="action-list">
    <li class="action">Something happened</li>
    <li class="action">Other things</li>
    <li class="action">Something happened</li>
    <li class="action">Other things</li>
    <li class="action">Something happened</li>
    <li class="action">Other things</li>
  </ol>
</div>
{% endcomment %}

</div>

{% include "village/post_list/_group_info.html" %}
{% endblock %}
