{% extends "village/_base.html" %}

{% block village-title %}
  <span aria-hidden="true" class="icon-group"></span>
  { group.name }
{% endblock %}

{% block village-content %}
<div class="dashboard">

<ul class="stats">
  <li class="users students">
    <p class="summary"><b>32</b> Students</p>
  </li>
  <li class="users family">
    <p class="summary"><b>14</b> Family Members</p>
  </li>
  <li class="users teachers">
    <p class="summary"><b>6</b> Teachers</p>
  </li>
</ul>

<div class="activity">
  <h3 class="activity-title">Recent activity for { group.name }</h3>
  <ol class="action-list">
    <li class="action">Something happened</li>
    <li class="action">Other things</li>
    <li class="action">Something happened</li>
    <li class="action">Other things</li>
    <li class="action">Something happened</li>
    <li class="action">Other things</li>
  </ol>
</div>

<div class="posting">
  <p>
    <span class="select-village">Select a student village</span>
    <span class="or">or</span>
    <a href="#" class="group-post-link">Send a message to the entire group</a>
  </p>
</div>

</div>
{% endblock %}
