{% extends "village/_base.html" %}

{% block village-title %}
  <span aria-hidden="true" class="icon-group"></span>
  { group.name }
{% endblock %}

{% block village-content %}
<div class="dashboard">

<ul class="stats">
  <li><b>32</b> Students</li>
  <li><b>14</b> Family Members</li>
  <li><b>6</b> Teachers</li>
</ul>

<div class="posting">
  <p>
    <span class="select-village">Select a student village</span>
    or
    <a href="#" class="group-post-link">send a message to the entire group</a>.
  </p>
</div>

<div class="activity">
  <h3 class="activity-title">Recent Activity</h3>
  <ol>
    <li>Something happened</li>
    <li>Other things</li>
  </ol>
</div>

</div>
{% endblock %}
