{% extends "village/_village_content_main.html" %}

{% block village-content %}
<div class="village-main">
  <form method="POST" id="edit-elder-form" class="elder-edit-form">
    {% csrf_token %}
    <h2>Edit {% firstof elder.name elder.user.email elder.phone "Elder" %}</h2>

    {% include "forms/_field.html" with field=form.name %}
    {% include "forms/_field.html" with field=form.role label="Relation to student(s)" %}

    <p>[staff]</p>
    <p>[groups]</p>
    <p>[students]</p>

    <div class="form-actions">
      <button type="submit">Save changes</button>
    </div>
  </form>
</div>

{% include "village/_village_info.html" %}
{% endblock village-content %}
