{% load elders %}
{% load url from future %}

<div class="village-elders">

  {# @@@ IF PARENTS #}
  <h2 class="elders-title parents">Parents</h2>
  {# @@@ List of parents only #}
  <ul>
    {% for nav_elder in group.all_elders %}
    <li class="elder" title="{{ nav_elder|elder_status_description:request.user.profile }}">
      <span class="vcard {{ nav_elder|elder_status:request.user.profile }}{% if nav_elder == elder %} active{% endif %}">
        <b class="title">{{ nav_elder.role }}:</b>
        <span class="fn">{% firstof nav_elder.name nav_elder.user.email nav_elder.phone %}</span>
      </span>
      {% if not nav_elder.school_staff %}
        <div class="listitem-actions">
          <a href="{% if group.is_all %}{% url 'edit_elder' elder_id=nav_elder.id %}{% else %}{% url 'edit_elder_in_group' elder_id=nav_elder.id group_id=group.id %}{% endif %}" class="action-edit ajax-link" title="edit {% firstof nav_elder.name nav_elder.user.email nav_elder.phone %}">edit</a>
          <a href="#" class="action-sms ajax-link" title="text {% firstof nav_elder.name nav_elder.user.email nav_elder.phone %}">send sms</a>
          {# <button class="action-remove" title="remove {% firstof nav_elder.name nav_elder.user.email nav_elder.phone %}">remove</button> #}
        </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {# @@@ IF TEACHERS #}
  <h2 class="elders-title teachers">Teachers</h2>
  {# @@@ List of school staff only #}


  {% if request.user.profile.school_staff and not group.is_all %}
  <a href="{% url 'invite_elder_to_group' group_id=group.id %}" class="addelder-link ajax-link{% if active %} active{% endif %}">Invite Elder</a>
  {% endif %}
</div>
