{% extends "village/_village_content_main.html" %}
{% load widget_tweaks %}

{% block village-content %}
<div class="village-main">
  <form method="POST" action="{% url invite_elder student_id=student.id %}" class="elder-add-form" id="invite-elders-form">
    {% csrf_token %}
    <h2>Invite Elder for {{ student }}</h2>
    {{ form.non_field_errors }}

    {% include "forms/_field.html" with field=form.contact|attr:"placeholder: use email address for teachers, and phone number for parents." label="Email or Phone" %}
    {% include "forms/_field.html" with field=form.relationship|attr:"placeholder: e.g. 'Mom', 'Dad', 'Math Teacher', 'Science Teacher', etc." %}
    {% include "forms/_field.html" with field=form.school_staff label="School Staff" %}

    {% include "forms/_field.html" with field=form.groups %}
    {% include "forms/_field.html" with field=form.students %}

    <div class="form-actions">
      <button type="submit" class="action-post">invite</button>
    </div>

  </form>
</div>

{% include "village/_village_info.html" with active="true" %}
{% endblock village-content %}
