{% extends "village/_village_content_main.html" %}

{% block village-content %}
<div class="village-main">
  <form method="POST" action="{% url invite_elders student_id=student.id %}" class="elder-add-form" id="invite-elders-form">
    {% csrf_token %}
    <h2>Invite Elder for {{ student }}</h2>
    {{ form.non_field_errors }}

    {% include "village/_elder_form.html" %}

    <div class="form-actions">
      <button type="submit" class="action-post">invite</button>
    </div>

  </form>
</div>

{% include "village/_village_info.html" with active="true" %}
{% endblock village-content %}
