{% extends "village/_invite_elder_content.html" %}
{% load url from future %}
{% load widget_tweaks %}

{% block form-action %}{% url 'invite_family' student_id=student.id %}{% if group %}?group={{ group.id }}{% endif %}{% endblock %}

{% block form-id %}invite-family-form{% endblock %}

{% block form-header %}Invite Family of {{ student }}{% endblock %}

{% block form-fields %}
  {% include "forms/_field.html" with field=form.phone|attr:"placeholder: 555-555-5555" %}
  {% include "forms/_field.html" with field=form.relationship|attr:"placeholder: e.g. 'Mom', 'Dad', 'Grandma', etc." %}
{% endblock %}

{% block formactions %}
  <blockquote class="sms-preview">
    <h3>Invitation:</h3>
    {% include "registration/invite_elder_sms.txt" %}
  </blockquote>
{% endblock formactions %}

{% block form-submit-text %}Send Invitation Text{% endblock %}

{% block info-bar %}
{% include "village/_village_info.html" with invite_family_active="true" %}
{% endblock %}
