<li class="student" data-url="{% url village student_id=nav_student.id %}">

  <a href="{% url village student_id=nav_student.id %}" class="ajax-link select-student{% if student == nav_student %} active{% endif %}" data-id="{{ nav_student.id }}">
    <span class="student-name">{{ nav_student }}</span>
    <span class="unread{# if zero #} zero{# endif #}">0</span>
  </a>

  {% if request.user.profile.school_staff %}
  <div class="student-actions">
    <a href="#" class="edit-student" title="edit student name">edit</a>
    <button class="save-student" title="save changes">save</button>
    <button class="remove-student" title="remove student" name="remove" value="{{ nav_student.id }}">remove</button>
  </div>
  {% endif %}
</li>
