{% extends "village/_village_content_main.html" %}

{% block village-content %}
<div class="village-main">
  {% block village-main %}
  <section class="village-feed" data-student-id="{{ student.id }}" data-author="{% firstof user.profile.name user.email %}" data-author-role="{{ relationship.description_or_role }}" data-user-id="{{ request.user.profile.id }}" data-backlog-url="{% url json_posts student_id=student.id %}" data-post-url="{% url json_posts student_id=student.id %}">

    <article class="getting-started">
      <h2>Welcome to {{ student.name }}'s Village!</h2>

      <p>
        To <strong>send a text message</strong> to a user,
        simply type the <strong>@ symbol followed by their name or title</strong>
        (with spaces removed).
        You can also text <b class="nametag">@all</b> users.
      </p>

      <ul>
        <li><b class="nametag">@Mother</b> Jenny’s paper was fantastic!</li>
        <li><b class="nametag">@Mother</b> and <b class="nametag">@Father</b>, Jenny was missing her Math homework today.</li>
        <li>Did Jenny show you <b class="nametag">@all</b> the project she is working on?</li>
      </ul>

      <p>We’ll highlight @Mentions in your feed, so they’re easy to see!</p>
    </article>

  </section>
  {% include "posts/_post_add_form.html" %}
  {% endblock village-main %}
</div>

<div class="village-info">
  {% include "village/_village_elders.html" %}
</div>

{% endblock village-content %}
