{% extends "base_site.html" %}

{% load url from future %}

{% load icanhaz %}

{% block bodyclasses %}{{ block.super }} village-app{% endblock bodyclasses %}

{% block mobile-optimized %}{% endblock mobile-optimized %}

{% block maincontent %}
<article class="village" data-pusher-key="{{ PUSHER_KEY }}" data-user-id="{{ request.user.profile.id }}" data-relationships-url="{% url 'api_dispatch_list' api_name='v1' resource_name='relationship' %}">

  {% include "village/_nav.html" %}

  {% block village %}{% endblock village %}

</article>
{% endblock maincontent %}


{% block last %}

{{ block.super }}
{% icanhaz "post" %}
{% icanhaz "post_timeout_msg" %}
{% icanhaz "ajax_error_msg" %}
{% icanhaz "flash_warning_msg" %}
{% icanhaz "ajax_403_msg" %}
{% icanhaz "remove_listitem" %}
{% icanhaz "group_list" %}
{% icanhaz "group_list_item" %}
{% icanhaz "student_list" %}
{% icanhaz "student_list_item" %}

{% endblock %}
