{% extends "base_site.html" %}

{% load icanhaz %}

{% block bodyclasses %}{{ block.super }} village-app{% endblock bodyclasses %}

{% block mobile-optimized %}{% endblock mobile-optimized %}

{% block maincontent %}
<article class="village" data-pusher-key="{{ PUSHER_KEY }}">
  {% block village %}

  {% endblock village %}
</article>
{% endblock maincontent %}


{% block last %}

{% icanhaz "post" %}
{% icanhaz "post_timeout_msg" %}
{% icanhaz "feed_error_msg" %}
{% icanhaz "pjax_error_msg" %}
{% icanhaz "flash_warning_msg" %}
{% icanhaz "edit_student" %}
{% icanhaz "remove_student" %}

<div style="display: none;">
  {% include "village/_elder_form.html" with form=elders_formset.empty_form id="empty-elder-form" %}
</div>

{% endblock %}
