<aside class="add-student">
  <a href="#" class="addstudent-link">Add a Student</a>

  <form method="POST" class="village-add-form">
    {# csrf_token #}

    {# form.non_field_errors #}

    {% comment %}
    <div class="formfield picture">
      {# form.picture.errors #}
      <label for="picture">upload picture</label>
      <input type="file" id="picture" />
    </div>
    {% endcomment %}

    <div class="formfield name">
      {# form.name.errors #}
      <label for="name">name</label>
      <input type="text" id="name" placeholder="student name" />
    </div>

    <div class="formfield contact">
      {# form.contact.errors #}
      <label for="contact">contact</label>
      <input type="text" id="contact" placeholder="parent/guardian email address or phone number" />
    </div>

    <div class="formfield invite">
      {# form.invite.errors #}
      <textarea id="invite" placeholder="Invite others to join this village...">enter one or multiple (comma-separated) email addresses or phone numbers</textarea>
    </div>

    <div class="form-actions">
      <button type="submit" class="action-post">add</button>
    </div>

  </form>
</aside>
