<section class="village-feed">
  <h2 class="pagehead">Jane Doe</h2>

  {% include "posts/_post_list.html" with user="Tina Weiser" title="Teacher" timestamp="8/6/2012" text="Jane forgot her homework again today." %}
  {% include "posts/_post_list.html" with user="Joanna Mullins" title="Mom" timestamp="8/6/2012" text="Thanks for letting me know. I'll talk to her tonight." %}
  {% include "posts/_post_list.html" with user="Robert Stadler" title="Principal" timestamp="8/7/2012" text="Thanks for coming in today, Joanna. I'm confident we'll see some improvement in Jane's behavior!" %}
  {% include "posts/_post_list.html" with user="Travis Ruiz" title="Teacher" timestamp="8/9/2012" text="Jane did great in science class today. Just wanted to let you know!" %}

  {% include "posts/_post_add_form.html" %}
</section>

{% include "villages/_village_users.html" %}
