<div class="village-main">
  {% block village-main %}
  <section class="village-feed">
    {% include "notes/_note.html" with user="Tina Weiser" title="Teacher" date="7/2/2012" time="12:03pm" text="This is my first test note!" %}
    {% include "notes/_note.html" with user="Tina Weiser" title="Teacher" date="7/8/2012" time="10:31am" text="I'm looking forward to having Althea in class this fall." %}
    {% include "notes/_note.html" with user="Robert Stadler" title="Principal" date="7/15/2012" time="9:07am" text="I'm glad you're playing with this awesome new tool!" %}
    {% include "notes/_note.html" with user="Travis Ruiz" title="Teacher" date="7/21/2012" time="3:23pm" text="This is the best idea ever." %}
    {% include "notes/_note.html" with user="Tina Weiser" title="Teacher" date="7/23/2012" time="5:46pm" text="I know, right?" %}
    {% include "notes/_note.html" with user="Tina Weiser" title="Teacher" date="7/25/2012" time="11:17am" text="Now let's get the parents involved too." %}
    {% include "notes/_note.html" with user="Joanna Mullins" title="Mom" date="7/27/2012" time="2:41pm" text="Thanks for inviting me to participate." %}
    {% include "notes/_note.html" with user="Tina Weiser" title="Teacher" date="7/30/2012" time="8:18am" text="Almost ready for school to start!" %}
    {% include "notes/_note.html" with user="Tina Weiser" title="Teacher" date="8/2/2012" time="10:07am" text="Althea forgot her homework again today." %}
    {% include "notes/_note.html" with user="Joanna Mullins" title="Mom" date="8/2/2012" time="3:32pm" text="Thanks for letting me know. I'll talk to her tonight." %}
    {% include "notes/_note.html" with user="Robert Stadler" title="Principal" date="Tuesday" time="4:57pm" text="Thanks for coming in today, Joanna. I'm confident we'll see some improvement in Althea's behavior!" %}
    {% include "notes/_note.html" with user="Travis Ruiz" title="Teacher" date="Thursday" time="12:04pm" text="Althea did great in science class today. Just wanted to let you know!" %}
  </section>
  {% include "notes/_note_add_form.html" %}
  {% endblock village-main %}
</div>

{% include "villages/_village_users.html" %}
