<form method="POST" class="village-add-form">
  {# csrf_token #}

  {# form.non_field_errors #}

  <div class="formfield name">
    {# form.name.errors #}
    <label for="name">student</label>
    <input type="text" id="name" placeholder="student name" />
  </div>

  <div class="formfield invite">
    {# form.invite.errors #}
    <label for="invite">elders</label>
    <textarea id="invite" placeholder="One or more (comma-separated) email addresses or phone numbers"></textarea>
  </div>

  <div class="form-actions">
    <button type="submit" class="action-post">add</button>
  </div>

</form>
