<section class="village-feed">
  <h2>Jane Doe</h2>

  {% include "notes/_note.html" with user="Tina Weiser" title="Teacher" date="8/2/2012" time="10:07am" text="Jane forgot her homework again today." %}
  {% include "notes/_note.html" with user="Joanna Mullins" title="Mom" date="8/2/2012" time="3:32pm" text="Thanks for letting me know. I'll talk to her tonight." %}
  {% include "notes/_note.html" with user="Robert Stadler" title="Principal" date="Tuesday" time="4:57pm" text="Thanks for coming in today, Joanna. I'm confident we'll see some improvement in Jane's behavior!" %}
  {% include "notes/_note.html" with user="Travis Ruiz" title="Teacher" date="Thursday" time="12:04pm" text="Jane did great in science class today. Just wanted to let you know!" %}

</section>

{% include "notes/_note_add_form.html" %}
{% include "villages/_village_users.html" %}
