<p>Hello!</p>

<p>
  Welcome to Portfoliyo, and thanks for signing up!
  I'm Harsh, one of the founders.
  If there's anything I can do for you, just let me know.
</p>

<p>
  Let's start by
  <a href="{{ base_url }}{% url confirm_email uidb36=uidb36 token=token %}">confirming your email address</a>.
</p>

<p>
  That's it!
  I can answer any other questions you have,
  so feel free to reach out to me any time
  at <a href="mailto:harsh@portfoliyo.org">harsh@portfoliyo.org</a>,
  or just reply to this here email. I'm always happy to talk.
</p>

<p>
Welcome!<br />
- Harsh
</p>

<p>
--<br />
If you did not create this account, please disregard this email.
The confirmation link will expire in a few days.
</p>
