{% extends 'base.html' %}

{% load announce %}
{% load url from future %}

{% block body %}
  {% include "_messages.html" %}

  <div role="banner">
    <h1 class="brand">
      {% block brand %}
      <a href="{% url 'home' %}" rel="home" class="wordmark">Portfoliyo</a>
      {% endblock brand %}
    </h1>

    {% block metanav %}
    {% if user.is_authenticated %}
    <nav class="meta">
      {% if SNAPENGAGE_ID %}
      <a href="#" class="helplink" onClick="return SnapABug.startLink();">Help</a>
      {% endif %}
      <a href="{% url 'edit_profile' %}" class="settingslink" data-user-id="{{ user.id }}" data-user-email="{{ user.email }}" data-user-name="{{ user.profile.name }}">{% firstof user.profile.name user.email %}</a>
      <ul class="useractions">
        <li><a href="{% url 'edit_profile' %}">Edit profile</a></li>
        <li><a href="{% url 'password_change' %}">Change password</a></li>
        <li><form action="{% url 'logout' %}" method="POST" class="signout" id="logoutform">{% csrf_token %}<button type="submit">Sign Out</button></form></li>
      </ul>
    </nav>
    {% endif %}
    {% endblock metanav %}

    {% block announce %}
      <div class="announcements">
        {% if user.is_authenticated %}
        {% for announcement in user.profile|unread_announcements %}
        <p class="announce" data-mark-read-url="{% url 'mark_announcement_read' annc_id=announcement.id %}">
          {{ announcement.text|safe }}
          <a href="#" class="close">close</a>
        </p>
        {% endfor %}
        {% endif %}
      </div>
    {% endblock announce %}
  </div>

  {% block content %}
  <div role="main">
  <div class="container">
    {% block maincontent %}

    {% endblock maincontent %}
  </div>
  </div><!-- /~main -->
  {% endblock content %}

  <footer role="contentinfo">
    <div class="wrap">
      <p class="author vcard">
        copyright &copy; 2012
        <strong class="fn org">Portfoliyo</strong>
      </p>
      {% block extrafooter %}{% endblock extrafooter %}
    </div>
  </footer>

  {% block last %}
    {% include "_ie-warning.html" %}
  {% endblock last %}

{% endblock body %}
