{% extends 'base.html' %}

{% block body %}
<div>
{% block page %}

  <div role="banner">
    <h1 class="brand">
      <a href="{% url village_landing %}" rel="home">
        <b>Portfoliyo</b>
        Village
      </a>
    </h1>

    {% block meta %}
      <nav class="meta">
        {# if user.is_authenticated #}
        <a href="{% url edit_profile %}">Tina Weiser</a>
        <ul class="useractions">
          <li><a href="{% url password_change %}">Change password</a></li>
          <li><a href="{% url village_landing %}">Sign Out</a></li>
        </ul>
        {# endif #}
      </nav>
    {% endblock meta %}
  </div>

  <div role="main">
  <div class="container">
    {% include "messages_ui/_messages.html" %}

    {% block maincontent %}

    {% endblock maincontent %}
  </div>
  </div><!-- /~main -->

  <footer role="contentinfo">
    <p class="author vcard">
      copyright &copy; 2012
      <strong class="fn org">Portfoliyo</strong>
    </p>
  </footer>

{% endblock page %}
</div>
{% endblock body %}
