{% extends 'base.html' %}

{% block body %}
<div>
{% block page %}

  <div role="banner">
    <h1 class="brand"><a href="{% url signup %}" rel="home">Portfoliyo</a></h1>

    <nav role="navigation">
      <ul>
        <li><a href="{% url home %}" class="myvillage">My Village</a></li>
      </ul>
    </nav>

    <nav class="meta">
      {# if user.is_authenticated #}
      <a href="{% url edit_profile %}">Welcome <b>Jane Doe</b></a>
      <ul class="useractions">
        <li><a href="{% url password_change %}">Change password</a></li>
        <li><a href="{% url signup %}">Sign Out</a></li>
      </ul>
      {# endif #}
    </nav>
  </div>

  <div role="main">
  <div class="container">
    {% include "messages_ui/_messages.html" %}

    {% block maincontent %}

    {% endblock maincontent %}
  </div>
  </div><!-- /~main -->

  <footer role="contentinfo">
    <p class="author vcard">
      copyright &copy; 2012
      <strong class="fn org">The K Network</strong>
    </p>
  </footer>

{% endblock page %}
</div>
{% endblock body %}
