{% extends "base_site.html" %}

{% block maincontent %}

  <nav class="village-list">
    <ul>
      {% include "villages/_village_list.html" with user="Althea Duffin" active="true" %}
      {% include "villages/_village_list.html" with user="Kenya Thakkar" %}
      {% include "villages/_village_list.html" with user="Allyson Burell" %}
      {% include "villages/_village_list.html" with user="Malinda Fader" %}
      {% include "villages/_village_list.html" with user="Neil Miguez" %}
      {% include "villages/_village_list.html" with user="Jami Marciano" %}
    </ul>
    {% include "villages/_village_add_form.html" %}
  </nav>

  {% include "villages/_village_detail.html" %}

{% endblock maincontent %}