{% extends "base_site.html" %}
{% block bodyclasses %}village-app{% endblock bodyclasses %}

{% block maincontent %}
<article class="village">

  {% include "student/_student_list.html" %}

  <div class="dashboard">
    <h2>Welcome to Portfoliyo Village!</h2>
    <p class="getstarted">Please select a student.</p>
    {% comment %}
    <div class="bulk-post">
      <h2>Post to all your villages</h2>
      <form method="POST" class="bulk-post-add-form">
        {# csrf_token #}

        {# form.non_field_errors #}

        <div class="formfield post-textfield">
          {# form.note_text.errors #}
          <textarea id="post-text" placeholder="Leave a note..."></textarea>
        </div>

        <div class="form-actions">
          <button type="submit" class="action-post">send</button>
        </div>

      </form>
    </div>
      {% endcomment %}
  </div>

</article>

{% endblock maincontent %}
