{% extends "base_site.html" %}

{% block brand %}
<span class="wordmark">Portfoliyo</span>
{% endblock brand %}

{% block metanav %}
<nav class="login-nav">
  <ul>
    <li><a href="{% url register %}" class="register-link">Get Started</a> or</li>
    <li><a href="{% url login %}" class="login-link">Login</a></li>
  </ul>
</nav>
{% endblock metanav %}

{% block announce %}{% endblock %}

{% block maincontent %}
<article class="landing">
  <section class="intro">
    <img src="{{ STATIC_URL }}images/landing/girl.png" alt="" class="main-image">
    <h2 class="tagline">All your parent-teacher communication in one&nbsp;place.</h2>
    <p class="description">
      Unite parents and teachers
      around the education of every child,
      through frequent and streamlined&nbsp;contact.
    </p>
    <p class="action"><a href="{% url register %}" class="main-register-link">Get Started&nbsp;»</a></p>
  </section>

  <section class="features">
    <article class="feature two-way-feature">
      <h3 class="feature-title">2-way communication</h3>
      <p>
        Use your computer to text parents in seconds.
        Parents respond using any phone.
      </p>
    </article>
    <article class="feature elders-feature">
      <h3 class="feature-title">Invite other teachers to join the&nbsp;conversation.</h3>
      <p>
        Keep the entire faculty in the loop about every student.
        Add multiple family members to the conversation.
        Mom, Dad, Grandma, Grandpa...
      </p>
    </article>
    <article class="feature signup-feature">
      <h3 class="feature-title">Easily sign up parents.</h3>
      <p>
        Send home a sign-up sheet as homework with your students,
        and parents take care of the rest.
      </p>
    </article>
  </section>

  <section class="team">
    <article id="harsh" class="vcard dev">
      <h3 class="fn">Harsh Patel</h3>
      <p class="bio">
        Harsh is a former 5th and 8th grade teacher who loves inspiring kids to be
        creative, confident, and productive.
        His fridge is always stocked with hummus
        and he will drop anything for a good game of frisbee.
      </p>
    </article>

    <article id="carl" class="vcard dev">
      <h3 class="fn">Carl Meyer</h3>
      <p class="bio">
        Carl is a coder, Pythonista, and Django core developer.
        When he’s not chasing a more elegant algorithm,
        he chases frisbees, hockey pucks, and a five-year-old son.
      </p>
    </article>

    <article id="peter" class="vcard dev">
      <h3 class="fn">Peter Kuperman</h3>
      <p class="bio">
        Peter has a background in money management
        and loves to inspire the people around him to greater heights.
        He goes by the title "Chef by Night",
        which probably means he can cook.
      </p>
    </article>

    <article id="jonny" class="vcard dev">
      <h3 class="fn">Jonny Gerig Meyer</h3>
      <p class="bio">
        Jonny
        is a web developer
        and occasional college philosophy professor.
        He likes his frisbees thrown deep,
        his students smart-alecky,
        and his nephew chasing him around the house.
      </p>
    </article>

    <article id="eric" class="vcard dev">
      <h3 class="fn">Eric Meyer</h3>
      <p class="bio">
        Eric
        is a multimedia artist,
        cousin, and uncle,
        with a special focus in
        co-creating silly stories
        and re-enacting video games in the park.
      </p>
    </article>

    {% comment %}
    <article class="vcard pyo">
      <h3><b class="fn org">Portfoliyo</b> is a tax-exempt 501(c)(3) nonprofit.</h3>
      <p>
        We're not trying to become millionaires,
        we just want to make awesome products
        for teachers, students, and parents.
        Your donations are tax-deductible as allowed by law
        (tax&nbsp;ID&nbsp;46-5167493).
      </p>
    </article>
    {% endcomment %}
  </section>
</article>
{% endblock maincontent %}
