{% extends "base_site.html" %}

{% block bodyclasses %}village-landing{% endblock bodyclasses %}

{% block brand %}
<span class="wordmark">Portfoliyo</span>
{% endblock brand %}

{% block metanav %}
<nav class="login-nav">
  <ul>
    <li><a href="{% url register %}" class="register-link">Get Started</a> or</li>
    <li><a href="{% url login %}" class="login-link">Login</a></li>
  </ul>
</nav>
{% endblock metanav %}

{% block announce %}{% endblock %}

{% block maincontent %}
<article class="landing">

  {# Browser Warning ------------------------------------- #}
  <aside class="browser-warning">
    <p>
      You are using an outdated version of Internet Explorer,
      which does not support the modern web technology used on this site.
      Please consider upgrading to a modern browser:
    </p>
    <p class="chrome">
      <a href="https://www.google.com/intl/en/chrome/browser/">
        <img src="{{ STATIC_URL }}images/browsers/chrome.png" alt="Chrome">
      </a>
    </p>
    <div class="details browser-details">
      <p class="summary">show more options »</p>
      <div class="details-body">
        <ul class="browser-list">
          <li>
            <a href="http://www.mozilla.org/en-US/firefox/fx/#desktop">
              <img src="{{ STATIC_URL }}images/browsers/firefox.png" alt="Firefox">
            </a>
          </li>
          <li>
            <a href="http://www.apple.com/safari/">
              <img src="{{ STATIC_URL }}images/browsers/safari.png" alt="Safari">
            </a>
          </li>
          <li>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie">
              <img src="{{ STATIC_URL }}images/browsers/explorer.png" alt="Internet Explorer">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p>
      <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>
      is free to download and easy to install,
      and will provide you with a safer & faster browsing experience.
    </p>
  </aside>

  {# Introduction ------------------------------------- #}
  <section class="intro">
    <figure class="main-image">
      <img src="{{ STATIC_URL }}images/landing/girl.png" class="girlimg" alt="">
      <img src="{{ STATIC_URL }}images/landing/devices.png" class="deviceimg" alt="">
    </figure>
    <div class="intro-copy">
      <h2 class="tagline">
        <strong>Use your computer to text parents in seconds.</strong>
        Free. Simple. Organized.
      </h2>
      <p class="action"><a href="{% url register %}" class="main-register-link">Get Started&nbsp;»</a></p>
    </div>
  </section>

  {# Features ------------------------------------- #}
  <section class="features">
    <article class="feature two-way-feature">
      <h3 class="feature-title">Two-way communication</h3>
      <p>
        Frequent and streamlined contact
        keeps parents & teachers united
        around the education of every child.
        Compliment a student's work,
        send updates about assignments & conferences,
        intervene quickly to change behavior,
        or just stay available for parent&nbsp;questions.
      </p>
    </article>
    <article class="feature elders-feature">
      <h3 class="feature-title">Invite other teachers to join the&nbsp;conversation.</h3>
      <p>
        Keep the entire faculty in the loop about every student.
        Add multiple family members to the conversation.
        Mom, Dad, Grandma,&nbsp;Grandpa...
      </p>
    </article>
    <article class="feature signup-feature">
      <h3 class="feature-title">Easily sign up&nbsp;parents.</h3>
      <p>
        Send home a sign-up sheet as homework with your students,
        and parents take care of the&nbsp;rest.
      </p>
    </article>
  </section>

  {# Team ------------------------------------- #}
  <section class="team">
    <article id="harsh" class="vcard dev">
      <h3 class="fn">Harsh Patel</h3>
      <p class="bio">
        Harsh is a former 5th and 8th grade teacher who loves inspiring kids to be
        creative, confident, and productive.
        His fridge is always stocked with hummus
        and he will drop anything for a good game of&nbsp;frisbee.
      </p>
    </article>

    <article id="carl" class="vcard dev">
      <h3 class="fn">Carl Meyer</h3>
      <p class="bio">
        Carl is a coder, Pythonista, and Django core developer.
        When he’s not chasing a more elegant algorithm,
        he chases frisbees, hockey pucks, and a five-year-old&nbsp;son.
      </p>
    </article>

    <article id="peter" class="vcard dev">
      <h3 class="fn">Peter Kuperman</h3>
      <p class="bio">
        Peter has a background in money management
        and loves to inspire the people around him to greater heights.
        He goes by the title “Chef by Night”,
        which probably means he can&nbsp;cook.
      </p>
    </article>

    <article id="jonny" class="vcard dev">
      <h3 class="fn">Jonny Gerig Meyer</h3>
      <p class="bio">
        Jonny
        is a web developer
        and occasional college philosophy professor.
        He likes his frisbees thrown deep,
        his students smart-alecky,
        and his nephew chasing him around the&nbsp;house.
      </p>
    </article>

    <article id="eric" class="vcard dev">
      <h3 class="fn">Eric Meyer</h3>
      <p class="bio">
        Eric
        is a multimedia artist,
        cousin, and uncle,
        with a special focus in
        co-creating silly stories
        and re-enacting video games in the&nbsp;park.
      </p>
    </article>

  </section>
</article>
{% endblock maincontent %}

{% block extrafooter %}
<p class="nonprofit">
  Portfoliyo is a tax-exempt 501(c)(3) nonprofit.
  Your donations are tax-deductible
  as allowed by law (tax ID&nbsp;46-5167493).
</p>
{% endblock extrafooter %}
