{% extends "base.html" %}
{% load compress %}

{% block styles %}
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/village-landing.css" />
  {% endcompress %}
{% endblock styles %}

{% block body %}
{% include "messages_ui/_messages.html" %}
  <article class="village-landing">
  <div class="inner">
    <h1 role="banner">
      It takes a <b>village</b> to raise a child. Keep your village connected.
    </h1>

    <ul class="summary">
      <li>Use your computer to <strong>text parents</strong> in seconds.</li>
      <li><strong>Parents respond</strong> using any phone or computer.</li>
      <li><strong>Keep a record</strong> of parent communication.</li>
    </ul>

    <figure class="screenshot">
      <img src="{{ STATIC_URL }}images/screenshot.png" alt="Portfoliyo Village Screenshot">
      <figcaption>
        Contact Harsh Patel at
        <span class="email">harsh(put the 'at' sign here)theknetwork.org</span>
        or  314-537-1024
        for more information.
      </figcaption>
    </figure>

    <section class="membership">
      <h2 class="offer">Join the <b>Village Beta</b></h2>
      <p class="offernote">Offer ends September 15.</p>
      {% include "landing/_form.html" %}
      <ul class="benefits">
        <li>Immediate updates as we launch.</li>
        <li>One month free membership with 24/7 on-call help.</li>
        <li>Discounted lifetime membership.</li>
        <li>help shape the future of a project for teachers, by teachers.</li>
      </ul>
    </section>
  </div>
  </article>

  <footer role="contentinfo">
    <p class="author vcard">
      copyright &copy; 2012
      <strong class="fn org">Portfoliyo</strong>
    </p>
  </footer>
{% endblock body %}
