{% extends "base_site.html" %}

{% block maincontent %}
<article class="register">
  <h2 class="pagehead">Create your account</h2>

  <form method="POST" class="register-form">
    {# csrf_token #}

    {# form.non_field_errors #}

    <div class="formset initial-password">
      <div class="formfield password">
        {# form.password.errors #}
        <label for="password">password</label>
        <input type="password" id="password" />
      </div>

      <div class="formfield password-confirm">
        {# form.password_confirm.errors #}
        <label for="password-confirm">confirm password</label>
        <input type="password" id="password-confirm" />
      </div>
    </div>

    {% include "users/_user_basic_bio.html" %}

    <div class="form-actions">
      {# @@@ if teacher #}
      <button type="submit" class="go-network">Create your village</button>
      {# else if parent/guardian #}
      {# <button type="submit" class="go-student">See what's happening in Jane's village!</button> #}
      {# endif #}
    </div>
  </form>
</article>
{% endblock maincontent %}
