{% extends "base_site.html" %}

{% block maincontent %}

<article class="intro">
  <h2>Share your learning with the people who care.</h2>
  <p>
    It takes a village to raise a child —
    parents, relatives, teachers, coaches —
    but it can be hard for everyone to stay connected.
    Portfoliyo is a place to bring a community together
    around each child's learning experiences,
    to see what they are working on
    and provide support & inspiration.
  </p>
  <ul>
    <li>
      <strong>Build a private Portfoliyo network.</strong>
      Get relatives, teachers, mentors, instructors,
      and coaches all on board.
      Portfoliyo is free for everyone.
    </li>
    <li>
      <strong>Parents & kids:
      Post learning experiences.</strong>
      Share notes, photos, and videos
      with your network.
      Show what you are learning,
      and ask for help when you need it!
    </li>
    <li>
      <strong>Supporters:
      Stay informed and in touch.</strong>
      Participate in the lives and educations
      of the children you care about.
      Give them your encouragement and feedback
      to help them learn and grow!
    </li>
  </ul>
</article>

<div class="main-login">
  <h2>Teachers, start a village!</h2>
  {% include "users/_signup_form.html" %}
  <h2>Already registered? Login:</h2>
  {% include "users/_login_form.html" %}
</div>

{% endblock maincontent %}