{% extends "base_site.html" %}

{% block maincontent %}
<section class="landing">
  <article class="intro">
    <h2>Keep the entire village connected.</h2>
    <p>
      It takes a village to raise a child —
      parents, relatives, teachers, coaches —
      but it can be hard for everyone to stay connected.
      Portfoliyo is a place to bring a community together
      around each child's learning experiences,
      to provide the support they need.
    </p>
    <ul>
      <li>
        <strong>Build a private Portfoliyo village.</strong>
        Get parents, teachers, mentors, instructors,
        and administrators all on board.
      </li>
      <li>
        <strong>Teachers:
        Share notes, photos, and documents
        with each student's village.</strong>
        Show what they are learning,
        and ask for help when you (or they) need it!
      </li>
      <li>
        <strong>Parents:
        Stay informed and in touch.</strong>
        Participate in the lives and educations
        of the children you care about.
        Give them your encouragement and feedback
        to help them learn and grow!
      </li>
    </ul>
  </article>
</section>
{% endblock maincontent %}