{% extends "base_site.html" %}

{% block bodyclasses %}village-landing{% endblock bodyclasses %}
{% block meta %}{% endblock meta %}

{% block maincontent %}
<article class="landing">
  <h2>
    It takes a <b>village</b> to raise a child. Keep your village connected.
  </h2>

  <ul class="summary">
    <li>Use your computer to <strong>text parents</strong> in seconds.</li>
    <li><strong>Parents respond</strong> using any phone or computer.</li>
    <li><strong>Keep a record</strong> of parent communication.</li>
  </ul>

  <figure class="screenshot">
    <img src="{{ STATIC_URL }}images/screenshot.png" alt="Portfoliyo Village Screenshot">
  </figure>

  <section class="membership">
    <h3>EarlyBird Membership</h3>
    <p class="offer-note">Ends September 15</p>

    <a href="http://gum.co/nhJP" class="linkaction earlybird">$20</a>
    <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>

    <ul>
      <li>Lifetime subscription. (Save $20/month)</li>
      <li>Free updates forever.</li>
      <li>One month of 24/7 on-call concierge help.</li>
      <li>The warm-fuzzy feeling of supporting a project for teachers, by teachers.</li>
    </ul>
  </section>
</article>
{% endblock maincontent %}