{% extends "base_site.html" %}

{% block bodyclasses %}village-landing{% endblock bodyclasses %}
{% block meta %}{% endblock meta %}

{% block maincontent %}
<article class="landing">
  <h2>
    It takes a <b>village</b> to raise a child. Keep your village connected.
  </h2>

  <ul class="summary">
    <li>Use your computer to <strong>text parents</strong> in seconds.</li>
    <li><strong>Parents respond</strong> using any phone or computer.</li>
    <li><strong>Keep a record</strong> of parent communication.</li>
  </ul>

  <figure class="screenshot">
    <img src="{{ STATIC_URL }}images/screenshot.png" alt="Portfoliyo Village Screenshot">
    <figcaption>
      Contact Harsh Patel at
      <span class="email">harsh(put the 'at' sign here)theknetwork.org</span>
      or  314-537-1024
      for more information.
    </figcaption>
  </figure>

  <section class="membership">
    <h3>Join the <b>Village Beta</b></h3>
    <p class="offernote">Offer ends September 15.</p>
    {% include "messages_ui/_messages.html" %}
    {% include "landing/_form.html" %}
    <ul>
      <li>Immediate updates as we launch.</li>
      <li>One month free membership with 24/7 on-call help.</li>
      <li>Discounted lifetime membership.</li>
      <li>help shape the future of a project for teachers, by teachers.</li>
    </ul>
  </section>
</article>
{% endblock maincontent %}