{% extends "base_site.html" %}
{% block bodyclasses %}village-app{% endblock bodyclasses %}

{% block maincontent %}
<article class="village">

  <nav class="village-nav">
    <ul>
      {% include "villages/_village_list.html" with user="Kenya Thakkar" %}
      {% include "villages/_village_list.html" with user="Allyson Burell" %}
      {% include "villages/_village_list.html" with user="Althea Duffin" active="true" %}
      {% include "villages/_village_list.html" with user="Malinda Fader" %}
      {% include "villages/_village_list.html" with user="Neil Miguez" %}
      {% include "villages/_village_list.html" with user="Jami Marciano" %}
    </ul>
    <aside class="add-student">
      <a href="{% url add_village %}" class="addstudent-link">Add a Student Village</a>
    </aside>
  </nav>

  <div class="village-main">
    {% include "villages/_village_invite_form.html" %}
  </div>

{% include "villages/_village_users.html" with active="true" %}

</article>

{% endblock maincontent %}
