// ---------------------------------------------------------------------------
// Settings

$announce-v-position: top;
$announce-h-position: right;

// ---------------------------------------------------------------------------
// Animations

@include keyframes(announce-in) {
  0% {
    @include opacity(0);
    @include translateY(rhythm(-10));
  }
  100% {
    @include opacity(.95);
    @include translateY(0);
  }
}

@include keyframes(announce-out) {
  0% {
    @include opacity(.95);
    @include translateX(0);
  }
  100% {
    @include opacity(0);
    @include translateX(rhythm(30));
  }
}

// ---------------------------------------------------------------------------
// Basics

%announce-container {
  @include adjust-font-size-to($smallpx);
  @include no-style-list;
  position: fixed;
  #{$announce-v-position}: rhythm(1.75);
  #{$announce-h-position}: rhythm(.25);
  z-index: 999;
  color: $base2;
  .close {
    @extend %icon-replace;
    @extend %icon-cancel-circle;
    position: absolute;
    right: .125rem;
    top: 0;
    width: 1rem;
    #{$link} { color: $back;}
    #{$focus} { color: $base3; }
  }
}

$announce-padding: .75;

%announce {
  @extend %icon;
  @include animation(announce-in 1s ease backwards);
  @include rhythm-borders(1px,$announce-padding);
  @include clearfix;
  @include opacity(.95);
  @include box-shadow($base03 0 0 rhythm(.25));
  position: relative;
  border-color: $back;
  width: columns-width($right + 1);
  &:before {
    position: absolute;
    top: rhythm($announce-padding);
    left: rhythm($announce-padding);
  }
  .body {
    margin: 0 rhythm(.25) 0 rhythm(1);
    a {
      #{$link} {
        color: $base3;
        text-decoration: underline;
      }
      #{$focus} { color: color($accent lightest); }
    }
  }
  &.closed { @extend %closed-animation; }
}

%closed-animation { @include animation(announce-out 800ms ease forwards); }

// ---------------------------------------------------------------------------
// Types

@mixin announce-style($c: $blue, $i: info) {
  @extend %icon-#{$i};
  background: $c;
}

%info-announce {
  @extend %announce;
  @include announce-style($blue, info);
}
%success-announce {
  @extend %announce;
  @include announce-style($green, checkmark);
}
%warning-announce {
  @extend %announce;
  @include announce-style($yellow, warning);
}
%error-announce {
  @extend %announce;
  @include announce-style($red, close);
}

// ---------------------------------------------------------------------------
// Announcements

.announce { @extend %info-announce; }
