// ---------------------------------------------------------------------------
// Village Landing Page

#iframe_close_button {
  @include adjust-font-size-to($xlargepx);
  display: none;
  text-transform: uppercase;
}
.village-landing { .container { min-width: 0; } }


.landing {
  @extend %type;

  h2 {
    @include adjust-font-size-to($largepx);
    @include trailer(1,$largepx);
    b {
      text-transform: capitalize;
      color: $accent;
    }
  }

  h3 { @include adjust-font-size-to($large-normpx); }

  ul {
    @include no-style-list;
    @include trailer;
  }

  li {
    @extend %icon;
    @extend %icon-checkmark;
    position: relative;
    padding-left: 1.5em;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .summary {
    li {
      @include trailer(.5);
      &::before { color: $green; }
    }
  }

  .screenshot {
    @include trailer;
  }

  .membership {
    @extend %bleed;
    @include leading-border(1px,1);
    @include background(linear-gradient(top, rgba($alt,.25), rgba($alt,0)));
    border-color: $base1;
    .offer-note { font-style: italic; }
    .linkaction {
      @include adjust-font-size-to($xlargepx);
      @include trailer(1,$xlargepx);
      display: block;
      font-weight: bold;
      text-align: center;
    }
    ul {
      color: $base1;
    }
  }

  @include at-breakpoint(45em 12) {
    .summary {
      @include span-columns(5 omega);
    }
    .screenshot {
      @include span-columns(7);
      position: relative;
      z-index: 20;
    }

    .membership {
      @include prefix(7);
      clear: right;
      > * { margin-left: gutter(5); }
    }
  }
}
