// ---------------------------------------------------------------------------
// Village

.village {
  @include pie-clearfix;
  position: relative;
  height: rhythm(20);
}

%overflow-y {
  height: 100%;
  padding-right: rhythm(1);
  overflow-y: scroll;
}

%village-lists {
  ul { @include no-style-list; }
  // li { @include ellipsis; }
}

// ---------------------------------------------------------------------------
// Village Nav

.village-nav {
  @extend %village-lists;
  @extend %overflow-y;
  @include span-columns($left);
}

.village-add-form {
  display: none;
}

// ---------------------------------------------------------------------------
// Village Feed

.village-feed {
  @extend %overflow-y;
  @include span-columns($center);

  .note { &:last-child { @include trailer(3.5); } }
}

// ---------------------------------------------------------------------------
// Note Add Form

.note-add-form {
  @include stretch-x(columns($left),columns($right));
  @include background(linear-gradient(top, rgba($base3,0), rgba($base3,1) rhythm(.5)));
  bottom: 0;
  margin-right: gutter()*2;
  padding: rhythm(.5) gutter();

  .form-actions { @include gone; }
}

// ---------------------------------------------------------------------------
// Village Users

.village-users {
  @extend %village-lists;
  @include span-columns($right omega);
}
