// ---------------------------------------------------------------------------
// Village

.village-app {
  [role="main"] { padding-top: 0; padding-bottom: 0; }
}

.village {
  @include pie-clearfix;
  position: relative;
  height: rhythm(24);
}

%overflow-y {
  @include stretch-y;
  overflow-y: scroll;
}

$village-list-size: $smallpx;

%village-lists {
  @include adjust-font-size-to($village-list-size);
  ul { @include no-style-list; }
  li { @include ellipsis; }
}

// ---------------------------------------------------------------------------
// Village Nav

$village-border-color: $base1;

.village-nav {
  @extend %village-lists;
  @extend %overflow-y;
  left: 0;
  width: columns($left);
  border: 1px solid $village-border-color;
  border-width: 0 1px;
  a {
    #{$link} {
      @include trailing-border(1px,.25,$village-list-size);
      @include padding-leader(.25,$village-list-size);
      @include background(linear-gradient(bottom, rgba($base2,.5), rgba($base2,.125)));
      display: block;
      padding-left: rhythm(.5,$village-list-size);
      border-color: $village-border-color;
    }
    #{$focus} {
      @include background(linear-gradient(bottom, rgba($base2,1), rgba($base2,.25)));
    }
  }
  .addstudent-link {
    #{$link} {
      @include background(linear-gradient(bottom, rgba($green,.5), rgba($green,.125)));
    }
  }
  .active {
    #{$link} {
      @include box-shadow(rgba($back,.5) 0 0 $xxxsmallpx inset);
      background: $village-border-color;
      color: $base3;
    }
  }
}

.village-add-form {
  display: none;
}

// ---------------------------------------------------------------------------
// Village Feed

.village-feed {
  @extend %overflow-y;
  left: space($left);
  bottom: rhythm(4.25);
  width: columns($center);
}

.note {
  @include trailer;
}

// ---------------------------------------------------------------------------
// Note Add Form

.note-add-form {
  @include stretch-x(columns($left),space($right));
  bottom: 0;
  padding: rhythm(.5) gutter();
  background: $base2;

  .form-actions { @include gone; }
  .formfield { margin: 0; }
}

// ---------------------------------------------------------------------------
// Village Users

.village-users {
  @extend %village-lists;
  @include span-columns($right omega);
}

.elder-add-form {
  display: none;
}
