// ---------------------------------------------------------------------------
// Add Village

.village-add-form { @extend %village-solo-page; }

// ---------------------------------------------------------------------------
// Add Elder

.elder-add-form { @extend %village-main-page; }

$formspace: $center - 2;

.formset.elders {
  @extend %notice-base;
  @include bleed;
  @include leader;
  @include inline-form(2, $formspace - 2, $formspace);
  position: relative;

  .formset-head {
    @include bleed;
    @include trailer;
    background: rgba($base01,.5);
    color: $base3;
  }
  .fieldset {
    @include pie-clearfix;
    position: relative;
    + .fieldset {
      @include leader(.5);
      @include leading-border(1px,1);
      border-color: rgba($base1,.5);
    }
  }
  .school-staff-field {  margin: 0; }
  .formhelp { display: none; }
}

.pluselder {
  @extend %icon-replace;
  @extend %icon-plus-alt;
  // position: absolute;
  #{$link} { color: $alt; }
  #{$focus} { color: $green; }
}

.delete-row {
  @extend %icon-replace;
  @extend %icon-x-altx-alt;
  position: absolute;
  top: rhythm(.125);
  left: 0;
  #{$link} { color: rgba($base1,.5); }
  #{$focus} { color: $red; }
}
