{% extends "village/_base.html" %}
{% load url from future %}

{% block village-title %}
  <span aria-hidden="true" class="icon-add-student"></span>
  Signup parents{% if group %} <b>in</b> {{ group.name }}{% endif %}
{% endblock village-title %}

{% block village-content %}
<div class="parent-signup">

<input type="radio" id="sms-signup-toggle" name="signup-tabs" class="radio-value" checked />
<input type="radio" id="form-signup-toggle" name="signup-tabs" class="radio-value" />

<div class="tab-options">
  <label for="sms-signup-toggle" class="radio-type">SMS signup</label>
  <label for="form-signup-toggle" class="radio-type">Add by hand</label>
</div>

{% if code %}
<section class="sms-signup">
  {% if group_just_created %}
  <ol class="form-steps">
    <li>Give your group a name</li>
    <li class="active">Signup new parents in this group</li>
  </ol>
  {% endif %}

  <div class="sms-instructions">
    <div class="phone-img">
      <aside class="try-it"><b>Try it yourself!</b></aside>
    </div>
    <p>
      Send a text to:
      <strong>{{ pyo_phone }}</strong>
    </p>
    <p>
      With the message:
      <strong>{{ code|lower }}</strong>
    </p>
  </div>

  <div class="sms-downloads">
    <h4 class="download-title">Download & print these instructions:</h4>
    {% include 'village/student_form/bulksheet/_download.html' with lang='English' lang_code='en' %}
    {% include 'village/student_form/bulksheet/_download.html' with lang='Spanish' lang_code='es' %}
  </div>
</section>
{% endif %}

<section class="form-signup">
  {% include "village/student_form/_add_student_form.html" %}
</section>

</div>
{% endblock village-content %}
