{% extends "village/_base.html" %}
{% load url from future %}

{% block village-title %}
  <span aria-hidden="true" class="icon-add-student"></span>
  Signup parents{% if group %} <b>in</b> {{ group.name }}{% endif %}
{% endblock village-title %}

{% block village-content %}
<div class="parent-signup">

{% if code %}
<section class="bulk-signup">
  {% if group_just_created %}
  <ol class="form-steps">
    <li>Give your group a name</li>
    <li class="active">Signup new parents in this group</li>
  </ol>
  {% endif %}

  <p>bulk instructions</p>

  {% include 'village/student_form/bulksheet/_download.html' with lang='English' lang_code='en' %}
  {% include 'village/student_form/bulksheet/_download.html' with lang='Spanish' lang_code='es' %}
</section>
{% endif %}

<section class="add-student">
  <p>single form</p>
  {% include "village/student_form/_edit_student_form.html" %}
</section>

</div>
{% endblock village-content %}
