{% extends "village/student_form/_base.html" %}
{% load url from future %}
{% load widget_tweaks %}

{% block form-action %}{% if group %}{% url 'add_student' group_id=group.id %}{% else %}{% url 'add_student' %}{% endif %}{% endblock %}

{% block form-class %}village-add-form details-body{% endblock %}

{% block form-id %}add-student-form{% endblock %}

{% block form-header %}Add a Student:{% endblock %}

{% block add-family %}
<fieldset class="invite-family-fieldset optional-fieldset">
  <p class="fieldset-header">
    Invite a family member:
    <span class="fieldset-optional">[optional]</span>
  </p>

  {{ family_form.non_field_errors }}

  {% include "forms/_field.html" with field=form.family_form.name|attr:"placeholder:Please include either a name or relationship." %}
  {% include "forms/_field.html" with field=form.family_form.role|attr:"placeholder:e.g. Mom, Dad, Grandma, etc." label="Relation to student" %}
  {% include "forms/_field.html" with field=form.family_form.phone|attr:"placeholder:555-555-5555" %}

  {% include "sms/invite_elder.html" with inviter=user.profile student='<span class="replace-student-name">[student]</span>'|safe %}

</fieldset>
{% endblock add-family %}

{% block form-button-text %}add{% endblock %}
