{% extends "village/_base.html" %}
{% load url from future %}

{% block village-header %}
  <div class="page-actions">
    <a href="{% url 'village' student_id=student.id %}{% if group.id %}?group={{ group.id }}{% endif %}" class="action-back ajax-link">Back to {{ student.name }}</a>
  </div>
  <h2 class="village-title">
    <span aria-hidden="true" class="icon-edit"></span>
    <b>Edit</b> {{ student.name }}
  </h2>
{% endblock %}

{% block village-content %}
  {% include "village/student_form/_edit_student_form.html" %}
{% endblock %}
