{% extends "village/student_form/_base.html" %}
{% load url from future %}

{% block form-header %}
  <h2 class="village-title">
    <span aria-hidden="true" class="icon-edit"></span>
    <b>Edit</b> {{ student.name }}
  </h2>
  <div class="page-actions">
    <a href="{% url 'village' student_id=student.id %}{% if group.id %}?group={{ group.id }}{% endif %}" class="action-back ajax-link">Back to {{ student.name }}</a>
  </div>
{% endblock %}

{% block form-action %}{% url 'edit_student' student_id=student.id %}{% if group %}?group={{ group.id }}{% endif %}{% endblock %}

{% block form-id %}edit-student-form{% endblock %}
{% block form-class %}village-edit-form{% endblock %}

{% block more-actions %}
  <p class="remove-item">
    <button class="action-remove secondary" type="submit" name="remove" value="1">
      Remove {{ student.name }}
    </button>
  </p>
  <p><a href="{% url 'village' student_id=student.id %}{% if group.id %}?group={{ group.id }}{% endif %}" class="cancel ajax-link">Cancel</a> or</p>
{% endblock %}

{% block form-button-text %}save{% endblock %}
