{% load widget_tweaks %}

<form method="POST">
  {% csrf_token %}
  <div class="formfield">
    {{ form.email.errors }}
    <label for="email">E-Mail</label>

    {# @@@ Mocked in for now #}
    {{ form.email|attr:"placeholder:Enter your email, and we'll be in touch." }}
    <input type="email" id="email" placeholder="Enter your email, and we'll be in touch." />

    <button type="submit" class="action-betasignup">signup!</button>
    <p class="formhelp">We'll keep your email address private and secure.</p>
  </div>
</form>
