{% extends "village/_base.html" %}
{% load url from future %}

{% block village-header %}
  <h2 class="village-title">
    <span aria-hidden="true" class="icon-edit"></span>
    <b>Edit</b> {% firstof elder.name elder.user.email elder.phone "Family Member" %}
  </h2>
  <div class="page-actions">
    <a href="{% if student %}{% url 'village' student_id=student.id %}{% elif group.is_all %}{% url 'all_students' %}{% else %}{% url 'group' group_id=group.id %}{% endif %}" class="action-back ajax-link">Back to {% firstof student group %}</a>
  </div>
{% endblock %}

{% block village-content %}
<div class="village-main">
  <form method="POST" id="edit-elder-form" class="elder-edit-form">
    {% csrf_token %}

    {% include "forms/_field.html" with field=form.name %}
    {% include "forms/_field.html" with field=form.role label="Relation to student" %}
    {% include "forms/_field.html" with field=form.phone helpinclude="village/elder_form/_sms_preview.html" %}

    <div class="form-actions">
      <p><a href="{% if student %}{% url 'village' student_id=student.id %}{% elif group.is_all %}{% url 'all_students' %}{% else %}{% url 'group' group_id=group.id %}{% endif %}" class="cancel ajax-link">Cancel</a> or</p>
      <button type="submit">Save changes</button>
    </div>
  </form>
</div>

{% if student %}
{% include "village/post_list/_village_info.html" %}
{% else %}
{% include "village/post_list/_group_info.html" %}
{% endif %}
{% endblock village-content %}
