<form method="POST" class="login-form">
  {# csrf_token #}
  {# form.non_field_errors #}

  <div class="formfield username">
    {# form.username.errors #}
    <label for="username">email or phone</label>
    <input type="text" id="username" placeholder="email or phone" />
  </div>

  <div class="formfield password">
    {# form.password.errors #}
    <label for="password">password</label>
    <input type="password" id="password" placeholder="password" />
  </div>

  <div class="form-actions">
    <a href="{% url password_reset %}" class="reset-link" title="forgot your password?">Forgot your password?</a>
    <button type="submit">Login</button>
  </div>
</form>
