<form method="POST" class="login-form">
  {# csrf_token #}

  <h2>Login</h2>
  {# form.non_field_errors #}

  <div class="formfield username">
    {# form.username.errors #}
    <label for="username">username</label>
    <input type="text" id="username" />
  </div>

  <div class="formfield password">
    {# form.password.errors #}
    <label for="password">password</label>
    <input type="password" id="password" />
  </div>

  <div class="form-actions">
    <p>
      Forgot your password?
      <a href="{# @@@ #}/password_reset/">Reset it</a>.
    </p>
    <button type="submit">login</button>
  </div>
</form>
