{% comment %}
<!-- Profile Picture -->
<div class="formfield picture">
  <img src="http://placekitten.com/250/250">
  {# form.picture.errors #}
  <label for="picture">upload picture</label>
  <input type="file" id="picture" />
</div>
{% endcomment %}

<!-- Basic Bio -->
<div class="formset bio">
  <div class="formfield name">
    {# form.name.errors #}
    <label for="name">name</label>
    <input type="text" id="name" />
  </div>

  {% if first_login %}
  <div class="formset initial-password">
    <div class="formfield password">
      {# form.password.errors #}
      <label for="password">password</label>
      <input type="password" id="password" />
    </div>

    <div class="formfield password-confirm">
      {# form.password_confirm.errors #}
      <label for="password-confirm">confirm password</label>
      <input type="password" id="password-confirm" />
    </div>
  </div>
  {% endif %}

  <div class="formfield title">
    {# form.username.errors #}
    <label for="title">relation to student(s)</label>
    <input type="text" id="title" />
  </div>

  <div class="formfield email">
    {# form.email.errors #}
    <label for="email">email</label>
    <input type="text" id="email" />
  </div>

  {% if not first_login %}
  <div class="formfield phone">
    {# form.phone.errors #}
    <label for="phone">phone</label>
    <input type="tel" id="phone" />
  </div>
  {% endif %}
</div>
