{% extends "base_site.html" %}

{% block maincontent %}
<article class="awaiting-activation">
  <h2 class="pagehead">Confirm your email address</h2>
  <p>
    Almost there!
  </p>
  <p>
    We've sent you an email to confirm your email address.
    <strong>Check your email</strong> and
    <strong>follow the link</strong> you'll find in it.
  </p>
  <p>
    If you didn't get an activation email, please contact Harsh Patel
    at <span class="email">harsh(put the 'at' sign here)portfoliyo.org</span>
    and we'll get it sorted out.
  </p>
</article>

{% endblock maincontent %}
