{% extends "base_site.html" %}

{% block maincontent %}
<article class="failed-email-confirmation">
  <h2 class="pagehead">Couldn't confirm your email address</h2>
  <p>
    Oops!
  </p>
  <p>
    The confirmation link you used doesn't seem to be valid.
    Maybe it's too old?
    {# @@@ link to send another one #}
  </p>
  <p>
    If you didn't get an activation email, please contact Harsh Patel
    at <span class="email">harsh(put the 'at' sign here)portfoliyo.org</span>
    and we'll get it sorted out.
  </p>
</article>

{% endblock maincontent %}
