{% extends "base_site.html" %}
{% load widget_tweaks %}

{% block maincontent %}

<article class="edit-profile">
  <h2 class="pagehead">Edit your profile</h2>

  <form method="POST" class="profile-edit-form" id="edit-profile-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="fieldset bio">
      {% include "forms/_field.html" with field=form.name label="Students call me..." %}
      {% include "forms/_field.html" with field=form.role|attr:"placeholder:e.g. Math Teacher, Science Teacher, ELA Teacher, etc." label="I am their..." %}
    </div>

    <div class="form-actions">
      <button type="submit">Save changes</button>
    </div>
  </form>

  {# <a href="{ @@@ url deactivate_account }">deactivate my account</a> #}
</article>

{% endblock maincontent %}
