{% extends "base_site.html" %}
{% load widget_tweaks markup %}

{% block maincontent %}

<article class="edit-profile">
  <h2 class="pagehead">Edit your profile</h2>

  <form method="POST" class="profile-edit-form" id="edit-profile-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="fieldset bio">
      {% include "forms/_field.html" with field=form.name label="Students call me..." %}
      {% include "forms/_field.html" with field=form.role|attr:"placeholder:e.g. Math Teacher, Science Teacher, ELA Teacher, etc." label="I am their..." %}
    </div>

    <div class="fieldset notifications">
      <p class="fieldset-header">Send me a notification email when...</p>

      {% include "forms/_field.html" with field=form.notify_new_parent label="A new parent signs up on my account." %}
      {% include "forms/_field.html" with field=form.notify_parent_text label="A parent sends a text to one of my villages." %}
      {% comment %}
      {# @@@ These two notification types don't exist yet. #}
      {% include "forms/_field.html" with field=form.notify_added_to_village label="Another teacher adds me to one of their villages." %}
      {% include "forms/_field.html" with field=form.notify_joined_my_village label="Another teacher joins one of my villages." %}
      {% endcomment %}
      {% include "forms/_field.html" with field=form.notify_teacher_post label="Another teacher posts to one of my villages." %}

    </div>

    <div class="form-actions">
      <button type="submit">Save changes</button>
    </div>
  </form>

  {# <a href="{ @@@ url deactivate_account }">deactivate my account</a> #}
</article>

{% endblock maincontent %}
