{% extends "base_site.html" %}
{% load widget_tweaks markup %}

{% block maincontent %}

<article class="edit-profile">
  <h2 class="pagehead">Edit your profile</h2>

  <form method="POST" class="profile-edit-form" id="edit-profile-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="fieldset bio">
      {% include "forms/_field.html" with field=form.name label="Students call me..." %}
      {% include "forms/_field.html" with field=form.role|attr:"placeholder:e.g. Math Teacher, Science Teacher, ELA Teacher, etc." label="I am their..." %}
    </div>

<div class="content-template">
{% filter markdown %}

### [fieldset] Send me a notification email when...

- _input[type="checkbox"][checked]_ A new parent signs up on my account.
- _input[type="checkbox"][checked]_ A parent sends a text to one of my villages.
- _input[type="checkbox"][checked]_ Another teacher adds me to one of their villages.
- _input[type="checkbox"][checked]_ Another teacher joins one of my villages.
- _input[type="checkbox"][checked]_ Another teacher posts to one of my villages.

{% endfilter %}
</div>

    {# include "forms/_field.html" with field=form.email_notifications label="Email me when a text is sent to one of my villages." #}

    <div class="form-actions">
      <button type="submit">Save changes</button>
    </div>
  </form>

  {# <a href="{ @@@ url deactivate_account }">deactivate my account</a> #}
</article>

{% endblock maincontent %}
