{% extends "base_site.html" %}

{% block maincontent %}

<article class="network">
  <h2>My Network</h2>

  {# if user is student #}
  <h3>Invite Supporters</h3>
  <form method="POST" class="invite-supporters">
    {# csrf_token #}

    {# form.non_field_errors #}

    <div class="formfield supporter-emails">
      {# form.supporter-emails.errors #}
      <textarea id="supporter-emails">enter one or more (comma-separated) email addresses</textarea>
    </div>

    <div class="form-actions">
      <button type="submit">invite</button>
    </div>
  </form>
  {# endif #}

  {# if user has supporters #}
  <div class="supporters">
    <h3>My Supporters</h3>
    <ul>
      <li>{% include "users/_user_list.html" with user="Jessie Hopwood" %}</li>
      <li>{% include "users/_user_list.html" with user="Odessa Kahan" %}</li>
      <li>{% include "users/_user_list.html" with user="Allan Ingold" %}</li>
      <li>{% include "users/_user_list.html" with user="Nelson Guttman" %}</li>
      <li>{% include "users/_user_list.html" with user="Jamie Fackler" %}</li>
      <li>{% include "users/_user_list.html" with user="Alana Bitting" %}</li>
    </ul>
  </div>
  {# endif #}

  {# if user is a supporter #}
  <div class="supporting">
    <h3>Students I'm Supporting</h3>
    <ul>
      <li>{% include "users/_user_list.html" with user="Darren Osei" %}</li>
      <li>{% include "users/_user_list.html" with user="Roxie Buchler" %}</li>
      <li>{% include "users/_user_list.html" with user="Clayton Lynde" %}</li>
      <li>{% include "users/_user_list.html" with user="Darryl Ketcher" %}</li>
      <li>{% include "users/_user_list.html" with user="Annabelle Lawalin" %}</li>
      <li>{% include "users/_user_list.html" with user="Zelma Digirolamo" %}</li>
    </ul>
  </div>
  {# endif #}

</article>

{% endblock maincontent %}