{% extends "base_site.html" %}

{% block maincontent %}

<article id="set-password">
  <h2>Set New Password</h2>

  {# if validlink #}
  <form method="POST" id="set-password-form">
    {# csrf_token #}

    {# form.non_field_errors #}

    <div class="formfield password">
      {# form.password.errors #}
      <label for="password">password</label>
      <input type="password" id="password" />
    </div>

    <div class="formfield password-confirm">
      {# form.password_confirm.errors #}
      <label for="password-confirm">confirm password</label>
      <input type="password" id="password-confirm" />
    </div>

    <div class="form-actions">
      {# @@@ should take you back to where you were #}
      <a href="#" class="cancel">cancel</a> or
      <button type="submit">set your password</button>
    </div>

  </form>
  {# else #}
  <p>
    This password reset link is not valid. You can
    <a href="{% url password_reset %}">request another link</a>.
  </p>
  {# endif #}
</article>

{% endblock maincontent %}
