{% extends "base_site.html" %}

{% block maincontent %}

<article class="change-password">
  <h2 class="pagehead">Change Password</h2>

  <form method="POST" id="change-password-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% include "forms/_field.html" with field=form.old_password %}
    {% include "forms/_field.html" with field=form.new_password1 %}
    {% include "forms/_field.html" with field=form.new_password2 %}

    <div class="form-actions">
      <a href="{% url home %}" class="cancel">cancel</a> or
      <button type="submit">change my password</button>
    </div>

  </form>
</article>

{% endblock maincontent %}
