{% extends "base_site.html" %}

{% block title %}Set New Password | {{ block.super }}{% endblock %}

{% block maincontent %}

<article class="set-password">
  <h2 class="pagehead">Set New Password</h2>

  {% if validlink %}
  <form method="POST" id="set-password-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% include "forms/_field.html" with field=form.new_password1 %}

    {% include "forms/_field.html" with field=form.new_password2 label="Confirm new password" %}

    <div class="form-actions">
      <a href="{% url login %}" class="cancel">cancel</a> or
      <button type="submit">set your password</button>
    </div>

  </form>
  {% else %}
  <p>
    This password reset link is not valid. You can
    <a href="{% url password_reset %}">request another link</a>.
  </p>
  {% endif %}
</article>

{% endblock maincontent %}
