{% extends "base_site.html" %}

{% block maincontent %}

<article id="change-password">
  <h2>Change Password</h2>

  <form method="POST" id="change-password-form">
    {# csrf_token #}

    {# form.non_field_errors #}

    <div class="formfield old-password">
      {# form.old-password.errors #}
      <label for="old-password">old password</label>
      <input type="password" id="old-password" />
    </div>

    <div class="formfield password">
      {# form.password.errors #}
      <label for="password">new password</label>
      <input type="password" id="password" />
    </div>

    <div class="formfield password-confirm">
      {# form.password_confirm.errors #}
      <label for="password-confirm">confirm new password</label>
      <input type="password" id="password-confirm" />
    </div>

    <div class="form-actions">
      {# @@@ should take you back to where you were #}
      <a href="#" class="cancel">cancel</a> or
      <button type="submit">change my password</button>
    </div>

  </form>
</article>

{% endblock maincontent %}