{% extends "base_site.html" %}

{% block maincontent %}

<article class="reset-password">
  <h2 class="pagehead">Reset Password</h2>
  <p>
    Forgot your password?
    No worries!
    Enter your email address here and we’ll send you a link to create a new one.
  </p>

  <form method="POST" id="reset-password-form">
    {# csrf_token #}

    {# form.non_field_errors #}

    <div class="formfield email">
      {# form.email.errors #}
      <label for="email">email</label>
      <input type="email" id="email" />
    </div>

    <div class="form-actions">
      {# @@@ should take you back to where you were #}
      <a href="#" class="cancel">cancel</a> or
      <button type="submit">send</button>
    </div>

  </form>
</article>

{% endblock maincontent %}