{% extends "base_site.html" %}

{% load widget_tweaks %}

{% block title %}Pricing | {{ block.super }}{% endblock %}

{% block maincontent %}

<article class="login">
  <!-- <h2 class="pagehead">Login to Portfoliyo</h2> -->

  <h2 class="pricing-pagehead">Portfoliyo Pricing</h2>

  <aside class="pricing-callout">
    <table class="pricing">
        <thead>
            <tr>
                <th>Number of Texts</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5,000</td>
                <td>$200</td>
            </tr>
            <tr>
                <td>10,000</td>
                <td>$350</td>
            </tr>
            <tr>
                <td>20,000</td>
                <td>$600</td>
            </tr>
            <tr>
                <td>50,000</td>
                <td>$1,250</td>
            </tr>
            <tr>
                <td>100,000<span>*</span></td>
                <td>$2,000</td>
            </tr>
        </tbody>
    </table>

    <p><small>* In the event that your school surpases 100,000 text messages, the school should contact Portfoliyo in order to negotiate a bulk purchase rate.</small></p>
  </aside>

  <p>To continue providing excellent service to teachers and to parents, Portfoliyo needs to become a paid service supported by parents, members of the community, or schools. We are currently in the process of obtaining an E-Rate number which will allow schools and districts to subsidize the expense.</p>

  <p>Our pricing structure, seen below, reflects the fact that we want to keep costs low and affordable. We understand that even with these efforts, not all schools will be able to afford Portfoliyo. That’s why we encourage disadvantaged schools to contact us directly.</p>

  <h2 class="pricing-form-pagehead">Buy Portfoliyo for your school</h2>
<!--
     -->
    <!-- Stripe form  -->

    <form action="" method="POST" id="payment-form">
        {% csrf_token %}
        <span class="payment-errors">{{form.non_field_errors}}</span>

        {% include "forms/_field.html" with field=form.name %}
        {% include "forms/_field.html" with field=form.email %}
        {% include "forms/_field.html" with field=form.phone %}

        {% include "forms/_field.html" with field=form.country_code label="Country" %}

        <div class="school-network">
          {% include "forms/_field.html" with field=form.school label="School or program" helptext="Don't see yours listed? <a href='#add-school' class='add-school-link'>Add a new one</a>." %}

          <div class="fieldset add-school">
            {{ form.addschool }}
            {% include "forms/_field.html" with field=form.addschool_form.name label="School or program name" %}
            {% include "forms/_field.html" with field=form.addschool_form.postcode label="Postal code" helptext="Don't want to add a school or program? <a href='#school-field' class='select-school-link'>Return to the full list</a>." %}
          </div>
        </div>

        {% include "forms/_field.html" with field=form.amount|attr:"placeholder:200" label="Amount (in USD)" %}

        <div class="formfield">
            <label class="type">Card Number</label>
            <input type="text" size="20" data-stripe="number"/>
        </div>
        <div class="formfield">
            <label class="type">CVC</label>
            <input type="text" size="4" data-stripe="cvc"/>
        </div>
        <div class="formfield">
            <label class="type">Expiration</label>
            <input type="text" size="2" data-stripe="exp-month" placeholder="MM"/>
            <input type="text" size="4" data-stripe="exp-year" placeholder="YYYY"/>
        </div>

        <button type="submit">Submit Payment</button>
    </form>

</article>

{% endblock maincontent %}


{% block extrajs %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey("{{ stripe_key }}");

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
</script>
{% endblock extrajs %}