{% extends "base_site.html" %}
{% load widget_tweaks %}
{% load url from future %}

{% block title %}Get started | {{ block.super }}{% endblock title %}

{% block maincontent %}
<article class="register">
  <h2 class="pagehead">Let's get started!</h2>

  <form method="POST" class="register-form" id="register-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="fieldset bio">
      {% include "forms/_field.html" with field=form.name label="Students call me..." %}
      {% include "forms/_field.html" with field=form.role|attr:"placeholder:e.g. Math Teacher, Science Teacher, ELA Teacher, etc." label="I am their..." %}
      {% include "forms/_field.html" with field=form.email %}
      {% include "forms/_field.html" with field=form.phone %}
    </div>

    <div class="fieldset initial-password">
      {% include "forms/_field.html" with field=form.password %}
      {% include "forms/_field.html" with field=form.password_confirm %}
    </div>

    {% include "forms/_field.html" with field=form.country_code label="Country" %}


    <input type="checkbox" id="school-network-toggle">
    <div class="school-network">
      {% include "forms/_field.html" with field=form.school label="School or program" helptext="Don't see yours listed? <a href='#add-school' class='add-school-link'>Add a new one</a>." %}

      <div class="fieldset add-school">
        {{ form.addschool }}
        {% include "forms/_field.html" with field=form.addschool_form.name label="School or program name" %}
        {% include "forms/_field.html" with field=form.addschool_form.postcode label="Postal code" helptext="Don't want to add a school or program? <a href='#school-field' class='select-school-link'>Return to the full list</a>." %}
      </div>
    </div>

    <div class="fieldset terms-confirm">
      {{ form.terms_confirm }}
      <label for="id_terms_confirm" class="check-type">I have read and agree to the <a href="{% url 'terms_of_service' %}" target="_blank">Portfoliyo Terms of Service</a>.</label>
      {{ form.terms_confirm.errors }}
    </div>

    <div class="form-actions">
      <p class="toggle-info"><label for="school-network-toggle">Optionally join a school/program network</label> or</p>
      <button type="submit" class="go-network">Continue</button>
    </div>
  </form>
</article>
{% endblock maincontent %}

{% block extrajs %}
{% include "_crazyegg.html" %}
{% endblock %}
