{% extends "base_site.html" %}
{% load widget_tweaks %}

{% block title %}Create an account | {{ block.super }}{% endblock title %}

{% block maincontent %}
<article class="select-school">
  <h2 class="pagehead">Select a school.</h2>

  <p>
    If you aren't associated with a school,
    you can <button class="action-individual">skip this step</button>.
  </p>

  <form method="POST" class="register-form" id="register-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="formfield school-field">
      <ul class="radio-options">
        <li>
          <input type="radio" name="school" id="school1" value="1"/>
          <label for="school1">Benton Elementary School <span class="zip">46526</span></label>
        </li>
        <li>
          <input type="radio" name="school" id="school2" value="2"/>
          <label for="school2">Goshen Middle School <span class="zip">46526</span></label>
        </li>
        <li>
          <input type="radio" name="school" id="school3" value="3"/>
          <label for="school3">Millersburg Elementary School <span class="zip">46543</span></label>
        </li>
        <li>
          <input type="radio" name="school" id="school4" value="4"/>
          <label for="school4">New Paris Elementary School <span class="zip">46553</span></label>
        </li>
      </ul>
      <p class="formfield-help">Don't see your what you need? <a href="#add-school">Add a new school</a>.</p>
    </div>

    <div class="fieldset add-school" id="add-school">

      <div class="formfield add-school-name-field">
        <label title="School name (required)" class="type" for="id_school_name">School name</label>
        <input type="text" maxlength="200" class="value" id="id_school_name" required="" name="school name">
      </div>

      <div class="formfield add-school-zip-field">
        <label title="School zip code (required)" class="type" for="id_school_zip">School zip code</label>
        <input type="text" maxlength="5" class="value" id="id_school_zip" required="" name="school zip">
      </div>

    </div>

    <div class="form-actions">
      <p></p>
      <button type="submit" class="go-network">Get started!</button>
    </div>
  </form>
</article>
{% endblock maincontent %}
