{% extends "base_site.html" %}

{% block maincontent %}

<article class="edit-profile">
  <h2 class="pagehead">Edit your profile</h2>

  <form method="POST" class="profile-edit-form">
    {# csrf_token #}

    {# form.non_field_errors #}

    {% include "users/_user_basic_bio.html" %}

    <div class="form-actions">
      <button type="submit">Save changes</button>
    </div>
  </form>

  {# <a href="{ @@@ url deactivate_account }">deactivate my account</a> #}
</article>

{% endblock maincontent %}
