{% extends "village/_base.html" %}
{% load url from future %}

{% block village-content %}
<div class="bulk-signup">

  {% if group_just_created %}
  <ol class="form-steps">
    <li>Give your group a name</li>
    <li class="active">Signup new parents in this group</li>
  </ol>
  {% endif %}

  {% if code %}
  <div class="parent-instructions">
    <h2>Signup parents{% if group %} for {{ group.name }}{% endif %}:</h2>
    <div class="pdf-instructions">
      <p class="one-line">
        Text <strong>{{ code }}</strong> to <strong>{{ pyo_phone }}</strong>
        <b>— Try it yourself!</b>
      </p>
      <p>
        Send this handout home with students
        to help their parents sign up:
      </p>
    </div>

    <section class="pdf-previews">
      <input type="radio" name="pdf-tabs" id="english-toggle" class="tab-toggle" checked>
      <label for="english-toggle" class="tab-title">English</label>

      <input type="radio" name="pdf-tabs" id="spanish-toggle" class="tab-toggle">
      <label for="spanish-toggle" class="tab-title">Spanish</label>

      {% include 'village/bulksignup/sheet/_preview.html' with lang='English' lang_code='en' %}

      {% include 'village/bulksignup/sheet/_preview.html' with lang='Spanish' lang_code='es' %}

    </section>
  </div>
  {% else %}
  {# This should never happen, but better to have something here just in case. #}
  <p>
    Sorry, we messed up; for some reason your account is not able to sign up parents in bulk.
    Please use the Help! button in the upper right to let us know so we can fix it.
  </p>
  <p>
    In the meantime, you can <a href="{% if group %}{% url 'add_student' group_id=group.id %}{% else %}{% url 'add_student' %}{% endif %}">add students by hand</a>.
  </p>
  {% endif %}
</div>
{% endblock village-content %}
