// ---------------------------------------------------------------------------
// User Messages

.message {
  @include rhythm-borders(1px,.5);
  position: relative;
  border-color: $base;

  &:first-child { @include border-top-radius(.5em); }
  &:last-child { @include border-bottom-radius(.5em); }

  &:before {
    @extend %icon-content;
    @include adjust-font-size-to($largepx);
    float: left;
    margin-right: .4em;
    min-width: 1em;
    text-align: center;
  }

  &.info {
    @extend %icon-info;
    background: $base3;
  }
  &.success {
    @extend %icon-checkmark;
    background: $green;
  }
  &.warning {
    @extend %icon-warning;
    background: $yellow;
  }
  &.error {
    @extend %icon-cancel;
    background: $red;
  }

  p {
    @include leader(.5);
    @include trailer(.5);
  }

  .close {
    @extend %icon-replace;
    @extend %icon-cancel;
    @include adjust-font-size-to($smallpx);
    position: absolute;
    top: rhythm(.25, $smallpx);
    right: rhythm(.25, $smallpx);
    color: rgba($base,.25);
  }
}

#messages {
  @include border-radius(.5em);
  @include box-shadow($base 0 0 .125em);
  @include no-style-list;

  @include at-breakpoint($break) {
    @include pre(3);
  }
}