// ---------------------------------------------------------------------------
// Signup

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content }
  &:-moz-placeholder{
    @content }
  &.placeholder{
    @content }
}

@mixin apply-placeholder {
  @include placeholder {
    color: rgba($base02,.5);
  }
}

.signup {
  @include padding-leader(.5);

  h2 {
    @include adjust-font-size-to($medpx);
    @include trailer(.5,$medpx);
  }

  form {
    @include box-shadow($base 0 0 .25em);
    padding: rhythm(1) $grid-padding;
    margin: 0 0 - $grid-padding;
    background: rgba($base3,.5);
  }

  .formfield {
    text-align: right;
    margin: 0;
  }

  label {
    @include hide-text;
    display: inline-block;
    position: absolute;
  }

  input {
    @include border-radius(3em);
    @include box-shadow($base 0 0 .125em inset);
    @include adjust-font-size-to($smallpx,1.5);
    @include rhythm-borders(1px,.25,$smallpx);
    @include apply-placeholder;
    width: 100%;
    padding-left: 1em;
    background: $base3;
    color: $base02;
    border-color: $base;
  }

  button {
    @include sassy-button;
    text-transform: capitalize;
  }

  .note {
    @include adjust-font-size-to($xsmallpx,.75);
    @include trailer(.5,$smallpx);
    display: block;
    color: $base01;
  }

  @include at-breakpoint($break) {
    @include padding-leader(2.5);
    @include trailing-border(1px,3);
    @include background(white image-url('landing/classroom2.jpg') no-repeat scroll top center);
    @include background-size(cover);
    @include text-shadow($default-text-shadow, white 0 0 .5em);
    border-color: $base;

    h2, .intro, form {
      @include pre(3);
    }

    h2 {
      @include adjust-font-size-to($largepx);
      @include trailer(.5,$largepx);
    }

    form {
      @include border-radius(rhythm(.25));
      margin-right: 0;
    }

  }
}
