// ---------------------------------------------------------------------------
// Team

.team {
  @include padding-leader(1);
  @include trailing-border(1px,1);
  @include background(rgba($base,.25));
  @include background(rgba($base,.25) linear-gradient(top, rgba($base,.25), rgba($base,0)));
  border-color: $base;

  h3 {
    @include text-shadow(rgba($base,.5) 0 1px 0);
    color: rgba($base3,.75);
  }

  img {
    max-width: 100%;
    border: 3px solid $base;
  }

  p { margin: 0; }


  .vcard {
    @include trailer;

    @media (min-width: 30em) {
      overflow: hidden;

      h3, p {
        @include span-columns(4 omega,6);
      }
      img { @include span-columns(2,6); }
      &:nth-child(even) {
        h3, p {
          @include remove-omega(6);
          text-align: right;
        }
        img { @include omega; }
      }
    }
  }

  @include at-breakpoint($break) {
    @include background(rgba($base,.5) image-url('landing/space.png') no-repeat fixed center);
    @include background(
      image-url('landing/space.png') no-repeat fixed center,
      linear-gradient(right, rgba($base,.75), rgba($base,0))
    );
    @include background-size(cover, auto, auto);

    .vcard {
      @include border-radius(rhythm(.25));
      @include box-shadow($base 0 0 .25em);
      @include post(2);
      padding: rhythm(1);
      background: rgba($base3,.75);

      h3 { color: $base; }

      h3, p {
        @include span-columns(4 omega,6);
      }
      img { @include span-columns(2,6); }

      &:nth-child(even) {
        @include squish(2,0);
        h3, p {
          @include span-columns(4,6);
          text-align: right;
        }
        img { @include span-columns(2 omega,6); }
      }
    }
  }
}
