{% load url from future %}

{% regroup added_to_villages by teacher as villages_grouped_by_adding_teacher %}

{% for village_group in villages_grouped_by_adding_teacher %}
{% with village_group.grouper as teacher and village_group.list as villages %}
<li>
  {% if villages|length == 1 %}
    {{ teacher }} added you to
    <a href="{% url 'village' student_id=villages.0.student.id %}">{{ villages.0.student }}'s village</a>.
  {% else %}
    <ul>
      {{ teacher }} added you to {{ villages|length }} student villages:
      {% for village in villages %}
      <li><a href="{% url 'village' student_id=village.student.id %}">{{ village.student }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</li>
{% endwith %}
{% endfor %}
