{% load url from future %}
{% load humanize %}

{% for village in nonrequested_villages %}

<li>
  <a href="{% url 'village' student_id=village.student.id %}">{{ village.student }}'s village</a> has new messages from
  {% with village.new_authors as elders %}
  {% if elders|length == 1 %} {{ elders.0 }}.{% endif %}
  {% if elders|length == 2 %} {{ elders.0 }} and {{ elders.1 }}.{% endif %}
  {% if elders|length == 3 %} {{ elders.0 }}, {{ elders.1 }} and {{ elders.2 }}.{% endif %}
  {% if elders|length > 3 %}
    {% for elder in elders %}
      {% if forloop.counter < 4 %} {{ elder }},{% elif forloop.counter == 4 %} and {{ elders|length|add:"-3"|apnumber }} more {% if elders|length == 4 %}person{% else %}people{% endif %}.{% endif %}
    {% endfor %}
  {% endif %}
  {% endwith %}
</li>

{% endfor %}
