{% extends "village/_base.html" %}
{% load widget_tweaks %}

{% block village-content %}
<div class="village-main">
  <form method="POST" action="{% block form-action %}{% endblock %}" class="elder-invite-form" id="{% block form-id %}{% endblock %}">
    {% csrf_token %}
    <h2>{% block form-header %}{% endblock %}</h2>
    {{ form.non_field_errors }}

    {% block form-fields %}{% endblock %}

    <div class="form-actions">
      {% block formactions %}{% endblock formactions %}
      <button type="submit" class="action-post">{% block form-submit-text %}invite{% endblock %}</button>
    </div>

  </form>
</div>

{% block info-bar %}
{% endblock %}

{% endblock village-content %}
